[2013-04-13 21:12] whitequark opened #4 "Accepts multiple assignment in a conditional context"
Demonstrated by:

[code]

[2013-04-13 21:16] whitequark opened #5 "Does not detect duplicate argument names"

[2013-04-13 21:16] whitequark opened #6 "Does not detect if both an actual block and block-pass are specified"

[2013-04-14 19:31] #4 closed, assigned to nobody

[2013-04-14 19:31] #6 closed, assigned to nobody

[2013-04-17 14:00] whitequark opened #9 "How to handle 1.9/2.0 files in non-US-ASCII encoding when running on 1.8.7?"
I see two options here:
1. Forbid loading parsers for >1.8 on 1.8.
2. Check encoding for the files being loaded, and bail out if it's not `US-ASCII`/`ASCII-8BIT`.

[2013-04-17 14:02] whitequark opened #10 "Does not handle the # coding: magic comment"

[2013-04-17 17:49] whitequark opened #11 "Needs proper source map construction"
The infrastructure is in place; however, we need a more convenient way to compose source maps and add the composition to all the nodes.

[2013-04-17 17:50] whitequark opened #12 "Needs RubyParser compatibility layer"
Virtually every library that depends on parsing Ruby source currently uses `ruby_parser`. It would be neat to have a compatibility layer for it. The current decoupled parser+builder architecture allows to add that easily.

[2013-04-17 20:31] whitequark opened #13 "Needs a way to get a parser for currently running Ruby"

[2013-04-18 09:44] yorickpeterse opened #14 "String interpolation is broken"
[code]

[2013-04-18 09:58] #14 closed, assigned to nobody

[2013-04-18 10:58] #13 closed, assigned to nobody

[2013-04-18 11:48] #9 closed, assigned to nobody

[2013-04-18 12:47] whitequark opened #15 "Does not parse "def foo bar: 1" in 2.1 mode"

[2013-04-18 14:48] #5 closed, assigned to nobody

[2013-04-18 14:48] #15 closed, assigned to nobody

[2013-04-18 18:17] #10 closed, assigned to nobody

[2013-04-23 18:25] yorickpeterse opened #16 "Constants as method definition receivers are incorrectly parsed"
Parser incorrectly parses method definitions using a constant as a receiver as a method definition on a method call. For example, the following code:

[code]

Results in the following AST:

[code]

Instead it should be the following:

[code]

[2013-04-23 18:30] yorickpeterse opened #17 "AST of the body of a method definition makes no sense"
When parsing a method definition with a body that is more than a single line the results are inconsistent.

A method definition with a simple body:

[code]

This produces the following AST:

[code]

However, when using a more complex definition body:

[code]

We get this instead:

[code]

In both cases Ripper would wrap the body in a `(body)` node, regardless of the amount of lines/nodes in the de

[2013-04-24 04:43] #16 closed, assigned to whitequark

[2013-04-24 05:05] whitequark opened #18 "Add a way to build trees with a subclass of Parser::AST::Node"
Per @yorickpeterse's suggestion.

[2013-04-24 07:54] #17 closed, assigned to nobody

[2013-04-24 08:47] #18 closed, assigned to whitequark

[2013-04-24 08:59] yorickpeterse opened #19 "Document the ability to specify a custom node class"
See #18, the ability to specify a custom AST node (and how) should be documented either in the source code or in a separate Markdown file.

[2013-04-24 18:38] #19 closed, assigned to nobody

[2013-04-25 10:42] #11 closed, assigned to whitequark

[2013-05-02 15:35] judofyr opened #20 "Missing "ambiguous first argument"-warning"
See: https://github.com/rtomayko/tilt/blob/master/test/tilt_wikiclothtemplate_test.rb#L22

[code]

`ruby-parse -w` doesn't give any warnings.

[2013-05-05 21:48] bf4 opened #21 "Needed: Guide to migrate ripper-dependent libraries to use parser"
Libraries that use 'ripper' are cruby-only.  Switching them to use parser would make them compatible with other rubies.  We should put together a guide for how to achieve this migration, and any costs/benefits of doing so.

[2013-05-08 21:15] h0ng10 opened #22 "Problems with multiline comments"
Hi

I'm currently playing with your awesome tool. When I tried to parse a huge code base, I
noticed, that parser seems to have a problem with multiline comments.

I created the following test case:

[code]

I tried to parse it with the following code

[code]

I'm getting this exception:

[code]

[2013-05-08 21:37] h0ng10 opened #23 "Error when parsing Exceptions"
Hi

I found bug when I tried to parse the following ruby code:

[code]

The Problem is the "rescue::Exception => bang" line. While this is horrible code style, it
seems to be valid ruby code (ruby 1.9 executes it without any problems).

[2013-05-09 00:25] #23 closed, assigned to nobody

[2013-05-09 00:36] #22 closed, assigned to nobody

[2013-05-11 19:46] bbatsov opened #24 "Parsing class/module definitions yields a nil name"
Here's an example:

[code]

I'm pretty sure `@name` should not be nil.

Tested with Parser 1.3.1.

[2013-05-12 07:38] #24 closed, assigned to nobody

[2013-05-12 15:15] yorickpeterse opened #26 "Confusing node types when dealing with assignments"
In certain cases parser returns different node types when assigning class variables and constants compared to when assigning other variables (e.g. locals).

Output when assigning a local variable:

[code]

Assigning an instance variable:

[code]

And a class variable:

[code]

However, when defining a class variable inside a method you get the following instead:

[code]

Constants also have their

[2013-05-13 07:40] #26 closed, assigned to nobody

[2013-05-13 15:57] bbatsov opened #27 "String interpolation parsing issue"
Here's a strange thing I noticed

[code]

I'm pretty sure that the correct top-level node should be a `dstr`, otherwise that's kind of confusing. Especially when compared to:

[code]

I feel that the output from the first example should be `(dstr (str "A"))`.

[2013-05-14 13:54] bbatsov opened #28 "Buffer#line_begin_positions performance"
When I started to port RuboCop to Parser I noticed that using the `source_map` functionality degrades performance significantly. Using `ruby-prof` I got the following output:

[code]

The following `Buffer` methods seem to be the problem:

[code]

Looking at the `TODO` I'm pretty sure you're aware of the problem, but I decided to bring it up anyways, since this is a real performance-killer.

[2013-05-14 15:44] bbatsov opened #29 "Keyword is nil in rescue node source map"
Here's an example:

[code]

If would be nice if this behaved similarly to regular/modifier `if`:

[code]

Having the keyword `rescue` location at the `(rescue ...)` node would make it easier to detect   if rescue was used in regular or modifier position(which I need to do, otherwise I would not have bothered you with this). It would also make the generated nodes more consistent with those for `if`

[2013-05-14 16:40] #28 closed, assigned to nobody

[2013-05-15 09:43] bbatsov opened #31 "Extracting comments from source code"
Not really a issue, just a question I wasn't sure where to ask.

rubocop has some comment style checks that need access to the tokens generated by the lexer, since comments for obvious reasons are not part of the parser AST. Basically I need some equivalent of `Ripper.lex`. I noticed the `Lexer` class in Parser's source code and its use to generate the output of `ruby-parser -E`, but I'm quite cer

[2013-05-15 19:54] jonas054 opened #32 "Parsing error when calling a capitalized method without parentheses"
I get

[code]

in this file

[code]

Only the last line is necessary to demonstrate the problem. I've added the method definition to establish that this is a valid ruby program. It prints `/^I/` when I run it.

[2013-05-15 20:01] jonas054 opened #33 "Error when the word encoding appears in a string"
I get this error in a file where the first line is `require 'cane/encoding_aware_iterator'`.

[code]

[2013-05-15 21:07] #33 closed, assigned to nobody

[2013-05-15 21:49] #32 closed, assigned to nobody

[2013-05-16 06:28] bbatsov opened #34 "Add dot/operator attribute to the :send node source map"
As discussed [here](https://github.com/bbatsov/rubocop/commit/01fda7253171e642c919c5b660ce6bb67bec532f#commitcomment-3221937) - it would be useful to have a quick way to get the type of the `.` operator(`.` or `::`) and its position when dealing with `:send` nodes.

[2013-05-16 13:01] #34 closed, assigned to nobody

[2013-05-16 13:51] whitequark opened #35 "List expected tokens in syntax error messages"
The `unexpected_token` diagnostic should suggest several expected variants. While this functionality is not exported by Racc, it should be trivial to extract from the tables.

[2013-05-16 13:52] whitequark opened #36 "Better whitespace handling in lexer"
Currently, whitespace handling in lexer is in most places fragile and may contain errors. It should be refactored.

[2013-05-16 13:53] whitequark opened #37 "Better location info for "embedded document meets end of file" diagnostic"
Currently, this diagnostic just points at EOF. Make it point at the opening `=begin`.

[2013-05-16 13:55] whitequark opened #38 "Better location info for "unicode codepoint too large" diagnostic"
While this is an edge case, it should be done for completeness. (And it may actually be very useful.)

[2013-05-16 13:58] whitequark opened #39 "Improve efficiency of encoding detection in Source::Buffer"
Currently, in order to extract first two lines, the entire file is split into an array.

The proper way is probably to use a regular expression to find whatever's between first two `\n`'s.

[2013-05-16 21:00] #35 closed, assigned to whitequark

[2013-05-18 10:01] #39 closed, assigned to whitequark

[2013-05-18 11:04] #29 closed, assigned to whitequark

[2013-05-19 21:24] whitequark opened #46 "Lexing support"
This issue is closely related to #31 and, incidentally, #36.

What we want is to be able to extract comments from source code, and to be able to get the token stream from it. As it is not possible to tokenize Ruby source without parsing it, the API is bound to Parser::Base.

Suggested API changes/modifications:
- `Parser::Base#parse(source_buffer)`. This is a high-level API.
  Returns a 2-tuple of

[2013-05-20 22:39] jmettraux opened #48 "unparseable input produces (nil)"
Whereas ruby_parser simply passes the `Racc::ParseError`, parser says it's a nil node.

[code]

I'd love to be able to differentiate easily what parses and what doesn't.

[2013-05-20 23:27] #48 closed, assigned to nobody

[2013-05-20 23:56] #37 closed, assigned to whitequark

[2013-05-20 23:56] #38 closed, assigned to whitequark

[2013-05-21 09:45] bbatsov opened #49 "AST Visitor"
I know Parser already has an AST Processor, but I was wondering if it might be sensible to have a simpler method for just walking the AST, yielding interesting nodes to blocks and ignoring certain nodes when necessary. In RuboCop we use this method:

[code]

I guess this is generic enough to be useful to other Parser users. Maybe we could have an `AST::Visitor` mixing with this as the sole method

[2013-05-21 09:49] bbatsov opened #50 "Backports gem"
We've discussed a while back it might be useful to backport certain functionality from 1.9 and 2.0 to enhance performance on older Rubies and easy the maintenance burden of the Parser codebase(less if `respond_to? :something` branches). There is a [backports gem](https://github.com/marcandre/backports), that is pretty modular and seems to be well written and tested. If it's OK by you we might incl

[2013-05-21 10:06] #49 closed, assigned to nobody

[2013-05-21 11:12] #50 closed, assigned to nobody

[2013-05-22 01:52] whitequark opened #51 "2.0 release schedule"
It seems that all issues I want to have solved in 2.0 (#31, #36, #46) are folding nicely, and both the API and internals are being ironed out. So, I'd like to explain the process for 2.0 release.
- As soon as #31 is solved, I release 2.0.0.beta1, so you could play with the new features and port your code to the changed API.
- Proposals which add API incompatibility are accepted.
- Public API is be

[2013-05-22 07:09] #36 closed, assigned to whitequark

[2013-05-22 07:13] #46 closed, assigned to whitequark

[2013-05-22 11:14] bbatsov opened #52 "Empty class/module defs break the AST::Processor"
Processing this code `class Test; end` results in:

[code]

in the `on_class` method in AST::Processor.

I guess some nil check is missing in `AST::Processor`.

[2013-05-22 11:42] #52 closed, assigned to nobody

[2013-05-22 21:54] jmettraux opened #53 "gemspec not valid on master"
[code]

[2013-05-23 07:16] #53 closed, assigned to nobody

[2013-05-25 07:09] #31 closed, assigned to whitequark

[2013-05-25 07:59] #20 closed, assigned to nobody

[2013-05-28 07:47] jonas054 opened #54 "Parsing error for method call near comment"
`ruby-parse` fails when parsing a file with this content:

[code]

I get

[code]

[2013-05-28 09:56] #54 closed, assigned to nobody

[2013-05-28 13:44] jonas054 opened #55 "Error when processing constant assignment"
I have an error which I can reproduce via rubocop, but the error occurs in parser (or ast), so I report it here. I've added printing of the AST in rubocop.

`/tmp/ex2.rb`:

[code]

Error report:

[code]

I used the `--only` flag just to shorten the output.

[2013-05-28 16:56] jonas054 opened #56 "DOS line endings result in strange token positions"
Again, I'm using rubocop to demonstrate a problem that I firmly believe lies within parser. Hope that's OK.

File with CR+LF line endings:

[code]

Command:

[code]

Output (with additional printout of tokens that I've added in rubocop):

[code]

It should be:

[code]

[2013-05-28 17:59] #56 closed, assigned to nobody

[2013-05-28 20:41] #55 closed, assigned to nobody

[2013-05-28 23:05] paulepanter opened #57 "AST’s do not match with `align_eq.rb` example"
Thanks for parser. Trying `align_eq.rb` from the blog post [1], I get the following problem.

[code]

What am I missing?

[1] http://whitequark.org/blog/2013/04/26/lets-play-with-ruby-code/

[2013-05-29 10:40] #57 closed, assigned to nobody

[2013-05-29 16:40] xuanhun opened #58 "Unknown opcode 0x86 (RuntimeError)"
furnace-avm2 -i fram1.abc -d -o ff.abc
/usr/lib/ruby/gems/1.9.1/gems/furnace-avm2-1.0.3/lib/furnace-avm2/abc/primitives/opcode_sequence.rb:206:in `parse': Unknown opcode 0x86 (RuntimeError)
    from /usr/lib/ruby/gems/1.9.1/gems/furnace-avm2-1.0.3/lib/furnace-avm2/abc/primitives/opcode_sequence.rb:65:in`opcode_at'
    from /usr/lib/ruby/gems/1.9.1/gems/furnace-avm2-1.0.3/lib/furnace-avm2/abc/metad

[2013-05-29 16:42] #58 closed, assigned to nobody

[2013-05-30 15:30] jonas054 opened #59 "Incorrect parsing of here documents"
When parsing this file:

[code]

a parsing error occurs:

[code]

A second problem is that when the end-of-text marker does not occur within the string,

[code]

a `const` node is produced:

[code]

[2013-05-30 16:36] lee-dohm opened #60 "Error parsing UTF-8 characters"
From bbatsov/rubocop#219

Here's the set of tests I ran in RuboCop and their results:
1. Ruby MRI 1.9.3 - No encoding line: Syntax errors
2. Ruby MRI 1.9.3 - Encoding line: No errors
3. Ruby MRI 2.0.0 - No encoding line: Parse error (see stack trace below)
4. Ruby MRI 2.0.0 - Encoding line: No errors

All cases used the word "düsseldorf" in a single-quoted string as the test and the file was store

[2013-05-30 18:38] #59 closed, assigned to nobody

[2013-06-02 11:46] jonas054 opened #61 "Here-doc problem on Windows"
There's an [issue for rubocop](https://github.com/bbatsov/rubocop/issues/225) where you'll find a description of the problem. It can be reproduced with CR+LF line endings, while LF line endings work fine.

[2013-06-03 00:34] paulepanter opened #62 "[1.4.1] lib/parser/lexer.rb:3139:in `source_buffer=': undefined method `source'"
Trying the following example code

[code]

Unfortunately I am not able to test if this is a regression, as

[code]

did not work for some reason.

[2013-06-03 00:44] #62 closed, assigned to nobody

[2013-06-04 21:00] joelmccracken opened #63 "RDocs online anywhere"
I did some searching for the Parser Rdocs on the internet, and couldn't seem to find them anywhere. I ended up browsing them locally, so I know they exist.

Is there something I am missing?

[2013-06-05 07:02] #63 closed, assigned to nobody

[2013-06-05 07:30] #61 closed, assigned to nobody

[2013-06-06 15:31] eapache opened #64 "Line Numbers in AST"
I would currently like to use this to parse some ruby, but I need the ability to associate particular parts of the parse tree with specific line numbers in the source files. Is this currently possible? If not, is it feasibly to add? I'm potentially willing to write the patch myself, but I have no idea where to start.

Thanks,
Evan

[2013-06-06 15:47] #64 closed, assigned to nobody

[2013-06-07 07:47] jonas054 opened #65 "Error parsing a UTF-8 encoded multibyte character"
A problem reported for rubocop [here](https://github.com/bbatsov/rubocop/issues/243).

When parsing

[code]

I get this error:

[code]

It looks like the regexp for encoding comments is too strict. The problem goes away if I remove the space before the colon:

[code]

Another thing that doesn't work is upper case:

[code]

Same error.

[2013-06-07 14:00] bbatsov opened #66 "Hash parsing error"
The following code causes a syntax error:

[code]

`Syntax error, unexpected token tCOLON`

This is, however, valid Ruby code:

[code]

[2013-06-08 17:32] #65 closed, assigned to nobody

[2013-06-08 17:32] #66 closed, assigned to nobody

[2013-06-09 07:09] bbatsov opened #67 "Bug in `Comment#associate`"
I've been playing a bit with `Parser::Source::Comment.associate`. Unfortunately, apart from the example in your unit test, most code I've tried is not properly processed. Here's an example:

Code like this:

[code]

Results in the following exception:

[code]

[2013-06-09 07:14] bbatsov opened #68 "Missing then location in if source map"
The following code:

[code]

Results in:

[code]

[2013-06-09 08:01] #67 closed, assigned to nobody

[2013-06-09 08:13] #68 closed, assigned to nobody

[2013-06-09 21:15] whitequark opened #69 "Handling of special nodes in conditional context"
It came to my attention that parser currently does not handle special nodes in a conditional context (https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md#open-questions):
- flip-flops
- "magic" matches

This must be handled before 2.0 release.

So the question is:
- Should parser, by itself, recognize these nodes? They do correspond to Ruby semantics, even if I don't like it. And pa

[2013-06-09 21:16] whitequark opened #70 "Handling of post-condition loops"
It just came to my attention that parser currently does not handle loops with post-condition (https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md#with-postcondition):

[code]

This must be handled before 2.0 release.

[2013-06-16 02:14] #69 closed, assigned to nobody

[2013-06-16 03:20] whitequark opened #71 "Irregularity of nil and (nil)"
Currently, sometimes an empty statement resolves to `(nil)` node and sometimes to `nil`. This should be rectified.

Example: `if foo; end` translates to `(if (send nil foo) (nil) nil)`.

[2013-06-16 03:56] #27 closed, assigned to whitequark

[2013-06-16 06:27] whitequark opened #72 "Void value expressions"
Certain expressions cannot be passed as arguments. Investigate: https://github.com/JoshCheek/seeing_is_believing/issues/10#issuecomment-17920526

[2013-06-17 02:13] #71 closed, assigned to whitequark

[2013-06-17 02:17] whitequark opened #73 "Basic documentation"
Currently, Parser features almost no documentation. This must change before 2.0 release: all public API should be documented. (There isn't a whole lot of it.)

[2013-06-17 04:14] #70 closed, assigned to whitequark

[2013-06-18 03:48] #60 closed, assigned to nobody

[2013-06-18 07:16] bbatsov opened #75 "Missing `begin` node around conditions with `()` around them"
Prior to beta 6 this code `if (a) then something; end` yielded the following ast:

[code]

With beta 6 I get:

[code]

I'd argue that the `begin` node is extremely useful and carries important information in it.

[2013-06-18 07:22] #75 closed, assigned to nobody

[2013-06-19 07:46] postmodern opened #76 "setup_option_parsing: undefined method `prepend' for Parser::Lexer"
I tried running `ruby-parser --explain typo.rb` but got this error:

[code]

[2013-06-21 11:26] mbj opened #77 "Parser should always return Node or raise exception"
While writing an unparser I discovered:

`parser.parse('') # => nil`

This is annoying, I suggest to return a special node type `:empty`. This would allow the unparser to skip some nil checks and a sharper overall API.

Parser should raise or return an instance of `Parser::AST::Node`!

I think I can PR that patch, @whitequark you'd accept such an API change?

[2013-06-21 14:36] #77 closed, assigned to nobody

[2013-06-25 14:01] JoshCheek opened #80 "Parsing comments incorrectly"
_note_ updated the text after realizing I misanalyzed it in my rush

In this program, I want to strip the comment. We can see there is one comment, but the code finds two with ranges `5...6`, and `5...15`, thus they overlap, and cause errors when I try to remove them.

[code]

[2013-06-25 14:48] #76 closed, assigned to nobody

[2013-06-25 19:36] #80 closed, assigned to nobody

[2013-06-25 19:39] whitequark opened #81 "Consider refactoring c_space to w_space in the lexer"
There are some places (nine, as it looks like) where whitespace is significant (i.e. after "?"), and a backslash before newline will be interpreted as non-whitespace.

This could produce a set of bugs extremely rare in practice and producing weird misparsing.

[2013-06-26 01:53] haileys opened #82 "Parser errors on method definitions with keyword names"
[code]

[2013-06-26 12:40] #82 closed, assigned to nobody

[2013-06-26 13:13] #81 closed, assigned to whitequark

[2013-06-26 13:17] #72 closed, assigned to whitequark

[2013-06-26 20:59] tobypinder opened #83 "Ruby 2.0 hash being confused with keyword?"
`rubocop -ed` gave me the following output:

[code]

As you can see I'm using the latest ruby etc. And I'm pulling Rubocop from Git (just did a git update to confirm no weirdness). Looking into it I think the parser gem seems to see the "unless:" as the ruby keyword "unless", rather than as a key for a ruby 2.0-style hash.

[code]

[code]

[code]

Let me know if you need any more info.

[2013-06-26 21:31] timcraft opened #84 "New style hash syntax"
Awesome library, thanks!

Currently choking on method calls with :if hash keys (new style hash syntax):

[code]

This fails with `"unexpected token tCOLON" (Parser::SyntaxError)`.

I've had a look in `test_parser.rb` but can't see any tests for the new style hash syntax. Is the new style hash syntax supported?

Running parser 1.4.2 on ruby 1.9.3p429.

[2013-06-27 01:13] #83 closed, assigned to nobody

[2013-06-27 01:14] #84 closed, assigned to nobody

[2013-06-27 07:59] bbatsov opened #85 "Add keyword locations to `preexe` and `postexe` nodes"
Currently the source map of `BEGIN { something }` looks like:

[code]

Same goes for `END`. It'd be great of the location of the `BEGIN` or `END` keyword is added to the source map for those node types.

[2013-06-27 14:12] bbatsov opened #86 "Incorrect selector location reported"
For multiline method calls like:

[code]

both `node.loc.dot.line` and `node.loc.selector.line` return 1. Seems to me that the selector's line should be 2.

[2013-06-27 20:02] #85 closed, assigned to nobody

[2013-06-28 09:33] #86 closed, assigned to nobody

[2013-06-28 12:54] judofyr opened #87 "Ruby20 doesn't parse camping.rb"
[code]

https://github.com/camping/camping/blob/b95c5dbcfb8c1165f7d9d7a9f6286be2887864e1/lib/camping.rb

[2013-06-28 13:24] #87 closed, assigned to nobody

[2013-07-01 12:10] yorickpeterse opened #88 "Location information for syntax errors"
Currently whenever parser encounters a syntax error it will raise an intance of `Parser::SyntaxError`. However, this instance contains no location information (line, file, etc) and as such isn't very useful for end users. I'd like to request for location information to be added to these instances.

[2013-07-05 10:50] mbj opened #89 "Allow to differentiate between __FILE__/__LINE__ and literals."
Tools like mutant / unparser currently would need to introspect source locations to detect if a literal was a parsed expansion or not.

This will not only kill performance, it adds lots of uglyness. Currently mutant and unparser are source location agnostic!

Please consider adding a non default option allowing `:__FILE__` and `:__LINE__` nodes.

[2013-07-06 22:58] peter-leonov opened #90 ":block node name confuses a little"
Three of three people I've showed the AST tree of method call with block asked about the `:block` node. They thought the block node is a `:block` in general and didn't catch the `:send` node purpose. Of course, we cleared it up together then.

What do you think of renaming the node from a wide name `:block` to something more specific like `:withblock` or `:callblock`? Saving, of course, the curren

[2013-07-08 20:01] jonas054 opened #91 "Byte order mark (BOM) is output as identifier"
Parsing an example file that starts with the UTF-8 byte order mark `ef bb bf`, and then containing only a comment

[code]

I get the following output from `ruby-parse`:

[code]

This seems to be the cause of rubocop's [issue 256](https://github.com/bbatsov/rubocop/issues/256).

[2013-07-10 17:37] #12 closed, assigned to nobody

[2013-07-11 09:22] bbatsov opened #92 "begin and end locations for non-standard string literals"
Currently we get `begin` and `end` locations for `?x` and the `x` in `%w(x)`:

[code]

I think that in the first case `end` should be `nil` and in the second case both `begin` and `end` should be nil.

[2013-07-11 14:10] #88 closed, assigned to whitequark

[2013-07-11 14:10] #89 closed, assigned to whitequark

[2013-07-11 14:10] #90 closed, assigned to whitequark

[2013-07-11 14:10] #91 closed, assigned to whitequark

[2013-07-15 08:33] jonas054 opened #93 "Hanging in parse/tokenize on JRuby and Rubinuis"
This example program
[code]
fails to complete when I run it with jruby-1.7.4 or rbx-head. From rbx I got this stack trace when I pressed Ctrl-C:
[code]
I do not get this problem with ruby-1.9.3-p194 or ruby-2.0.0-p0.
With `parser.diagnostics.all_errors_are_fatal = true`, the program terminates correctly with an exception on all platforms I've tried.

[2013-07-24 13:32] yorickpeterse opened #94 "Parser weirdness when handling braces"
As discussed on IRC, the following breaks:

[code]

While this works fine (syntax wise):

[code]

[2013-07-24 13:35] #94 closed, assigned to nobody

[2013-07-27 20:34] bbatsov opened #95 "Parser::Source::Comment.associate and special comments"
Maybe `Parser::Source::Comment.associate` should discard special comments like the encoding comment and the shebang comment, since they are not attached to any node, following them immediately? Obviously in a code segment like this one:

[code]

The encoding comment is not actually attached to the class definition.

I'm mentioning here a related RuboCop ticket https://github.com/bbatsov/rubocop/is

[2013-07-29 14:40] JoshCheek opened #96 "Inconsistent interfaces, Parser::AST::Node#location vs Parser::Source::Comment#location"
When trying to see if the comment is on the last line of the code, I try this:

[code]

So it doesn't work, because `Parser::AST::Node#location` returns a `Parser::Source::Map::Collection`, whereas I was expecting a `Parser::Source::Range`, like `Parser::Source::Comment` returns.

[2013-07-31 17:31] #96 closed, assigned to whitequark

[2013-07-31 17:39] #95 closed, assigned to nobody

[2013-07-31 19:45] #92 closed, assigned to whitequark

[2013-07-31 19:53] eapache opened #97 "2.0.0pre4 doesn't load"
When I try to require it I get the following back-trace:

[code]

Version pre3 worked fine.

[2013-07-31 20:00] #97 closed, assigned to nobody

[2013-08-01 18:46] dkubb opened #98 "Comment::Associator#advance_through_directives raises a NoMethodError when comments are empty"
I was just going through rubocop to try to update it to use the latest parser before submitting a PR to the project, and one of the failures I noticed was caused when an empty Array was passed into the `Comment::Associator` constructor, and then #advance_through_directives was called. It assumes the current_comment is going to return an object that responds to `#text`, but it returns nil.

I fixed

[2013-08-02 02:37] #98 closed, assigned to nobody

[2013-08-04 01:48] JoshCheek opened #100 "Here documents as arguments cause incorrect source ranges"
Needing to identify where a method ends. But if its argument is a here document, then the results are inconsistent.

When it has parentheses, or a non-heredoc as its last argument, it says the expected line number. When it does not have parentheses and its last argument is a heredoc, it says the method invocation ends at the end of the heredoc.

This is a problem because if I'm rewriting, and I ad

[2013-08-12 23:28] JoshCheek opened #103 "Stabby lambda with unnamed splat args fails to parse."
[code]

[2013-08-15 10:05] #103 closed, assigned to nobody

[2013-09-18 17:44] mbj opened #108 "Consider to backport Array#bsearch for 1.9 users."
Following @bbatsov's reasons I open this issue to highlight the fact that all 1.9 users of would benefit from having this method vendored in parser. Please dont add backports as a dependency ;).

I did NOT measured the speedup for myself.

[2013-09-21 12:52] #108 closed, assigned to nobody

[2013-09-22 14:21] ftomassetti opened #109 "API to traverse the nodes"
Hi,
first of all sorry if this is not the best place where to ask this question.

I was wondering if there is some API/way to query node. Let's suppose I want to get all blocks with one argument: should I call children on each node (starting from the root) then when I get a node of type block knowing that the second children contains the arguments and if the arguments node has one child it means t

[2013-09-26 15:35] #109 closed, assigned to nobody

[2013-10-05 20:06] #73 closed, assigned to nobody

[2013-10-15 13:15] #51 closed, assigned to whitequark

[2013-10-15 20:49] lrengan opened #111 "How to get the parent of a node?"
Hi,

I am using the AST class together with the Parser gem. I am looking for a way to traverse up the AST from a given node, i.e., given a node, I want to access its parent. Any suggestions on how I can do this?

Thank you,
LN

[2013-10-25 14:54] #111 closed, assigned to nobody

[2013-10-25 14:55] #21 closed, assigned to nobody

[2013-11-07 14:06] rubys opened #112 "Encoding::UndefinedConversionError parsing Unicode literals"
Test case:

[code]

Output produced:

[code]

[2013-11-07 14:46] dblock opened #113 "Add support for removing lines in Parser::Source::Rewriter"
Currently lib/parser/source/rewriter.rb doesn't support `remove` with a range that spans multiple lines.

I was trying to implement a corrector for empty lines in Rubocop, https://github.com/dblock/rubocop/commit/8d7f401a0437d6cc234d6325eef9d5a464feecf0.

[2013-11-13 03:20] #112 closed, assigned to nobody

[2013-11-19 01:38] nevir opened #115 "Consider exposing diagnostic reasons"
It would be helpful for https://github.com/bbatsov/rubocop/pull/581 to have the symbolic reason for a diagnostic, rather than regexping the message

[2013-11-25 03:14] #115 closed, assigned to nobody

[2013-12-02 02:11] #113 closed, assigned to nobody

[2013-12-23 12:44] #100 closed, assigned to nobody

[2013-12-23 18:08] mbj opened #121 "Provide a set of valid node types"
In libraries like `mutant` or `unparser` I generally have the "did I covered all node types?" - problem.

There are many possible strategies to answer this question, running the above tools on a big ruby corpus, trying to maintain a list. I partially tried both, without good success. (Maybe my fault).

I think reading the list of generated node types from the source-library `parser` would be the m

[2013-12-29 20:51] mbj opened #124 "Missing documentation for `back-ref` and `kwbegin` node types."
The `AST_FORMAT.md` documentation is missing a source example `back-ref` nodes. The only occurance of a `back-ref` is within aliasing global variables.

[2013-12-29 21:02] #124 closed, assigned to nobody

[2013-12-30 09:54] mbj opened #125 "regexp children str nodes should be quote agostic"
The problem: The delimiter quote gets leaked into the regexp body. Equivalent nodes appear with differend ASTs. For tools that try to reproduce or work with the regexp (unparser / mutant) this creates a situation I could only solve via inspecting the source maps.

As the source maps should NOT carry semantic I think this is a bug in parser.

[code]

In contrast, general delimited input for strings

[2014-01-04 22:49] mbj opened #126 "foo = 1; foo!= 1 does not parse correctly."
The following source, note very whitespace sensitive:

[code]

does not parse correctly:

[code]

I expect it to parse as:

[code]

A whitespace before the `!=` resolves the problem.

IMHO the root cause is here:

https://github.com/whitequark/parser/blob/master/lib/parser/lexer.rl#L1286-L1288

This action should NOT trigger here. A `tIDENTIFIER` should be emitted instead.

[2014-01-05 05:32] #126 closed, assigned to nobody

[2014-01-06 15:32] mbj opened #129 "Return of expressions that contain a block are parsed wrong."
See: https://gist.github.com/mbj/8284308

[2014-01-08 21:50] YorickPeterse opened #130 "Benchmarking"
Creating an issue after discussing this on IRC for a bit with @whitequark. The idea is for the parser Git repository to provide various benchmarks that can be used to assert that certain changes made performance better/worse. There are however some things we need to think about before we implement these benchmarks such as:

* Do we want to benchmark things over a range of Git commits?
* Do we want

[2014-01-10 13:28] #129 closed, assigned to nobody

[2014-01-10 13:39] #125 closed, assigned to nobody

[2014-01-10 20:10] mbj opened #131 "super with blocks attaching to the wrong node."
`super(a, b) { |bar| }` attaches the block to `a` and strips `b` totally.

Additionally:

`super { |bar| }` failes to parse, probably related.

Reference:

http://irclog.whitequark.org/ruby-lang/2014-01-10#6136648;

[2014-01-10 22:09] #131 closed, assigned to nobody

[2014-02-24 07:14] flyerhzm opened #133 "Encoding in Ruby 18"
I tried parser in ruby 1.8.7, ree 2012.02, got the following error

[code]

There is no Encoding class in ruby 1.8

[2014-02-24 08:30] #133 closed, assigned to nobody

[2014-02-28 11:53] yujinakayama opened #134 "`invalid multibyte escape` with regexp literals"
https://github.com/bbatsov/rubocop/issues/796

I've tried to fix this, but I'm not sure the best way.

Here's the points I've investigated so far:
- Regexp literals that include invalid character code with the source's encoding raise error. (e.g. `/\xff/` in utf-8 source)
- [This Ruby documentation](http://docs.ruby-lang.org/ja/2.1.0/class/Encoding.html#C_-A-N-S-I_-X3_4_1968) describes that `US_AS

[2014-03-04 15:16] #121 closed, assigned to nobody

[2014-03-04 16:08] bbatsov opened #136 "TypeError on `\u` something"
Here's some code to reproduce the problem:

[code]

and the stacktrace:

[code]

[2014-03-05 06:41] #136 closed, assigned to nobody

[2014-03-05 17:31] eapache opened #138 "Pull the changelog updates into the master branch please"
It's quite confusing to only have them in the 2.1 branch, especially since changes up to 2.1.3 _are_ in master.

[2014-03-05 21:52] #138 closed, assigned to nobody

[2014-03-31 10:18] whitequark opened #140 "Fall back to Ruby 2.1 parser if the current Ruby runtime is not supported"
See https://github.com/bbatsov/rubocop/pull/924.

[2014-03-31 22:07] yorickpeterse opened #141 "Nesting (send) in (block) makes no sense"
First off, we've had this discussion in the past on IRC and I'm bringing it up
again. While trying to solve
https://github.com/YorickPeterse/ruby-lint/issues/111 I bumped into the
problem again that the syntax of `(block)` nodes makes absolutely no sense and
is causing a great deal of frustration.

To clarify, the use case/problem in the linked issue is as following:

When ruby-lint processes the

[2014-03-31 22:24] #141 closed, assigned to nobody

[2014-04-06 20:06] mbj opened #142 "Encoding::CompatibilityError raised when parsing parts of MRI source."
While finding candiates for unparser corpus testing on CI I found this parser bug:

[code]

This is against latest master from https://github.com/ruby/ruby. And is reproducible under mri-2.0.0, mri-1.9.3, and jruby-1.7.11. I expect its related to the heuristic here:

https://github.com/whitequark/parser/blob/master/lib/parser/lexer.rl#L187-L200

I'll try to fix it by myself, but I report early in

[2014-04-17 01:59] mrGrazy opened #143 "Override Ast check on ruby-rewrite"
This is a really useful tool. Only problem for me is that I'm using it to change the syntax or the files I'm parsing, so I expect the AST to be different when I'm done.

There doesn't seem to be any way to force ruby-rewrite to output the result if the trees differ. I can work around it by hacking the runner, but a -f would be great.

[2014-04-17 03:19] #143 closed, assigned to nobody

[2014-04-17 03:21] #140 closed, assigned to nobody

[2014-04-17 03:40] #142 closed, assigned to nobody

[2014-04-17 04:24] #134 closed, assigned to nobody

[2014-04-22 16:27] mbj opened #145 "Latest 2.1.9 release does not include up-to-date lexer.rl / lexer.rb?"
The latest 2.1.9 release does not seem to include my warning fix. It was not build from master. Seems it was build from the `2.1` branch. So maybe this is not a bug, and intended.

Should I open a PR against the `2.1` branch to get the warning fix into a release? Or was a rebase against master forgotten?

This is a question, and not a bug report.

[2014-04-26 16:04] #145 closed, assigned to nobody

[2014-05-01 12:44] jwarykowski opened #147 "Parser - ruby-head - 2.1-compliant syntax, but you are running 2.2.0"
Hi,

I'm having issues with running against the latest version of ruby-head on one of my projects, the travis build fails, see the following link below:

https://github.com/travis-ci/travis-ci/issues/2241#issuecomment-41906448

Can you confirm whether this will be fixed in commit: https://github.com/whitequark/parser/compare/2892e290c9ef...8baf3b6a7610

Regards,
Jon

[2014-05-04 21:25] #147 closed, assigned to nobody

[2014-05-26 15:49] mbj opened #148 "default.rb:146:in `to_sym': invalid encoding symbol (EncodingError)"
I think I found a bug in parser or rubyspec, from my guess its parser ;)

[code]

[2014-06-14 08:46] bbatsov opened #155 "Error requiring parser/current on ruby-head"
Take from [here](https://travis-ci.org/bbatsov/rubocop/jobs/27552837):

[code]

[2014-06-14 08:55] #155 closed, assigned to nobody

[2014-06-30 06:30] yujinakayama opened #157 "Parse error with new ruby 2.1 method definition style for private/protected"
See: https://github.com/bbatsov/rubocop/issues/1183

I reproduced this with `ruby-parse` in Parser 2.2.0.pre.2.

[2014-06-30 18:01] #157 closed, assigned to nobody

[2014-08-08 19:59] bbatsov opened #158 "Error parsing not(something)"
[code]

See https://github.com/bbatsov/rubocop/issues/1254#issuecomment-51649584

[2014-08-08 20:10] #158 closed, assigned to nobody

[2014-08-10 12:03] chrisseaton opened #159 "Link to rdoc.info in readme is broken"
It links to http://rdoc.info/github/whitequark/parser, which is empty.

[2014-08-10 12:20] #159 closed, assigned to nobody

[2014-08-21 16:24] flyerhzm opened #160 "wrong begin_pos and end_pos"
I encountered a wrong begin_pos and end_pos for hash pair node, the following code can reproduce the issue

[code]

it expects `:type => 'foo'`, but returns `:type => 'foo`, looks the issue only happens when it's used in a block.

I'm using ruby 2.1.2p95 and parser 2.2.0.pre.4

[2014-08-21 16:34] #160 closed, assigned to nobody

[2014-08-22 17:34] MrJoy opened #163 "Using rewriters prevents `bin/ruby_rewrite` from actually rewriting files."
At the end of the `@rewriters.each` loop in `lib/parser/runner/ruby_rewrite.rb`, the value of `buffer.name` is no longer valid due to debugging annotations (iff rewriters have been loaded when invoking `rewrite_ruby`).  The relevant code that munges the filename is this:

[code]

The value of `.name` from `initial_buffer` needs to be preserved/utilized in the subsequent calls to `File.exist?` and

[2014-08-22 21:55] #163 closed, assigned to nobody

[2014-08-26 06:21] #148 closed, assigned to nobody

[2014-09-22 20:19] whitequark opened #164 "Backport 9669"
Ref: https://bugs.ruby-lang.org/issues/9669 Cc: @mbj

Parser's policy for this kind of issue, explicitly, is "in every released version of Parser, parser/rubyXY implements the syntax that the latest patchset of Ruby MRI X.Y recognizes". This need to be added in doco.

[2014-10-03 13:37] #164 closed, assigned to nobody

[2014-10-03 13:52] bbatsov opened #165 "Drop 1.8 support"
Ruby 1.8 finally reached its EOL [recently](https://www.ruby-lang.org/en/news/2014/07/01/eol-for-1-8-7-and-1-9-2/). I think support for it should be retired. Looking at popular projects that use parser it seems that none of them support 1.8 anyways.

[2014-10-03 14:12] #165 closed, assigned to nobody

[2014-10-07 20:01] robpark opened #166 "2.1.3 warning?"
Wondering if I can get any specific information as to why this check?

[code]

I'm getting this warning with MRI 2.1.3.
Is that intentional? necessary?

Thanks.

[2014-10-07 21:00] #166 closed, assigned to nobody

[2014-10-13 17:48] smith opened #167 "Syntax deviation warning for Ruby 2.1.3"
I get this error when running on Ruby 2.1.3:

[code]

I think 2.1.3 needs to be listed in parser/current to make this go away, but not sure about the right way to do that.

[2014-10-13 17:51] #167 closed, assigned to nobody

[2014-10-18 11:45] alexandru-calinoiu opened #168 "Compatibility with ruby 2.1.3"
Hi,

I currenly get this warnings in an aplication running with ruby 2.1.3:

[code]

Is there a compatibility issue with ruby 2.1.3, or I can just ignore the warning?

[2014-10-18 13:43] #168 closed, assigned to nobody

[2014-11-03 05:17] metatron-the-chronicler opened #170 "steps for walking AST generated from file"
Having remembered your article on Parser I found it again and decided to play around with it.  However I am totally confused as to how to retrieve information from a parsed file I used some code from Activerecord as a sample file without comments which is as follows:

[code]

I want to do things like retrieve all method definitions and modify the underlying source code however I'm not understandin

[2014-11-05 03:40] metatron-the-chronicler opened #172 "ruby-rewrite command fails under windows 7 x64 Ruby 2.0.0-p195"
Running

[code]

generates the following error:

[code]

Note that reformat2.rb is copy pasted from your blog post on using the rewriting facilities of Parser.

[2014-11-05 16:28] mvz opened #173 "Decorating the parse result?"
Hello,

I am looking into using parser instead of ruby_parser for [Reek](https://github.com/troessner/reek).

Reek decorates the `Sexp` that ruby_parser outputs with several modules to ease processing. For example, an :if node would be extended with the `IfNode` module to provide `#condition` and `#body` methods.

Is there a way to achieve the same result using parser? Trivially treating the `AST:

[2014-11-13 05:36] #170 closed, assigned to nobody

[2014-11-13 05:36] #172 closed, assigned to nobody

[2014-11-13 05:36] #173 closed, assigned to nobody

[2014-12-21 15:06] samaaron opened #176 "Question: Locate AST node from cursor position"
Is it possible to use this lib to parse a given piece of Ruby and then to locate the specific AST node from the cursor position - i.e. from line number and character position in that line?

[2014-12-21 16:10] #176 closed, assigned to nobody

[2014-12-27 17:55] mvz opened #177 "Parse failure with Ruby 2.2 parser"
The following code fails to be parsed with the Ruby 2.2 parser:

[code]

With the Ruby 2.1 parser, this renders:

[code]

With the Ruby 2.2 parser, the result is this:

[code]

CRuby 2.2 accepts this as correct syntax.

[2014-12-27 20:28] #177 closed, assigned to nobody

[2015-01-07 08:00] borski opened #179 "Upgrade from slop v3 to slop v4"
I'd like to use slop v4.0.0 in a project I'm also using parser in, but parser relies on slop < 4.0.0. Can it get migrated to a newer version?

[2015-01-08 14:58] whitequark commented on #179
Closed in #181 (sort of).

[2015-01-08 17:28] bbatsov commented on #179
@whitequark Guess you should cut 2.2.0.2.

[2015-01-09 13:14] whitequark commented on #179
Done

[2015-01-09 13:15] #179 closed

[2015-01-24 11:14] kubicle opened #184 "Comment.associate "merging" comments for identical nodes"
Hi and thanks for Parser, it works great!

I seem to have a problem with the comments "associate" method. For example the code below:
[code]
will give me the following mapping:
[code]
So it looks like both calls to "f" have 2 lines of comment instead of 1 line each.

[2015-01-24 11:22] whitequark commented on #184
Wow. That was a really dumb decision on my side. Indeed #associate is broken.

[2015-01-24 11:29] whitequark commented on #184
@bbatsov @yujinakayama @YorickPeterse  have you bumped into this bug? (How could you possibly have not?!)

What do you think is the best course of action here? On a second thought it looks like `AST::Node#hash` and `AST::Node#eql?` as currently defined are a bug factory. I want to switch them to compare-by-identity instead, but not sure yet what would be the consequences.

[2015-01-24 12:30] YorickPeterse commented on #184
@whitequark Not that I know of. In my case I only use comments for method definitions where this problem is probably less/not likely to occur.

[2015-01-24 12:49] whitequark commented on #184
No, they will not if I implement this change, which is why I am asking.

[2015-01-24 13:04] bbatsov commented on #184
I concur that the current behaviour has to be changed. The impact to RuboCop's codebase should be minimal.

[2015-01-24 13:15] whitequark commented on #184
On reflection, I think that:
  * The change to _ast_ would be incredibly hard to safely roll out, as most gems depend on _ast_ transitively. It is probably not an option.
  * _#associate_ actually abuses the hash. Logically it returns not a hash table but a list of associations. So it probably should be fixed to return an array of comment-node pairs. As this changes the public API, a new function

[2015-01-24 13:57] YorickPeterse commented on #184
@whitequark To give some context, I depend on separate instances being considered equal in tests like this: https://github.com/YorickPeterse/oga/blob/f94461a9cadd3858bbf2bc5ee39484b865a5af96/spec/oga/xpath/parser/calls_spec.rb#L6

If two separate instances were no longer the same I'd have to fix a few thousand specifications spread across different projects.

[2015-01-24 14:04] whitequark commented on #184
No, that's `==`. I've never talked about changing `==`, but only `eql?` and `hash`.

[2015-01-24 14:15] YorickPeterse commented on #184
Ah ok, I thought it would apply to `==` as well. In that case this should be fine at least for me.

[2015-01-24 17:11] bbatsov commented on #184
While I cannot no how everyone is using `ast` it seems unlikely that many clients will be affected by this (I still can't think of an usage in RuboCop where we're stuffing nodes in hashes) API-wise. I'd suggest releasing ast 4 and be done with it.

Leaving the broken `associate` around will likely lead to some confusion (as `associate` works most of the time). I think this is an example of a case

[2015-01-24 18:42] mbj commented on #184
For me the current definition of `#eql?` and `#hash` are perfect, they reflect value object semantics I'm using `AST::Node` instances with.

If they where redefined to work on the objects identity my use value-object use case in mutant would break.

I could fix this via using a Hash with custom (external `#eql?` / `#hash`) implementations, that reflect the current value object semantics. It would

[2015-01-24 19:05] bbatsov commented on #184
Which might happen in 5 years...

Thinking more about the problem I'm also inclined to believe that probably we shouldn't change anything in AST. Depending of the usage the current definitions can viewed as either good or bad and changing them won't really change this.

[2015-01-24 19:36] whitequark commented on #184
I agree on _ast_. Let's figure out what to do with _associate_...

[2015-01-27 08:16] kubicle commented on #184
Hi everyone and thank you VM for your help.
My 2 cents, since I coded a workaround in the meantime, and I thought it could do the trick if you plan to change associate's API:
I simply returned a similar hash but using ```node.location``` as the keys (instead of ```node```).
This might look a bit hacky to you, though... However it is simpler to use than if ```associate``` was returning an array of

[2015-01-27 08:48] bbatsov commented on #184
That's a hard one. I can't think of a solution that is both elegant and won't break anything in the process.

[2015-02-02 12:00] kubicle opened #185 "Comment.associate"
Code like below is not associating the comment:
[code]

[2015-02-02 12:11] kubicle commented on #185
Similarly, but less frequent, comments at the end of a file are not associated.
I am planning to fork the repo and propose an "associator" that can make the difference between "decoration" comments (attached at the end of a line) and other comments.
If I am the only one with this need, feel free to close my PR.

[2015-02-13 16:44] eapache opened #186 "undefined method `[]' for nil:NilClass"
A file containing the following:
[code]

Raises the exception in the title, with the following backtrace:
[code]

[2015-02-13 16:46] eapache commented on #186
I was parsing our entire code base and came across this pattern in our code base, then reduced it to the above sample. I agree it's weird, but appears to be legitimately accepted by ruby.

[2015-02-13 18:31] whitequark commented on #186
This was fixed in e188015.

[2015-02-13 18:31] #186 closed

[2015-02-19 07:34] JoshCheek opened #187 "Parses invalid regular expressions"
Checked on 1.9 and 2.2

[code]

I think there are a number of these, I found it in a more complex regex and whittled it down to this example.

[2015-02-19 15:38] #187 closed

[2015-02-24 05:07] JoshCheek commented on #185
I hit the end of file comments, too. I deal with it by checking the tokens https://github.com/JoshCheek/seeing_is_believing/blob/267b9e8f5a8cdff268658376bb10670de102c58f/lib/seeing_is_believing/code.rb#L123-130

[2015-02-24 05:08] whitequark commented on #185
This is really a parser bug :/

[2015-03-26 16:54] #184 closed

[2015-03-26 16:54] #185 closed

[2015-03-26 17:18] whitequark commented on #184
@YorickPeterse @bbatsov Please see the updated API in the master branch. Please also test and tell if it causes any trouble for you.

[2015-03-26 17:19] whitequark commented on #184
cc @JoshCheek also

[2015-03-26 19:05] YorickPeterse commented on #184
@whitequark Using the current master branch results in 263 failures out of 490 examples, current stable version of parser passes just fine. I'm getting a huge amount of errors such as `can't modify frozen Parser::Source::Map::Definition`. Currently the following code relies on the comment mapping: https://github.com/YorickPeterse/ruby-lint/blob/master/lib/ruby-lint/parser.rb#L41-L45

What do I hav

[2015-03-27 08:15] whitequark commented on #184
@YorickPeterse After latest master commit should work out of the box.

[2015-03-27 12:56] JoshCheek commented on #184
All my tests pass.

[2015-03-27 20:27] YorickPeterse commented on #184
@whitequark Thanks, all tests pass again using the latest master commit.

[2015-04-14 11:14] pusewicz opened #189 "Warning on Ruby 2.1.6"
Running `parser` on Ruby 2.1.6 yields this:

[code]

[2015-04-14 11:20] #189 closed

[2015-04-14 11:26] pusewicz commented on #189
Thanks!

[2015-04-16 21:17] sds opened #190 "Handling of multiline regexes with comments broke from 2.2.0.3 to 2.2.0.4"
The following runs without problem on `parser` 2.2.0.3, but fails on 2.2.0.4. The trigger appears to be the presence of a parenthesis in a comment.

[code]

[code]

[2015-04-16 21:20] whitequark commented on #190
The reason for this is c2a5e1b1. It... looks like the regexp is invalid? I'm not sure.

[2015-04-16 21:20] bbatsov commented on #190
This has also caused problems in RuboCop - see https://github.com/bbatsov/rubocop/pull/1795#issuecomment-93797061

[2015-04-16 21:21] whitequark commented on #190
Oh. I think I'm not passing the modifiers to it, so it bails without `//x`.

[2015-04-16 21:29] #190 closed

[2015-04-17 08:07] saizai opened #191 "Update changelog for 2.2.2.0"
Current changelog only goes to 2.2.0.4; doesn't explain diff to 2.2.2.0.

[2015-04-17 08:10] whitequark commented on #191
2.2.2.0 does not have any difference from 2.2.0.4, it's just that the first three numbers should have been equal to latest released Ruby MRI and I sort of missed the 2.2.2 release.

[2015-04-17 08:16] saizai commented on #191
I'd suggest just saying that in the changelog, then.

It's good to have the versions there for when people (like me) go to see
what changed on a bundle update.

[2015-04-17 08:19] whitequark commented on #191
The changelog is autogenerated from `git log` by a script I wrote a few years ago. I'm inclined to think it was a mistake, today...

[2015-04-17 09:58] saizai commented on #191
Not entirely a bad idea, but it seems like it just doesn't handle the base
case where there's no logs between releases.

[2015-04-19 21:22] #191 closed

[2015-04-22 01:53] whitequark commented on #130
Does anyone even care?

[2015-04-22 06:48] YorickPeterse commented on #130
@whitequark This isn't really important for me at the moment, so I'm fine with closing this one.

[2015-04-22 06:53] whitequark commented on #130
Closed until someone cares.

[2015-04-22 06:53] #130 closed

[2015-04-23 14:13] phlegx commented on #189
[code]

with parser version 2.2.0.3 and rubocop 0.30.0

[2015-04-24 00:05] whitequark commented on #189
You need at least parser 2.2.0.4 for Ruby 2.1.6.

[2015-04-26 11:00] mvz opened #192 "Refuses to parse valid regexp %r(\))"
The following is valid Ruby since, it seems, at least 1.8.7:
[code]

However, this generates an error with at least parser 2.2.2.1 and 2.2.0.4, but not with 2.2.0.2:
[code]

[2015-04-26 11:09] mvz commented on #191
Would you mind updating CONTRIBUTING.md, which now states parser uses semantic versioning?

[2015-04-26 13:24] whitequark commented on #192
For fuck's sake. Trying to support this language properly is unbearable.

I'll fix this later today...

[2015-04-26 13:41] bbatsov commented on #192
Is it valid in newer Rubies as well?

On 26 April 2015 at 16:24, whitequark <notifications@github.com> wrote:

[2015-04-26 13:41] bbatsov commented on #192
Likely, but still - I had to ask.

On 26 April 2015 at 16:40, Bozhidar Batsov <bozhidar@batsov.com> wrote:

[2015-04-26 15:03] whitequark commented on #192
Yeah.

[2015-04-26 15:12] whitequark commented on #191
Done

[2015-04-26 15:32] whitequark commented on #192
What the actual fuck
[code]

[2015-04-26 16:23] whitequark commented on #192
Ok, I reverse-engineered it. The regexp is initialized verbatim as it appears in the source, including any backslashes, *except* when the backslash escapes a %-string delimiter which is *not* a regexp metacharacter.
[code]

[2015-04-26 17:22] whitequark commented on #192
This was actually introduced as a broken fix for #125.

[2015-04-26 17:32] #192 closed

[2015-04-26 20:35] mvz commented on #191
Thanks!

[2015-04-26 20:36] mvz commented on #192
Thanks!

[2015-04-28 02:29] mbj commented on #192
Mhh. I reported #125 back, and I had a test for `%r(\))` in unparser specs for a long time, it worked upto the latest releases of parser. I think that this regression was introduced very recently.

Too me it looks like the bug was introduced between 2.2.0.3 and 2.2.0.4:

[code]

[2015-04-28 02:35] mbj opened #193 "Release request"
It would be nice to get https://github.com/whitequark/parser/commit/341f5555f56f698862e62e809c250a223d5034bc as part of a release.

I'd like to release unparser compatible with the `2.2.2.x` branch, the fix in the commit above prevents unparsers specs (that round trip a `%r(\))` instance) from passing.

Parsing `%r(\))` seems to be broken since `2.2.0.4`, I did not do an unparser release since par

[2015-04-28 14:54] whitequark commented on #192
Oh, it certainly did not /error/ out on 2.2.0.3 and earlier, because before 2.2.0.4 syntax of regular expressions was not validated.

[2015-04-28 15:08] whitequark commented on #193
Done

[2015-04-28 15:08] #193 closed

[2015-04-28 16:17] mbj commented on #193
Thx.

[2015-04-28 16:18] mbj commented on #192
Ahh. Thx for clearing that up for me.

[2015-05-18 16:28] RGBD opened #194 "Improve trailing comment association."
### Reasoning

Consider this code:

[code]

It associates comments in the following way:

[code]

See bigger example: [source](https://gist.github.com/RGBD/0fc6e0377fdefbbf721b#file-test-rb) and [output](https://gist.github.com/RGBD/0fc6e0377fdefbbf721b#file-default-log).
Also, it partly hides bug in [rubocop](https://github.com/bbatsov/rubocop).

### My opinion

I think, this is a bit counter-int

[2015-05-18 16:36] whitequark commented on #194
This looks really, really good on a first glance. I will give it a bit more thought in the following days.

[2015-05-18 16:40] RGBD commented on #194
Good, I'd be happy if @bbatsov checks this out, as it would affect his repo.

[2015-05-19 09:05] whitequark commented on #194
Looks good to me. Your test cases in the gist are really exhaustive, could you also add some tests to accompany code changes? After that it should be mergeable.

Oleg Zubchenko <notifications@github.com> wrote:

[2015-05-19 10:23] bbatsov commented on #194
The suggested changes look good to me.

[2015-05-19 10:34] mbj commented on #194
Also looks good from my side, unparser will produce better results.

[2015-05-21 03:57] RGBD commented on #194
@whitequark, I've added tests.

[2015-05-21 11:26] #194 closed

[2015-05-23 12:19] jonas054 opened #196 "on_block_pass missing"
In https://github.com/bbatsov/rubocop/issues/1915 it was discovered that RuboCop can't properly investigate the contents of a block passed to a method since RuboCop's [Commissioner#on_block_pass method](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/commissioner.rb#L42) can't call the method of the same name in its base class `Parser::AST::Processor`. The call to `super` is how tra

[2015-05-25 12:29] #196 closed

[2015-05-25 15:11] benjoe321 opened #197 "How do I access comments for a node?"
I see that parser (in the source) has the notion of comments associated with nodes. How do I get access to them though? I can't seem to find them in the output...

[2015-05-25 15:13] whitequark commented on #197
See https://whitequark.github.io/parser/Parser/Source/Comment/Associator.html

[2015-06-03 12:40] blutorange opened #198 "Parse issue with regexp backreferences and one-characters string (eg. ?#)"
- parser-2.2.2.5
- tried it with ruby 2.2.1, 2.2.0, 2.0.0, 1.9.3, jruby-1.7.19

Came across this incidentally. Try the following code with *parser*:

    require 'parser/current'
    code = <<eos
    /()\\1/
    ?#
    eos
    p Parser::CurrentRuby.parse(code)

This outputs:

    (begin
      (regexp
        (str "()\\1")
        (regopt))
      (str "\u0001"))

The *str* should not be `"\u0001"`,

[2015-06-04 09:31] #198 closed

[2015-06-04 09:32] whitequark commented on #198
Impressive.

This holds the record for the most obscure parser's own bug so far.

[2015-06-08 00:15] #197 closed

[2015-06-10 13:11] mlcooper commented on #189
Getting the error
[code]
with rubocop 0.32.0 and parser 2.2.2.5

[2015-06-10 16:47] whitequark commented on #189
@mlcooper  You should run ruby 2.1.6.

[2015-06-29 15:51] printercu commented on #189
@whitequark Hi! I'm getting
[code]
wdyt about not showing warnings when only patch version is different?

[2015-06-29 15:54] whitequark commented on #189
because Ruby changes syntax in patch versions.

[2015-06-29 16:07] printercu commented on #189
didn't know it. thanks!

[2015-06-29 16:51] mbj commented on #189
@whitequark To reduce the support overhead for this issue class, what about adding a link to the warning message to https://github.com/whitequark/parser#compatibility-with-ruby-mri that explains the reason for those warnings well?

[2015-06-29 18:12] bbatsov commented on #189
Sounds like a good idea. So many people are reporting this problem... it's annoying for me, it has to be annoying for @whitequark as well...

[2015-06-29 18:49] whitequark commented on #189
Yeah, this is a good idea. I'll get to it later today

[2015-06-30 12:53] whitequark commented on #189
https://github.com/whitequark/parser/commit/ad19c475a58b8f7a99bf57a02cd0136e0ed5390a

[2015-07-28 18:02] waterlink opened #200 "Question/feature-request: Specifying list of local variables before running `CurrentRuby.parse`"
Hi, thanks for the gem! It is great!

I'm trying to parse partial code and I do know that certain names are defined as local variables, though they are not in this part of the code.

Example:

[code]

I want to somehow be able to pass a list of local variables in:

[code]

Currently I have to do this ugly workaround:

[code]

Is there a possibility to do it currently in any way? Would it be discou

[2015-07-28 18:10] mbj commented on #200
@waterlink you could also just manually "declare" the lvars before the actual partial you are parsing:

[code]

Than you could "filter" the AST for the lvar "declarations" away and process the reminder as the partial source.

[2015-07-28 18:14] mbj commented on #200
LOL, my fault I was not reading you already *have* the workaround. Ignore **all* my noise here.

[2015-07-28 18:19] alex-fedorov commented on #200
I see in code `StaticEnvironment` which holds all the variable definitions, but it is encapsulated and there is no access to it from outside.

The core of the problem is that I already have AST, but I need to get a chunk of this AST, convert it to string representation, pass these strings to a string template, which will return final code chunk and at this point I want to be able to get it back to

[2015-07-28 20:23] whitequark commented on #200
Yes, `StaticEnvironment` is the right way. Just instantiate the parser via `new` and then access the environment via its `static_env` attribute. This is the recommended way.

[2015-07-28 20:30] waterlink commented on #200
Ah, I see. There is an example in readme. And there one would instantiate `Source::Buffer` too. Issue resolved, closing.

[2015-07-28 20:30] #200 closed

[2015-07-28 20:31] waterlink commented on #200
@whitequark @mbj Thanks for your help!

[2015-08-01 01:12] calfzhou commented on #189
I'm meeting the same issue with @mlcooper
[code]

Besides upgrade to ruby 2.1.6, is there any other thing i can do to avoid this warning? We have a dozen of projects running in 2.1.5, and not ready to upgrade it.

[2015-08-01 20:10] mbj commented on #189
Use an older version of parser.

[2015-08-11 03:42] nguyenthinh2012 opened #202 "TTT"
no

[2015-08-11 03:43] #202 closed

[2015-08-20 15:03] razielgn opened #203 "lambda with keyword args and no parenthesis can't get parsed"
`-> a: {}` doesn't work, although `->(a:) {}` does.
Tested on MRI 2.1.6 and MRI 2.2.2.

[2015-08-20 20:55] whitequark opened #204 "[Bug #11380]"
See https://github.com/ruby/ruby/commit/dfec9d978804fbd53df9e6b93e5801985b2b3130 and https://bugs.ruby-lang.org/issues/11380.

Backported down to 2.0.

[2015-08-20 20:58] whitequark opened #205 "r47649/r51616"
See https://github.com/ruby/ruby/commit/23352f62a72d4e1cab6c73db48133696eabfff01 and https://github.com/ruby/ruby/commit/b0c03f63e5b3865684d8d37e8cac666ba7e0e3e0.

[2015-08-20 20:59] whitequark opened #206 "[Bug #10653]"
See https://github.com/ruby/ruby/commit/94b1db5d673295b4276e809de4937a9536711540 and https://bugs.ruby-lang.org/issues/10653.

Backport to 2.2 only.

[2015-08-20 21:00] whitequark opened #207 "[Bug #11456]"
See https://github.com/ruby/ruby/commit/0958af2ad4e83400f35c296e9ed9cf021b1675b4 and https://bugs.ruby-lang.org/issues/11456.

Backport to 2.2 only.

[2015-08-20 21:01] whitequark commented on #207
Not exhibited by Parser.

[2015-08-20 21:01] #207 closed

[2015-08-20 21:02] whitequark commented on #206
Not exhibited by Parser.

[2015-08-20 21:02] #206 closed

[2015-08-20 21:02] whitequark commented on #204
Not exhibited by Parser (or I already fixed it, don't remember.)

[2015-08-20 21:03] #204 closed

[2015-08-21 19:50] whitequark commented on #203
Also doesn't work: `-> a: 1 {}`.

[2015-08-21 19:55] #203 closed

[2015-09-13 21:16] cabo opened #208 "encoding detection breaks in locale "C" with UTF-8 source files"
Please see https://github.com/YorickPeterse/ruby-lint/issues/154 for a description and the detailed test case.

[2015-09-14 08:53] whitequark commented on #208
oh ffs.

[2015-09-14 09:04] whitequark commented on #208
No, there is no bug in Parser. `reencode_string` is clearly documented as:

This is done since Parser::Source::Buffer has no idea what parser will it be used with, and it makes no sense to attempt to fall back to anything except the original encoding of that string.

In Parser, this logic is handled in Parser::Base.parse_with_comments (the class method):
[code]

Thus, ruby-lint should be fixed to

[2015-09-14 09:04] #208 closed

[2015-09-14 10:17] cabo commented on #208
You are, of course, correct; sorry for my confusion.
Pull request to ruby-lint is submitted.

[2015-10-10 15:20] whitequark commented on #205
Handled in 4ec65e2a

[2015-10-10 15:20] #205 closed

[2015-10-22 08:51] whitequark opened #209 "Add support for &."
Upstream commit https://github.com/ruby/ruby/commit/a356fe1c3550892902103f66928426ac8279e072

[2015-10-23 01:55] whitequark commented on #209
Also https://github.com/ruby/ruby/commit/0b7d473734d0dec8520afe7a36540aa1f40d2532

[2015-10-23 01:59] whitequark commented on #209
Node name ideas? Regular `s.x` is `(call (lvar :s) :x)`, what would this be? `(qcall)`?

[2015-10-23 01:59] whitequark commented on #209
cc @mbj @bbatsov @YorickPeterse

[2015-10-23 02:46] mbj commented on #209
Regular is AFAIK `(send ...)`.

Maybe `csend` for "conditional send". As this syntax is effectively a shorthand for a conditional on nil receiver.

What is the `q` prefix in `qcall` referring to?

[2015-10-23 04:55] bbatsov commented on #209
Question mark I guess. I think `csend` is a better idea than `qsend`. Another good option would `ssend` (safe send), but I guess it would be easier to mistype it.

[2015-10-23 05:32] backus commented on #209
https://bugs.ruby-lang.org/issues/11537 refers to this as the "safe navigation operator" which does seem to be the term across several different languages (C#, Groovy).  What about `(safenav)`?

[2015-10-23 05:40] troessner commented on #209
+1 for (safenav), "conditional send" would be highly confusing IMHO.

[2015-10-23 05:58] bbatsov commented on #209
I believe the node name should have `send` in it for consistency with the regular call sites. For many people even the name `send` is confusing. :-)

[2015-10-23 06:00] troessner commented on #209
Then I'd go with "safesend" ;)

[2015-10-23 08:41] YorickPeterse commented on #209
Either `safesend` or `ssend` should do.

[2015-10-23 08:59] mbj commented on #209
IMO not sending something to a `nil` receiver is not inherently "safe" at all. This operator is a branching abstraction, and the name should IMO focus on that aspect.

[2015-10-23 09:13] troessner commented on #209
Good point. Then we're back to "csend" I guess :laughing:

[2015-10-23 12:17] whitequark commented on #209
`csend` it is.

[2015-10-23 14:04] bbatsov commented on #209
:+1:

[2015-10-25 18:42] alexdowad opened #210 "Deceiving performance claims"
This is a great library and I am looking forward to using it. However, the performance claims on your home page are rather deceiving, to say the least:

[code]

A page with actual benchmark results would be very helpful to people assessing the library for the first time.

[2015-10-25 18:45] bbatsov commented on #210
You're comparing apples to oranges here. Try working with the output of `Ripper.sexp` and you'll see what I mean... Parsing speed doesn't mean much if you end up with an AST format which is extremely hard to work with (and ripper's nested arrays are exactly this).

[2015-10-25 18:51] alexdowad commented on #210
Absolutely. I have worked with the output of `Ripper.sexp`. That's how I found myself here.

That still doesn't change that the documentation makes a claim which is completely false:

"It performs on par or better than Ripper, Melbourne, JRubyParser or ruby_parser."

[2015-10-25 18:53] whitequark commented on #210
I never meant "execution time" under "performs" in that phrase; rather, it was referring to the coverage of Ruby's features. In fact, at least Ripper, Melbourne and JRubyParser are and will for foreseeable future be non-negligibly faster than Parser, with the possible exception of Parser on JRuby at some future moment. I of course always knew this; it would be absurd to make that claim.

However,

[2015-10-25 18:58] alexdowad commented on #210
In the context of computer programming, the word "performance" (in its various forms) almost always refers to the elapsed time required to carry out an operation, or the number of operations which can be completed in a unit of time (i.e. throughput). That's not what you meant, but it is how most readers will interpret your words.

[2015-10-25 19:10] whitequark commented on #210
It is quite curious then that in the course of ~2.5 years of Parser's existence and ~4M downloads you were the only one who found that confusing enough to open an issue.

Not that I don't necessarily think it shouldn't be reworded, it's just that this argument doesn't hold water.

[2015-10-25 19:28] alexdowad commented on #210
I can't speak for all the others who have downloaded this gem. I can only say that for myself, the documentation sends a clear message, which is at variance from what was intended.

[2015-10-25 19:30] bbatsov commented on #210
@whitequark somewhat amusingly `parser` has around 4M downloads and RuboCop around 3.7M. Does this make us a premium client or something? :-)

[2015-10-25 19:34] whitequark commented on #210
@bbatsov Kinda. It is true that most of those are driven by Rubocop being installed on CI :) according to GitHub's rudimentary analytics there is only ~1200 or so monthly unique views of the README.

Anyway, any ideas for a better wording?

[2015-10-25 19:37] alexdowad commented on #210
I really wanted to come up with something, but I'm having writer's block. I know you won't want something wordy and awkward. Punchy, to the point, but accurate. Maybe I'll think of something tomorrow.

[2015-10-25 20:08] mbj commented on #210
"Most performant, cross Ruby version, cross Ruby implementation pure Ruby parser"

[2015-10-25 20:10] whitequark commented on #210
You could even say "Most performant Ruby parser in its feature class" :p

[2015-10-25 20:11] mbj commented on #210
The size of the set of parsers that qualifies for all the features I listed above is: 1.

[2015-10-26 05:12] JoshCheek commented on #209
Or `send?` :P

[2015-10-26 06:13] whitequark commented on #209
@JoshCheek Hmmm, actually not a bad idea

[2015-10-26 09:33] mbj commented on #209
I'd that AST node types should stay pure alphabetic + underscore. I realize `defined?` is violating this right now and will not be changed.

[2015-10-26 09:37] whitequark commented on #209
I don't really think that's important. There's no reason to avoid valid symbols.

[2015-10-26 09:41] mbj commented on #209
I've a selfish reason:

Node types can be processed into predicates on node types in a unique manner right now. `define_method("#{node_type}?") ...`

With one special case for `defined?`, it just becomes `defined?`, as there is no ambiguity with a node `defined` that would also nap to `defined?`.

If we have `send` and `send?` this mapping to predicate names is no unique anymore.

[2015-10-26 09:45] whitequark commented on #209
ahhh. Good point actually.

[2015-11-02 14:59] whitequark commented on #209
Also https://github.com/ruby/ruby/commit/dbf73f6fc2a4b0414110eea64a9f98d33c2cf930

[2015-11-02 14:59] whitequark commented on #209
(where does the madness end?!)

[2015-11-02 15:40] mbj commented on #209
Its called feature creep and does not have an end.

[2015-11-03 08:13] whitequark commented on #209
lolwhat https://github.com/ruby/ruby/commit/a3ee54f8a653f2e7c8ea88ef5ee9f3a49a248447

[2015-11-03 09:18] YorickPeterse commented on #209
@whitequark https://bugs.ruby-lang.org/issues/11618#note-1

[2015-11-04 05:46] JoshCheek opened #212 "Stabby lambda parsed as a method call"
Not sure this is a bug, but it's definitely not what I expected:

## Versions

[code]

## Stabby Lambda

[code]

## Lambda method call

[code]

## Implications

This implies that we can override `lambda` to change the behaviour, but it does not appear to be so:

[code]

[2015-11-04 06:22] whitequark commented on #212
So... what you're saying is correct in 2.0 and later:
[code]
But this has not been always correct! In 1.9.3:
[code]

[2015-11-04 06:24] whitequark commented on #212
Sorry, no, that's not quite it. Even 1.9.3 does the `putspecialobject 1`, which is the `RubyVM::FrozenCore` object (it's not exposed to Ruby anyhow). But 1.9.2 does not!
[code]
And indeed:
[code]

[2015-11-04 06:31] whitequark commented on #212
Digging deeper, it seems I have mindlessly brought over this convention from ruby_parser--1.9.3 was certainly out already when I wrote Parser, and I should have known better. Indeed, this is what ruby_parser does:
[code]
It would not be fair to blame ruby_parser though, as 1.9 support in ruby_parser was done before 1.9.3 was out. I should report a bug against that, too.

As per Parser itself... we

[2015-11-06 06:18] whitequark commented on #209
jesus https://github.com/ruby/ruby/commit/837babd56459aafc1232a12fbfa783025d619b98

[2015-11-06 06:53] bbatsov commented on #209
This is getting totally ridiculous...

On 6 November 2015 at 08:18, whitequark <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-11-06 08:52] YorickPeterse commented on #209
Welcome to Ruby.

[2015-11-06 08:56] whitequark commented on #209
anyway, how do we even call it now? `:acall`?

[2015-11-06 08:59] YorickPeterse commented on #209
I think `csend` still makes sense.

[2015-11-06 09:53] mbj commented on #209
Its still a conditional syntax. So lets stay with `csend`.

[2015-11-06 11:04] bbatsov commented on #209
+1 for `csend`.

On 6 November 2015 at 11:53, Markus Schirp <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-11-07 13:32] mbj opened #213 "Feature request: Method to test for valid literal method name."
For a feature in mutant I need to be able to determine if a given string is a valid literal method name.

While I could simply generate source and attempt to parse it, like:

`Parser::CurrentRuby.parse("def #{candidate_method_name}; end")`

It would be a horrible use of ad-hoc code generation + parsing:

Input candidate method names like: `'valid_method; end # invalid_crap'` would easily bypass th

[2015-11-07 14:34] whitequark commented on #213
Well, actually there is no simpler method to do it that I see. You have the lexer component and the parser component; the lexer has a good bunch of tokens it can emit from `expr_fname`, and not all of them are valid method names:
![1435](https://cloud.githubusercontent.com/assets/54771/11015577/cb69fc42-8574-11e5-98b5-555a45783960.png)

whereas the parser has several dozen branches dedicated to ma

[2015-11-07 14:52] whitequark commented on #212
So, how do we migrate?

[2015-11-07 14:59] #210 closed

[2015-11-07 16:50] mbj commented on #213
@whitequark Thx. Just to be sure we are on the same page: Will this account for the fact when part of the name to check is interpreted as a comment?

[2015-11-07 16:51] whitequark commented on #213
Sure, it checks that the name that the parser returned is the same as the input.

[2015-11-07 16:54] mbj commented on #213
k, thx. Closing this.

[2015-11-07 16:54] #213 closed

[2015-11-07 22:08] Peekmo opened #214 "Difference between attribute or function"
Hello,

First of all, thank you for this great lib ! Really easy to use, and good !
I would like to know if there's a way to know if a node is a function call (without params) or an attribute call.

Exemple with ```AST::Node``` ```type``` and ```to_s``` I have something like this :

[code]

I know that it's need a lot of logic, and so, I guess that it's not possible. However, I prefer to wait for

[2015-11-08 04:01] whitequark commented on #214
There is no difference between attributes and functions in Ruby. `attr_reader :x` is, observably, exactly equivalent to `def x; @x; end`.

[2015-11-08 04:39] JoshCheek commented on #212
Seems like plan it for the next major release. In the interim, if it's not a lot of effort, you could have it be a feature flag the operator can opt into, but which defaults to off so as to avoid disruption. If it is a lot of effort, though, I might be the only one who cares about it, and it's not that big of a deal to me (it's straightforward enough to convert in post-processing, and really I hav

[2015-11-08 04:42] JoshCheek commented on #212
I'm probably not the only one who cares. If you see `->` you know that is a lambda, whereas the send might not be a lambda. If anyone is trying to do AST level optimization, I'd expect them to care about stuff like that. But then again, they haven't come filing issues, so maybe no one is doing that sort of thing.

[2015-11-08 07:58] Peekmo commented on #214
Ok thank you, I thank that there was a difference.

Regards,
Peekmo

[2015-11-08 07:58] #214 closed

[2015-11-10 10:13] whitequark commented on #209
Also https://github.com/ruby/ruby/commit/a01b6453eb9d9e396f76f7bc73439f6669d0f5fb.

[2015-11-10 10:22] bbatsov commented on #209
Makes sense.

On 10 November 2015 at 12:13, whitequark <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-11-10 10:58] alexdowad opened #215 "Set SourceBuffer#source directly in constructor?"
Is there a reason why we do this:

[code]

rather than:

[code]

?

[2015-11-10 11:10] whitequark commented on #215
Yes: because you might want to use `.raw_source=`.

[2015-11-10 11:24] alexdowad commented on #215
Thank you, @whitequark. How would this look as an option:

[code]

[2015-11-10 11:26] whitequark commented on #215
I don't really see a point.

[2015-11-10 12:11] alexdowad commented on #215
Fair enough.

[2015-11-10 12:11] #215 closed

[2015-11-12 11:02] whitequark commented on #209
AAAAAAAA WHY https://github.com/ruby/ruby/commit/68e16ddd7961b86e5013e62ae2954e88638de058

[2015-11-12 11:50] mbj commented on #209
Because Ruby!

[2015-11-12 15:58] jcoyne opened #216 "Core dump on Ruby 2.2.0"
[code]

[2015-11-12 16:17] mbj commented on #216
I suggest to close this and reopen it against the ruby bugtracker:

* Parser is pure valid ruby, that should never crash the interpreter
* Just because parser was active the moment the crash was triggered does not proof a parser misbehavior that can be fixed in this repository.

[2015-11-12 16:37] #216 closed

[2015-11-12 17:58] whitequark commented on #216
Besides what @mbj said, .0 versions of Ruby are known to be buggy. Upgrade to .1 at least, or better whatever is the latest point version of 2.2.

[2015-11-12 18:07] jcoyne commented on #216
@whitequark I'm aware that 2.2.3 would be better, but I'm blocked from upgrading by https://github.com/travis-ci/travis-ci/issues/4822

[2015-11-13 21:06] jakeonrails commented on #189
For older projects is there a list of ruby -> parser -> rubocop versions that work well together?

[2015-11-17 05:39] alexdowad commented on #93
The beast has been slain.

https://github.com/tenderlove/racc/pull/60

Now just waiting for @tenderlove to review PRs in the queue...

[2015-11-24 21:47] #212 closed

[2015-11-24 21:51] whitequark commented on #212
Ok, so to keep the AST compatibility guarantee, the idea is as follows:

  * add `Parser::Builders::Default.emit_lambda = true`
  * give downstream time to adapt to it
  * add a warning every time a `Parser::Builder::Default` is instantiated with `emit_lambda == false` urging to upgrade

Unfortunately it looks like we can never remove the old behavior unless we're willing to silently break downstr

[2015-11-24 22:03] mbj commented on #212
my 2c:

I'm totally fine with breaking changes. Its the way of live. Feeding holy cow of backwards compatibility creates so much complexity and friction in the overall process. IMO huge crapyness parts of Ruby are from keeping certain APIs stable prematurely.

So feel free to emit the new lambda without even deprecation ;)

I realize this contradicts your current version policy. But as ruby syntax

[2015-11-24 22:33] bbatsov commented on #212
I totally agree with @mbj. I understand your desire to impose no compatibility issues to clients, but I'm totally fine with dealing with an occasional breakage in the name of progress.

I believe that the current versioning scheme is a big mistake and we should simply decouple the parser version from the Ruby version - this would make it easy to bump the major version and we wouldn't be in such bi

[2015-11-24 22:34] whitequark commented on #212
I've no desire to bump major version over this anyway; I don't think it should ever be bumped as parser is a largely finished project.

[2015-11-24 22:40] mbj commented on #212
Than feel free to simply release a minor version bump with no deprecation.

[2015-11-24 22:44] bbatsov commented on #212
A version is just a version - it's not an indication how finished or unfinished some project is. So many people interpret those differently, which really makes fast and hard rules somewhat arbitrary. I'm not saying you should release a major version because of this, I'm saying that releasing major versions is not a big deal and shouldn't be avoided at all costs.

[2015-11-24 22:45] whitequark commented on #212
Replace "major version" with "breaking change" above and what I want to say stays same.

[2015-11-24 22:47] mbj commented on #212
Current version policy makes it hard to encode breaking changes into the version number. Major version: bound by ruby, minor version assumed by people to be semver compatible (because the policy does NOT include there might be breaking changes here).

IMO we ideally want a breaking change. So how to encode it? and how to document it for the future? I'm fine to say: Parsers major number is not chan

[2015-11-24 22:47] bbatsov commented on #212
It is the same. People consuming the gem should have added proper version boundaries, which would prevent them from using an incompatible version of the gem by accident. If they decide to update - that's a conscious decision and if they don't - nothing really changes for them.

[2015-11-24 22:48] whitequark commented on #212
No, both of you do not understand. I do not intend to ever make a breaking API change to Parser again.

[2015-11-24 22:48] bbatsov commented on #212
Just to clarify - breaking changes are not a bad thing; *surprising* breaking changes are a really bad thing.

[2015-11-24 22:49] bbatsov commented on #212
Your project, your rules. I voiced my point of view and you're totally free to disregard it. "If we all think the same way nobody thinks at all..." :-)

[2015-11-24 22:50] whitequark commented on #212
I mean, any considerations about my versioning policy do not matter, *because* I don't intend to make a breaking change.

[2015-11-24 22:50] mbj commented on #212
IMO thats not a good decision. Because adding options increases the amount of complexity downstream signficiantly. If library A uses some option and library B uses another option: The amount of possible mismatch grows quadratic with the options provided. Each library that *can* consume *any* AST will now have to account for all possible combinations of options.

Parser should do "the right thing"

[2015-11-24 23:15] whitequark commented on #209
Amazing; turns out we never had any tests for the 'fluent interface'.

[2015-11-24 23:54] #209 closed

[2015-11-24 23:59] whitequark commented on #209
This went surprisingly painless.

[2015-11-25 01:05] #93 closed

[2015-11-26 01:26] flyerhzm opened #226 "failed to run in ruby-2.3.0-preview1"
I installed ruby 2.3.0-preview1 and latest parser 2.3.0.pre.3, but when I run in irb, I got an error

[code]

[2015-11-26 01:35] whitequark commented on #226
Whoops, forgot to add `ruby23.rb` to gemspec. Should work now with `pre.4`!

[2015-11-26 02:40] flyerhzm commented on #226
`pre.4` works well, thanks!

[2015-11-26 02:40] #226 closed

[2015-12-08 00:46] whitequark opened #228 "<<~SQUIGGLY_HEREDOC in Ruby MRI 2.3.x"
See upstream commit https://github.com/ruby/ruby/commit/9a28a29b870b5f45d370bc8f16c431b435f0bbb3 and Ruby bug https://bugs.ruby-lang.org/issues/9098

[2015-12-08 01:46] mbj commented on #228
Will this also include:

`<<~'SQUIGGLY_HEREDOC'` that disables interpolation?

[2015-12-08 01:47] mbj commented on #228
Why, I'm asking. I do not see that one covered by the upstream tests, but it could work by "accident" (and may be buggy).

[2015-12-09 22:35] eapache opened #229 "Global way to disable syntax deviation warnings"
The message printed by `warn_syntax_deviation` tends to confuse automated tools that depend on parser or depend on something that depends on parser, etc.

In my particular case, I have an automated tool set up to run rubocop (which uses parser). A change in my ruby version means that now rubocop (by loading parser) prints the syntax deviation warning, which confuses the tool that is expecting rubo

[2015-12-09 22:47] mbj commented on #229
OT: Shouldnt you use the rubocop output directly from the rubocop API? Not parsing it?

[2015-12-09 23:03] eapache commented on #229
The automated tool is not written in Ruby.

[2015-12-09 23:12] mbj commented on #229
OT: Doesnt rubocop have machine readable output? JSON or such?

[2015-12-09 23:30] eapache commented on #229
It does, that's the point. The syntax warning printed by `parser` makes the output invalid JSON.

[2015-12-09 23:34] mbj commented on #229
Doesnt rubocop write this to a file? And AFAIK parsers warning goes to stderr, rubocop (if it does not write the JSON to the file) puts the output to stdout. So capture only one of them.

[2015-12-10 00:27] whitequark commented on #229
It's printed to stderr. Even if your automatic tool captures the output of another, it shouldn't parse stderr and stdout together.

[2015-12-10 00:27] #229 closed

[2015-12-10 14:32] bbatsov commented on #229
Btw, for the protocol, I also think having an option to disable the warning won't hurt. And I'm pretty sure it's RuboCop's job to provide the ability to suppress this.

[2015-12-10 14:33] whitequark commented on #229
There is already an option: `ruby -W0 -S rubocop`.

[2015-12-10 14:34] bbatsov commented on #229
I really think that this is not the answer, but fine... I'm too busy to argue.

[2015-12-17 09:27] spickermann opened #231 "2.2.3-compliant syntax, but you are running 2.2.4"
Last night Ruby 2.2.4 was released. I get the following warning now, when I run Rubocop (which include the Parser gem):

    warning: parser/current is loading parser/ruby22, which recognizes
    warning: 2.2.3-compliant syntax, but you are running 2.2.4.
    warning: please see https://github.com/whitequark/parser#compatibility-with-ruby-mri.

It seems like [this line](https://github.com/whitequa

[2015-12-17 09:34] whitequark commented on #231
Yes, please send a PR updating that line. 2.1.7 is already handled: https://github.com/whitequark/parser/blob/896f3f9a4bd9621b25bac1ff3e0df23586d3eac8/lib/parser/current.rb#L38

The link in the warning describes why this is necessary.

[2015-12-17 10:05] spickermann commented on #231
Please find the PR here: https://github.com/whitequark/parser/pull/232

[2015-12-17 11:07] whitequark commented on #231
Hmmm, as if to demonstrate why this shit is necessary: there is in fact a syntax change in 2.2.4! https://github.com/ruby/ruby/commit/df51beda2f3237580976f241842c320b7121d72c

[2015-12-17 11:10] whitequark opened #233 ""%-string cannot be a label""
See https://github.com/ruby/ruby/commit/df51beda2f3237580976f241842c320b7121d72c.

Port only to 2.2 and later.

Also need to figure out where on ruby-lang is this tracked.

[2015-12-17 11:10] whitequark commented on #231
Blocked on https://github.com/whitequark/parser/issues/233.

[2015-12-17 11:12] spickermann commented on #231
Okay, thanks anyway...

[2015-12-18 06:01] bbatsov commented on #231
Ruby's team is killing me. Btw, still I think we should issue warnings just for versions that actually introduced syntax changes (after we know there are such changes). Right now people immediately start submitting issues to every project using Parser when new rubies are released, which is pretty annoying.

[2015-12-18 06:52] whitequark commented on #231
@bbatsov I think I will update the warning (not sure how effective that will be), but I consider not doing it out of question.

[2015-12-18 13:28] squaresurf commented on #231
So what is the path forward? Is there anything I can do to help?

[2015-12-18 13:29] whitequark commented on #231
No, you'll have to wait until I have time to fix #233, probably today.

[2015-12-18 13:30] squaresurf commented on #231
Ok, thank you.

[2015-12-18 23:38] chrisnicola commented on #231
I'm not sure if this is important but I've noticed the label syntax change seems to go further than "%-string" not being able to be a label.

See this issue: https://github.com/rails/rails/issues/22680 for another example.

Essentially you must have a space between a label and the beginning of a heredoc now, whereas before you didn't need to.

[2015-12-19 20:11] whitequark commented on #231
@chrisnicola That's horrifying. Also, it further cements my belief that the warning is necessary; unlike some other fairly obscure cases, this is bound to be hit by real-world code.

[2015-12-19 20:20] whitequark commented on #233
Bug https://bugs.ruby-lang.org/issues/10653.

[2015-12-19 20:21] whitequark commented on #231
Amazing
![1619](https://cloud.githubusercontent.com/assets/54771/11915070/176ac50e-a6d1-11e5-9472-61977c69b2b2.png)

[2015-12-19 20:35] jasnow commented on #231
@whitequark - Is there a tool or option to show the "2.2.3-compliant" code in question?

[2015-12-19 20:36] whitequark commented on #231
@jasnow What do you mean?

[2015-12-19 20:45] jasnow commented on #231
@whitequark - "Verbose" mode to pinpoint "syntax errors" based on changes to Ruby 2.2.4 syntax so they can be targeted and fixed.

[2015-12-19 20:48] whitequark commented on #231
Not that I'm aware of. I mean, Ruby 2.2.4 or the next Parser version should effectively do that.

[2015-12-19 20:48] whitequark commented on #231
(By returning a syntax error, that is.)

[2015-12-19 20:50] jasnow commented on #231
Or syntax warnings - don't fail "rake" but provide more info.

[2015-12-19 20:56] whitequark commented on #231
No, this will be an error, as per Parser's Ruby MRI compatibility policy.

[2015-12-19 20:59] jasnow commented on #231
OK

[2015-12-19 22:56] whitequark commented on #233
Fixed in 149ffb44.

[2015-12-19 22:56] #233 closed

[2015-12-19 22:57] whitequark commented on #231
#233 is fixed but I've discovered that I also have to porthttps://github.com/ruby/ruby/commit/94b1db5d673295b4276e809de4937a9536711540 and https://github.com/ruby/ruby/commit/0958af2ad4e83400f35c296e9ed9cf021b1675b4, which are... well, "contrived" is saying it very lightly. So this will take a while.

[2015-12-19 23:45] whitequark commented on #228
lol `x<<~FOO` is already valid syntax actually. https://bugs.ruby-lang.org/issues/9098#note-24

This is such a clusterfuck.

[2015-12-19 23:48] whitequark commented on #228
@mbj Yes, `<<~'X'` would be supported.

[2015-12-19 23:48] whitequark commented on #228
I'm withholding implementation of this in case it gets reverted in MRI.

[2015-12-20 00:02] whitequark opened #234 "Possible heredoc regression in Ruby MRI 2.2.4"
From https://github.com/whitequark/parser/issues/231#issuecomment-165921156:

Essentially with Ruby 2.2.4 this code is ok
[code]
But this is invalid:
[code]
However, both were valid in 2.2.3.

I am going to wait until this gets handled in MRI. I've filed a bug, https://bugs.ruby-lang.org/issues/11849.

[2015-12-20 00:05] whitequark commented on #231
@chrisnicola See https://github.com/whitequark/parser/issues/234.

@bbatsov @mbj You will be entertained by 113442eff, I think.

Everyone else: pre.6 was released with 2.2.4 support.

[2015-12-20 00:05] #231 closed

[2015-12-20 00:53] jasnow commented on #231
pre.6: Applied to all of my affected repos. Worked/Verified. THANKS....

[2015-12-20 10:09] whitequark commented on #234
Yep, was a regression, fixed in ruby/ruby@9d5abbf.

[2015-12-20 10:09] #234 closed

[2015-12-28 20:43] chastell commented on #228
(FWIW, squiggly heredoc was kept in the recently-released Ruby 2.3.0.)

[2015-12-28 22:35] bbatsov commented on #228
Hmm, I didn't see it in the release notes. Are you sure?

[2015-12-28 23:26] backus commented on #228
@bbatsov https://github.com/ruby/ruby/blob/v2_3_0/NEWS#L53-L57

[2015-12-29 00:41] whitequark commented on #228
Ugh.

[2015-12-29 07:09] bbatsov commented on #228
Hmm, I wonder why they omitted such a big change here - https://www.ruby-lang.org/en/news/2015/12/25/ruby-2-3-0-released/

Anyways, good to know!

[2015-12-29 09:17] troessner commented on #228
Human error?

[2015-12-29 09:59] bbatsov commented on #228
Likely so.

[2015-12-30 11:29] bbatsov commented on #228
@whitequark is the this the final thing that has to be added before 2.3 final is released?

[2015-12-30 11:29] whitequark commented on #228
Yes.

[2015-12-31 20:13] whitequark commented on #228
*sob*

@mbj, here's the answer to your question: https://github.com/ruby/ruby/commit/b1796737cf097ff7dc68b12ebb6d86a9528c95be.
This is going to be a compatibility nightmare, wouldn't it?

[2016-01-04 09:23] nagachika commented on #231
Hi, I noticed this thread via comment  on ruby's bug tracker https://bugs.ruby-lang.org/issues/11849#change-55948

I didn't know what the point in this issue well.
BTW I consider the syntax error described at https://github.com/whitequark/parser/issues/231#issuecomment-165921156 is not a intended spec change but a regression. And it was already fixed at trunk and ruby_2_2 branch. Next release 2.2.

[2016-01-07 23:26] lucascaton commented on #228
Hi there. When will 2.3 final be released? Thanks! :smile:

[2016-01-07 23:29] whitequark commented on #228
When it's done. If it's not done, it's because I haven't had time to implement it yet.

[2016-01-07 23:35] lucascaton commented on #228
No problem, I didn't mean to be pushy. Thanks!

[2016-01-07 23:36] whitequark commented on #228
No offence taken, I am merely stating how the development process works. Anyway, this is one of the less annoying changes far as Ruby goes, I should be able to do it soon.

[2016-01-14 12:34] whitequark commented on #228
Yay, I found a bug in Ruby's implementation (of course).

[2016-01-14 12:41] bbatsov commented on #228
That sucks. Might I suggest releasing something that will cover the majority of cases and do so refinements afterwards. AFAIK there are a ton of edge cases that are making adding the support for this so painful.

[2016-01-14 12:43] whitequark commented on #228
Well, my (fairly naive) implementation should have the same bugs as MRI, which is ... well ... good .... I guess?

[2016-01-14 12:44] bbatsov commented on #228
Yep, that'd be good enough.

[2016-01-14 12:46] whitequark commented on #228
The bug in question: https://bugs.ruby-lang.org/issues/11989

[2016-01-14 13:37] whitequark commented on #228
HAhahahahah. I found a SECOND bug.

[2016-01-14 13:42] whitequark commented on #228
The second bug in question: https://bugs.ruby-lang.org/issues/11990

[2016-01-14 16:01] #228 closed

[2016-01-14 16:01] whitequark commented on #228
That was a disturbing experience.

[2016-01-14 19:26] chastell commented on #228
Speaking with my Reek hat on: I fully understand the frustrations and _so_ much appreciate this! Thanks!

[2016-01-14 19:27] whitequark commented on #228
I think the most ironic part is https://github.com/whitequark/parser/issues/228#issuecomment-169841030.

[2016-01-14 19:30] chastell commented on #228
…also that part where your Redmine reports look off because non-`<code>`-wrapped adjacent whitespace in HTML is collapsed on render.

![screenshot from 2016-01-14 20 30 05](https://cloud.githubusercontent.com/assets/56633/12335081/a4183212-bafd-11e5-8b5f-812dc64bf106.png)

[2016-01-14 19:33] whitequark commented on #228
It *is* `<code>`-wrapped, or at least, <code>`</code>-wrapped.

[2016-01-14 19:34] whitequark commented on #228
Yep, Redmine swallows any tags I try to put through it but <code>\`</code> results in a `<code>`.

[2016-01-14 20:13] chastell commented on #228
Oooh, TIL browsers also collapse `<code>` whitespace on render. I lived almost twenty years in a lie. `&nbsp;` (or ` `) is your only hope then.

[2016-01-14 22:03] whitequark commented on #228
@chastell nope, neither works.

[2016-01-18 05:45] whitequark commented on #228
All Ruby bugs have been fixed and I have also committed that to Parser master.

[2016-01-18 14:14] chastell commented on #228
Awesome, most appreciated!

[2016-01-18 14:50] nijikon commented on #228
@whitequark new release after this commit 01cafc9716af7d9fd8228d548d8dd0360586a156?

[2016-01-18 16:14] whitequark commented on #228
Ruby wasn't released though

[2016-01-25 00:16] mbj opened #252 "Crash when parsing symbols"
The following file (reduced from: https://github.com/ruby/spec/blob/master/core/symbol/casecmp_spec.rb) crashes parser:

[code]

Backtrace:

[code]

Ruby 2.3.0-p0 accepts it and prints:
[code]

[2016-01-25 00:22] mbj opened #253 "Dignostics error when parsing regexp ruby accepts:"
The following file (reduced from https://github.com/ruby/spec/blob/master/language/regexp/escapes_spec.rb) is not accepted:

[code]

Diagnostics error:

[code]

Ruby 2.3.0-p0 seems to accept it and prints:

[code]

[2016-01-25 04:04] alexdowad commented on #252
Interesting. Older versions of Ruby error out on this file.

[2016-01-25 05:35] alexdowad commented on #252
Sorry, I was wrong. Even the newest version of Ruby errors out, *if* the encoding comment is missing. With the encoding comment, everything back to 1.9.2 can execute this file.

[2016-01-25 05:40] alexdowad commented on #252
The message comes from `sym_check_asciionly`.

I'm just compiling a patched Ruby which prints the name of the invalid encoding, rather than just saying `invalid symbol encoding`.

[2016-01-25 05:51] alexdowad commented on #252
OK, with patched Ruby:

[code]

[2016-01-25 06:15] alexdowad commented on #252
The real problem here is that `parser`'s lexer does not respect encoding comments. If there is an encoding comment, it could transcode all string literals to that encoding. This would provide closer compatibility with the behavior of the Ruby interpreter.

@whitequark Whaddya think?

[2016-01-25 06:26] alexdowad commented on #252
BTW just sent a patch to the Ruby core team to make the error message @mbj shows above a bit more informative. https://bugs.ruby-lang.org/issues/12016

[2016-01-25 09:56] whitequark commented on #252
@alexdowad Of course the lexer respects the encoding comment... see `Source::Buffer.recognize_encoding`. This must be a missing `reencode_string` somewhere.

[2016-01-25 10:35] alexdowad commented on #252
Ooh. OK. I'll see if I can find where it is.
On Jan 25, 2016 11:56 AM, "whitequark" <notifications@github.com> wrote:

[2016-01-25 11:18] alexdowad commented on #252
The problem is on lines 104-106 of buffer.rb:

[code]

`detected_encoding` is `Encoding::US_ASCII`, as expected. As it turns out, `"\xC7"` is invalid even in US-ASCII. And when it is passed through `encode(Encoding::UTF_8)`, the result is also invalid UTF-8.

[2016-01-25 11:21] whitequark commented on #252
Yup, that's a Ruby bug then.

[2016-01-25 11:25] alexdowad commented on #252
I guess `str.encode(enc).valid_encoding?` should always be true? And if it's not a valid encoding, an exception should be raised?

[2016-01-25 11:28] whitequark commented on #252
No, the characters `"\"\\xC7\""` are valid UTF-8.

[2016-01-25 11:53] alexdowad commented on #252
It's not `"\"\\xC7\""`, but simply `"\xC7"`. Just one character. That has a 1 bit in most-significant position, so it shouldn't be valid UTF-8 at the end of a string. Right?

[2016-01-25 11:56] alexdowad commented on #252
Uhh. Let me clarify here. The *source* itself is valid. But the string literal which is lexed *from* the source isn't.

Although `Source::Buffer` can be said to respect encoding comments (in a way), in that it interprets the source file as having the indicated encoding, it transcodes the source from the indicated encoding to UTF-8. Then, the lexer treats all string literals as UTF-8.

[2016-01-25 11:57] alexdowad commented on #252
Sorry for some mild confusion in my previous comment.

[2016-01-25 12:15] whitequark commented on #252
Correct--and then lexer.rl will call encode_escape on the just-lexed `\xc7`:
[code]

Or at least it's supposed to.

[2016-01-25 12:16] alexdowad commented on #252
`encode_escape` doesn't help us, because `lexer.encoding` is not US-ASCII. The lexer has no idea that the source was originally US-ASCII.

[2016-01-25 12:16] alexdowad commented on #252
I have a fix, not sure if you'll like it.

[2016-01-25 12:19] whitequark commented on #252
Well, `@lexer.encoding` should be US-ASCII, that's what it's supposed to do.

[2016-01-25 12:20] whitequark commented on #252
Incidentally, I've missed that your `tok` optimizations were invalid, since this...
[code]
is in no way equivalent to `@source[s...e]`.

[2016-01-25 12:21] alexdowad commented on #252
It doesn't. Have a look at the patch which I am just pushing, though. Don't merge it too quickly... we need to think carefully before making a change like this.

[2016-01-25 12:22] alexdowad commented on #252
I saw that, but there was some way I had reasoned out that the conversion was actually safe. Let me look again and see if I can remember what it was.

[2016-01-25 12:28] whitequark commented on #252
Actually, now I remember why and how I implemented that. I tried emitting string literals in their "proper" encoding, but that would just cause downstream headache. Tooling does not want to deal with non-ASCII-compatible (US-ASCII-compatible in Ruby parlance, not ASCII-8BIT which is an extension of ASCII) encodings, so we do not emit that.

I think the fact that this file cannot be parsed is inten

[2016-01-25 12:30] alexdowad commented on #252
`@needs_encode` is only ever true if the source has been transcoded to UTF-32LE (to make indexed retrieval of characters faster).

Are the changes which I made safe if the source has been converted to UTF-32LE? I can't tell for sure without testing.

I think what happened is that I had done some performance testing, hadn't found a case where converting to UTF-32LE was actually beneficial, and had

[2016-01-25 12:32] alexdowad commented on #252
Hmm. But US-ASCII is ASCII compatible.

[2016-01-25 12:34] alexdowad commented on #252
[code]

[2016-01-25 12:36] whitequark commented on #252
US-ASCII is, ASCII-8BIT isn't for any practical purposes, despite Ruby claiming that it is.

[2016-01-25 12:37] whitequark commented on #252
Well, I guess ASCII-compatible isn't the right term here. What I'm looking for is "embedded in Unicode space". ASCII-8BIT isn't.

[2016-01-25 12:37] alexdowad commented on #252
Will ASCII-8BIT literals (strings, regexps, etc.) cause "incompatible encoding" errors downstream?

[2016-01-25 12:38] alexdowad commented on #252
I am just trying to see if UTF-8 regexps work on ASCII-8BIT text and vice versa.

[2016-01-25 12:39] whitequark commented on #252
Yep, they can't be concatenated with UTF-8 strings for example, so trying to display messages will break.

[2016-01-25 12:41] alexdowad commented on #252
Ruby 1.9 did well to add support for various text encodings to Ruby, but they way they did it sure seems to lead to a lot of pain.

[2016-01-25 12:43] alexdowad commented on #252
Well this is just peachy.

[2016-01-25 12:44] whitequark commented on #252
:burn:

[2016-01-25 12:45] alexdowad commented on #252
It sure sucks that valid Ruby files can contain string literals which we *can't* represent in any way.

What if we emit strings/symbols as `Encoding::BINARY` if they are not representable in UTF-8, and warn the users that they should expect those dreaded binary strings?

[2016-01-25 12:46] whitequark commented on #252
And what do you do with them then?

[2016-01-25 12:53] alexdowad commented on #252
(Insert flippant answer here)

The fact is that the Ruby language includes string literals which are not UTF-8. If someone wants to process Ruby code, they need to face up to that fact.

If you just use them in a comparison (`#==`), you are OK. Nothing bad will happen.

If you need to use a regex on them, that is also fine. Nothing bad will happen.

If you want to print them out directly, that wil

[2016-01-25 12:54] alexdowad commented on #252
(I haven't checked this thoroughly -- I've just tried regexes which are checking for alphanumeric characters.)

[2016-01-26 23:44] SilverPhoenix99 opened #255 "Bug lexing "a?=b""
Hi, all.

I'm in version `2.3.0.1` with ruby `2.2.3`.

This is tokenizing incorrectly (`test_lex` is a wrapper around `Parser::Lexer`):

```test_lex 'a?=b'```

It's returning:

[code]

Using Ripper:

```Ripper.lex 'a?=b'```

it returns:

[code]

Note the difference:

[code]

According to `parse_ident` in MRI, it never accepts an `'='` after a `'?'`:

[code]

@alexdowad, I know that you have been w

[2016-01-27 20:51] alexdowad commented on #255
@SilverPhoenix99 Can you come up with a case where `parser` comes up with an AST which is not compatible with the one produced by Ruby's built-in parser?

[2016-01-27 20:56] whitequark commented on #255
Not a bug but trivial to fix.

[2016-01-27 20:57] #255 closed

[2016-01-27 20:58] whitequark commented on #255
To elaborate, this is not a bug because we do not provide any particular guarantees on token streams that do not produce a valid parse tree. On the other hand token streams are a public interface, so might as well clean them up, especially if it is trivial.

[2016-01-28 09:48] whitequark commented on #253
The root cause is the same as for #252 (there's just a Regexp.new around a parsed string literal), so closing in favor of that one.

[2016-01-28 09:48] #253 closed

[2016-01-28 19:36] SilverPhoenix99 commented on #255
Hi.

Sorry, but I don't recall how I got to that rule, but this one is valid and parseable, assuming that `a` is a method:

`Ripper.sexp "a?='b'"`

This is equivalent to `a("=" "b")`.

I'll be more careful to add a parseable rule. Thanks for fixing this.

[2016-01-29 06:10] alexdowad opened #260 "Cool Range#line down"
`Range#line` is a very significant hotspot for RuboCop (about 10% of runtime when inspecting code).

Probably the best way to cool it down would be for the lexer to track line numbers and pass a line number to `Range.new` when initializing ranges. Since the lexer already treats newlines specially in most cases, code could be added to increment a line number count.

Another option would be to cache

[2016-01-29 06:17] whitequark commented on #260
Hm, either will work... caching line numbers can be done inside (mutable) `Source::Buffer`. On the other hand that's still one calculation more than is necessary.

[2016-01-29 06:31] alexdowad commented on #260
When I have a bit of time I'll try coding something up and you can review.

[2016-01-30 19:16] alexdowad commented on #260
Regarding solution 1, it turns out the tricky part is dealing with heredocs, like:

[code]

...We need to remember which line number we were on when lexing the opening `<<END`, restore it after the heredoc is lexed (so that `+` and `'string'` have the right line number), then bump the line number up again when jumping past the concluding `END`.

Or is there some other solution I haven't thought of

[2016-01-30 21:43] whitequark commented on #260
Given how annoyingly tricky and hard to test this is, I think we should go with caching of pos→line mapping inside `Source::Buffer`.

[2016-01-31 04:45] alexdowad commented on #260
OK. But I almost have solution 1 working. I think I'll get *both* solutions working, then compare them for performance and readability. You can review both.

[2016-02-02 07:07] #260 closed

[2016-02-03 15:10] mvidner opened #266 "Large file: fatal: unterminated string meets end of file"
Thank you for Parser, it has been very useful!

A large input file, which is not too deep, fails to be parsed with this error message
[code]
The file is about 1 megabyte in size, so instead of quoting it I made a generator for it: https://gist.github.com/mvidner/d1c803083dd6b156fb7b

 (BTW here is the [actual file](https://github.com/yast/yast-ycp-ui-bindings/blob/178884cba76ce4237e1ad716811b9ec2a

[2016-02-03 15:28] whitequark commented on #266
Does it still happen if you get it under 1MB? If yes I know what broke, the UTF-32 hack... it uses a threshold of 1MB.

[2016-02-03 15:28] whitequark commented on #266
BTW @alexdowad I was telling you these files exist in real life.

[2016-02-03 15:32] mvidner commented on #266
If I decrease SIZE to 14000 it passes. Admittedly the real file is just a test for stressing our widget library so it's not a big deal.

[2016-02-03 15:33] whitequark commented on #266
Nah it's a bug. Should be easy enough to bisect though if we reduce the threshold to like 1K.

[2016-02-03 16:01] alexdowad commented on #266
@whitequark My latest PR fixes a known bug with the UTF-32 optimization. Perhaps we can clear that one first and see if @mvidner still has a problem or not?

[2016-02-03 16:18] mvidner commented on #266
Ah, when I check out #265 and run `rake generate` it does indeed help!

[2016-02-05 18:57] jredville opened #267 "Patch version specific parser files"
The problems descirbed in #189 hit me pretty often, and often, even asking for a patch version update is a non-trivial request, especially when for many people parser is part of rubocop and is not a production requirement. Instead of just pointing people to the warning that MRI changes syntax in patch versions, would it be possible to start keeping the patch version parsers and loading the patch v

[2016-02-06 06:31] whitequark commented on #266
#265 was merged so closing. Tell me if you would like a release soon.

[2016-02-06 06:31] #266 closed

[2016-02-06 06:33] whitequark commented on #267
I'm not sure I understand. Are you suggesting I step up from maintaining eight parser forks (and countless hacks to avoid forking the lexer) and maintain, in amortized terms, ~3-4 times more of them?

[2016-02-06 16:21] alexdowad commented on #266
In the words of Oliver Twist:

"Please, sir, may I have a point release?"

[2016-02-06 17:55] whitequark commented on #252
@mbj Your opinion here? I'm inclined to bail on this ASCII-8BIT case as EWONTFIX. Utility seems extremely marginal and we already do not support non-ASCII-compatible encodings, for instance.

[2016-02-06 18:04] nelhage opened #268 "Parser is extremely slow for files containing *any* unicode"
I ran into a bit of a nasty performance bug with the parser gem while trying to understand why `rubocop` was so slow on some of my source files. I'm genuinely unsure if there's a good solution, but I wanted to document it in an issue in case you had any thoughts.

`parser` relies heavily on taking slices of the source buffer at character offsets, most notably in `Parser::Lexer#tok` and `Parser::So

[2016-02-06 18:05] whitequark commented on #266
`2.3.0.3`

[2016-02-06 18:09] whitequark commented on #268
Yes, yes, I know. There's a heuristic that transcodes the entire file into UTF-32 if it's larger than 1MB. The problem is, on relatively small mostly-ASCII files this makes it quite a bit slower. I have no idea what a good solution would look like.

[2016-02-06 18:13] whitequark commented on #268
Is fast indexing for ASCII-only strings a silent optimization, i.e. is the encoding still UTF-8? We could try detecting that and transcoding if there's any non-ASCII but that might be costly already... I'm not sure.

[2016-02-06 18:21] alexdowad commented on #252
It appears that @whitequark somehow forgot to ask for my opinion too. But that's fine, you don't have to ask me... I'm just too helpful and nice to withhold my (long and detailed) opinions from people!

@whitequark, one important point for you:

There is a **very big** difference between a `parser` which can handle 100% of valid Ruby source code, and one which can handle 99.9%, or any other quanti

[2016-02-06 18:23] alexdowad commented on #268
We already have an array of codepoints in the lexer (`@source_pts`). Indexing into that is fast. If only there was a fast way to pull a subsequence of codepoints out and smash it together into a UTF-8 string...

[2016-02-06 18:24] whitequark commented on #252
@alexdowad I'm aware of your opinion already:

Anyway, regarding the following:

We don't handle 100% nor we ever will. https://github.com/whitequark/parser#compatibility-with-ruby-mri.

[2016-02-06 18:24] nelhage commented on #268
I believe that fast indexing for ASCII-strings is silent as you describe: MRI determines that a utf-8-encoded string is "actually" ASCII and does the optimization:

[code]

[2016-02-06 18:24] whitequark commented on #252
Sorry, wrong link copied, that should've been https://github.com/whitequark/parser#known-issues.

[2016-02-06 18:27] alexdowad commented on #268
@nelhage Yep. See `single_byte_optimizable` in `string.c`.

[2016-02-06 18:29] whitequark commented on #268
I guess we might as well detect if the input has any non-ASCII characters in it and always explode it into UTF-32 if it does.

[2016-02-06 18:29] whitequark commented on #252
It's quite telling that two out of five of those are related to encodings, too.

[2016-02-06 18:31] alexdowad commented on #268
Scan the codepoints array for anything which doesn't fit in 7 bits?

[2016-02-06 18:32] alexdowad commented on #268
Internally, Ruby "knows" exactly which strings have multibyte characters and which don't... unfortunately, it doesn't seem to expose this information.

[2016-02-06 18:34] nelhage commented on #268
I tried to test if forcing to UTF-32 would help my test case, but I'm getting exceptions from inside the lexer:

[code]

[code]

[2016-02-06 18:35] alexdowad commented on #268
@nelhage Are you using the new release which @whitequark cut earlier today?

There is a bugfix in that release which could be related.

[2016-02-06 18:35] alexdowad commented on #252
Out of the 5, 2 of them break compatibility with *old* versions of Ruby, but are compatible with the newest versions. That leaves 3.

[2016-02-06 18:38] whitequark commented on #252
So? That doesn't really matter. In your own words, either we support 100% of Rubies we claim to support, or not.

[2016-02-06 18:41] alex commented on #268
Does `String#ascii_only?` do what you want?

On Sat, Feb 6, 2016 at 1:32 PM, Alex Dowad <notifications@github.com> wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: 125F 5C67 DFE9 4084

[2016-02-06 18:41] nelhage commented on #268
Ah, I was on `master` from yesterday. Updating to today, it works and my test case parses in ~900ms, which is a huge improvement vs the utf-8 version.

[2016-02-06 18:42] whitequark commented on #268
See those 200ms? This is why UTF-32 is not always enabled.

[2016-02-06 18:42] alexdowad commented on #268
*With* the patch which forces conversion to UTF-32, presumably.

[2016-02-06 18:42] nelhage commented on #268
@alexdowad correct

[2016-02-06 18:44] alexdowad commented on #268
Hmm. Looking at the implementation, I can see it will return `false` in some cases where Ruby still does those silent optimizations.

[2016-02-06 18:48] nelhage commented on #268
With this patch,

[code]

I get the speedup on the unicode test case, and retain performance on the ASCII one. Per above conversation it's not clear if that's exactly the right test, and it's possible there should still be a min-length check below which the conversion is never worth it.

[2016-02-06 18:53] alexdowad commented on #268
Internally, Ruby has an encoding for each string, but it also has "code range" flags. The flags are: "unknown", "7-bit", "valid", and "broken".

`String#ascii_only?` just checks if the "7-bit" flag is on.

When checking whether it should use those silent optimizations or not, Ruby first checks if the "7-bit" flag is on, and if not, checks the encoding to see if it is an encoding which can *only* e

[2016-02-06 19:04] alexdowad commented on #268
@nelhage Do you want to open a PR?

[2016-02-06 19:42] #268 closed

[2016-02-07 00:36] jredville commented on #267
First, after researching a little, I need to revise this discussion. I should have said `teeny` versions, not `patch` versions, as in `MAJOR.MINOR.TEENY`. `PATCH` appears to refer to the number of commits since the `TEENY` release.

I guess I was under the impression that it would simply mean freezing the parser files when a new `TEENY` version is released. Does MRI also change the parser inside o

[2016-02-08 10:10] whitequark commented on #267
Yes. Moreover, the worst changes are not to the parser but to the lexer, which we do not copy as it has various other dependencies such as the code used to parse literals, the changes that have to be made in sync with AST builder, the parsers themselves, etc. What you are asking for would create a combinatorial explosion in complexity and make testing and fixing bugs much more complicated, if trac

[2016-02-08 15:03] jredville commented on #267
That seems reasonable. Would it make sense to include that in the documentation?

[2016-02-08 15:39] whitequark commented on #267
Most of this is already described in https://github.com/whitequark/parser#compatibility-with-ruby-mri, what do you suggest to add?

[2016-02-08 20:45] rubys opened #272 "2.3.0.3 regression: Parser::CurrentRuby.parse("a @b do |c|;end")"
I have some code that parses with 2.3.0.2, but fails with 2.3.0.3.  The workaround is easy and not a problem for me, but I thought I would report it.  You can see the previous code here and the change that works here:

https://github.com/apache/whimsy/commit/02b4fea409de0da36dd7f5260562263c60d029f5

[2016-02-09 07:33] whitequark commented on #272
This is a very important bug. Thank you for reporting it.

[2016-02-09 07:45] alexdowad commented on #272
The lexer is emitting `kDO` instead of `kDO_BLOCK`.

[2016-02-09 07:47] alexdowad commented on #272
The culprit is the commit where I replaced `stack_pop` with Ragel's `fret`.

[2016-02-09 07:47] whitequark commented on #272
Sigh. I was going to call that out as an invalid transformation, but completely forgot.

[2016-02-09 07:48] alexdowad commented on #272
I thought I had checked and seen that the generated code was equivalent... ?? Just checking again.

[2016-02-09 07:51] alexdowad commented on #272
Oh... I just noticed that `fret` inserts a `next` into the generated code.

[2016-02-09 08:30] #272 closed

[2016-02-09 09:58] alexdowad commented on #272
Thanks for the fix, @whitequark.

[2016-02-11 13:53] whitequark commented on #267
Please reopen if you have any specific suggestions about documentation.

[2016-02-11 13:53] #267 closed

[2016-02-13 20:28] troessner opened #273 "parser blows up on syntax error"
[code]

[code]

[code]

It seems this error was introduced in parser 2.3.
Using parser 2.2 the same code does not blow up in your face:

[code]

[code]

Another problem we have with this is that parser throws a RangeError in this case where I rather would have expected Parser::SyntaxError which we rescue [here](https://github.com/troessner/reek/blob/master/lib/reek/source/source_code.rb#L84) for i

[2016-02-13 20:38] whitequark commented on #273
Yep, that's a bug. I'll look into it a bit later.

[2016-02-14 02:00] whitequark commented on #273
Bisected to b5b54cfac7.

[2016-02-14 02:12] #273 closed

[2016-02-14 06:48] troessner commented on #273
Fast fix!
Could you also please release a 2.3.0.6?

[2016-02-14 13:10] whitequark commented on #273
Done

[2016-02-14 19:46] troessner commented on #273
Thanks for the super-speedy fix and release!

[2016-02-15 16:21] whitequark opened #274 "[Bug#12073]"
https://bugs.ruby-lang.org/issues/12073, https://github.com/ruby/ruby/commit/fbb51ff44cef3a28658285783b810acc8cbae048. Not clear what the backports are yet

[2016-02-16 05:01] JoshCheek opened #275 "Using Parser for a project"
Thought it'd be nice to share a use case. I teach, so made a game for students to analyze syntax, independently of analyzing code. It obviously needs some love, but it's playable and has lots of examples :) Currently, it works by entering a key or series of keys that correspond to the correct syntactic element within the code. They're ranked on how many they complete, how many they get incorrect,

[2016-02-17 04:24] whitequark commented on #275
Frankly I dislike like the approach. It seems to place huge focus on irrelevant syntactic trivia, as if Ruby wasn't bad enough by introducing all those heaps of syntactic junk. It feels much like a mechanized version of that reviled process where the interviewer asks you for things of no importance. This is like the complete opposite of the more academic approach that I prefer, which emphasizes ab

[2016-02-17 04:24] #275 closed

[2016-02-17 07:21] JoshCheek commented on #275
:) I emphasize abstract syntax, as well. Not in an AST format, b/c they're only on their third week. We actually started with identifying various structures across languages, based on their properties (named values "hash", ordered values "array", text "string", etc) and then they [made up their own syntaxes](https://gist.github.com/JoshCheek/cee1930938310e865146) for these structures (my fav is th

[2016-02-17 07:38] whitequark commented on #275
Ack. I might just be biased since I've learned programming so long ago.

[2016-02-17 11:42] troessner commented on #275
@JoshCheek I think it's cool!

[2016-02-25 02:58] dkogias commented on #273
Another variant of this still here with 2.3.0.6:
[code]

[2016-02-25 19:49] alexdowad commented on #273
@dkoglas I was a bit surprised to see this, because I thought I had that already sorted out in 29a323d. Now I have discovered I made a 1-character mistake in that commit. Opening a PR to fix it now...

[2016-02-25 20:35] whitequark commented on #273
@dkogias Fixed.

[2016-02-25 23:34] dkogias commented on #273
Thanks for the quick response!

Something I'm missing re: versions/dependencies though?  If I point my Gemfile to either the latest in this repo:

`gem 'parser', github: 'whitequark/parser'`

or the v2.3.0.6 tag:

`gem 'parser', github: 'whitequark/parser', tag: 'v2.3.0.6'`

Rails failes to load with:

[code]

whereas if I point to rubygems:

`gem 'parser', '2.3.0.6'`

Rails loads.

[2016-02-25 23:36] whitequark commented on #273
Yes, using the repo directly via bundler is not supported with Parser.

[2016-02-25 23:39] dkogias commented on #273
I see, thanks.  I'll be watching for a release then!

[2016-03-02 22:22] sebasjimenez10 commented on #231
For those using Rails just used bundler to update the parser gem :smile:

[2016-03-16 14:25] whitequark opened #279 "[Bug#8851]"
Investigate. We are probably OK but the `undef %s(a)` form is suspicious. https://github.com/ruby/ruby/commit/cb65717b458a65ed88f48af9ef0690939212f79b

[2016-03-16 16:05] mbj commented on #252
First: Sorry for the long reaction time, the question was from February and I simply missed the notification.

We encountered situations like this before. And as this project is well aware 100% ruby compatibility is unarchievable, also because the definition of "100% ruby compatibility" is not existent and under steady flux.

This steady flux + the "ruby is defined by its implementation mantra" cr

[2016-03-16 16:08] mbj commented on #252
@whitequark So to be more explicit for my wall of text / rantish thing above: Can we detect this case in a way a dedicated exception from the `Parser::*` namespace can be raised instead of the generic `EncodingError`? If parser would be changed to do so, and the issue is documented: I think this issue is closed.

I do not prevent @alexdowad to try to fix this issue, but as I understand it takes a

[2016-03-16 16:14] whitequark commented on #252
@mbj This case is different from plain "Parser cannot handle that". In fact, Parser has no problems handling string literals in weird encodings! Instead, it's the downstream tools I'm concerned about:

So in principle we can add a default-off switch "give me literals in file encoding". However, this adds some testing headache.

[2016-03-16 16:19] mbj commented on #252
I'd be also fine the switch would not exists and parser would bail out with "I do not want to support this ruby". Reasons above.

[2016-03-16 17:23] alexdowad commented on #252
One thing which has come out of this issue: ruby/ruby@dfca38e

An aside: getting up close and personal with Ruby like this makes it less and less interesting to me as a language for general development. For little scripts which process text files and such (AWK/Perl replacement), great. For little Rack apps which serve up 1 or 2 dynamic pages, great. For bigger projects, not great. Too messy.

[2016-03-16 20:23] mbj commented on #252
Same here.

Same feelings, but:

There is a market from clients that already have "Big" ruby projects and cannot switch away from the language fast. As we know the "big rewrite" always fails. Most of my commercial time is spend on such clients, first fixing their Ruby to be least painful to manage on a big scale (which IMO breaks a lot with typical ruby mantras) and than in need (AKA when ROI is c

[2016-03-16 20:25] mbj commented on #252
Hence I think tooling should not have to choose at all, and parser should simply raise its own exception, because it does not support this case. This is most easy for tooling, saying "no" to one in 10k files explicitly is better than failing with a random exception, or worse having a switch that only affects this specific file.

Subsets are fine, supersets (bugs) not.

[2016-03-18 15:17] mcandre opened #280 "support for ruby 2.3 syntax"

[2016-03-18 15:21] bbatsov commented on #280
Parser has support Ruby 2.3 since version 2.3.

[2016-03-18 19:45] #280 closed

[2016-03-21 09:04] JoshCheek opened #281 "Editing invalid files"
In older Parser (2.2.2.6), I could mess with its guts to get it to tell me where comments probably were, and then edit/delete them ([example](https://github.com/JoshCheek/seeing_is_believing/blob/00d0651b4ae2adce9e15c832aa503c69ef74f75a/lib/seeing_is_believing/code.rb#L93-L121)). In new Parser, it doesn't expect this (I haven't done much digging into how/why) and so this code explodes:

[code]

I

[2016-03-21 11:39] whitequark commented on #281
Ah hm, this doesn't look right. Could you add the missing nil check (that probably should return nil) and also a test?

[2016-03-25 06:34] bradfeehan opened #282 "cannot load such file -- parser/lexer (LoadError)"
I'm getting this when using `BUNDLE_DISABLE_SHARED_GEMS=1` and installing `parser` (as a sub-dependency of `rubocop`). When I try to run Rubocop:

[code]

It seems if I do `gem open parser`, I can browse the source tree and find `lib/parser/lexer.rb`. However, if I do `bundle open parser` there is only `lib/parser/lexer.rl` and no `lexer.rb`.

[2016-03-25 06:56] whitequark commented on #282
Bundler installs Parser from git (for whatever reason; I don't know how this relates to `BUNDLE_INSTALL_SHARED_GEMS`). This is not supported.

[2016-03-25 06:56] #282 closed

[2016-03-25 07:09] whitequark commented on #279
No, no we aren't *sigh*. We need to support the `%s` symbol form. https://bugs.ruby-lang.org/issues/8851

[2016-03-25 07:20] #279 closed

[2016-03-25 07:22] whitequark commented on #274
Oh wow backported back to 2.1.

[2016-03-25 07:47] #274 closed

[2016-03-25 07:58] whitequark commented on #281
Ah yes. I see your problem. The problem is that you're overriding `Diagnostic::Engine#process` to not raise on fatal errors. However, Parser, or rather, its small-p parser and lexer, _cannot_ recover from fatal errors. That's why they are fatal in the first place!

Fortunately, tokens can be returned even in case of unrecoverable errors.

[2016-03-25 08:07] #281 closed

[2016-03-25 08:59] #252 closed

[2016-03-25 08:59] whitequark commented on #252
I decided to reject such literals by default. If downstream tooling actually wants to handle them, it can opt-in by using a custom AST builder.

[2016-03-25 09:39] bradfeehan commented on #282
Is this right? When I run `bundle install` I see it talks to RubyGems.org, so I would have assumed it was getting them from the same place as `gem install`.

[code]

So it's not supported at all to install `parser` (or any gem which depends on `parser`) using Bundler?

[2016-03-25 09:44] whitequark commented on #282
It's perfectly fine to install Parser using Bundler. Note though:

This cannot happen if you are installing from http://rubygems.org, because every single `.gem` file uploaded there includes `lexer.rb`. I can only conclude that Bundler is somehow picking up a git checkout of Parser.

[2016-03-25 12:18] yujinakayama opened #283 "Error: "literal contains escape sequences incompatible with UTF-8" even when MRI can parse it"
[code]

[2016-03-25 12:19] whitequark commented on #283
Yep, expected behavior. See #252.

[2016-03-25 12:20] whitequark commented on #283
Or for a summary, see https://github.com/whitequark/parser/commit/95401a20e8f4532e32f6361da3918ac8e4bd18c7

[2016-03-25 17:15] bbatsov commented on #283
I understand the rationale, but this doesn't seem like something that should be included in a "bugfix" release... I guess we'll have to update the code in RuboCop accordingly.

[2016-03-25 17:30] whitequark commented on #283
While Parser does not follow SemVer, I still consider this a bugfix, albeit breaking: it was never the intention for these non-UTF-8-compatible strings to escape the public API of Parser. So I would release it as a bugfix even under SemVer. (I think this highlights the drawbacks of SemVer more than anything else, especially in languages with so few tools to enforce or even define API contracts...)

[2016-03-25 17:30] whitequark commented on #283
Though I do note that I expected the fallout to be far smaller.

[2016-03-25 17:31] bbatsov commented on #283
:-) Fair enough.

[2016-03-25 19:12] mbj commented on #252
+1

[2016-03-25 21:38] lamont-granquist commented on #283
Yep, this blew up when rubocop checks our rspec tests and we have strings that are deliberately Latin-1/Shift-JIS bytes that are designed to be illegal in UTF-8:

[code]

[2016-03-26 08:28] #283 closed

[2016-03-30 03:14] JoshCheek commented on #281
Got this working, ty.

[2016-04-13 10:50] whitequark opened #284 "[Feature #10617] Allow multiple assignment in conditional expression"
See Ruby bug https://bugs.ruby-lang.org/issues/10617 and commit https://github.com/ruby/ruby/commit/134d1ce89255f94c42730c814dbf3efed1c557d2

[2016-04-18 14:02] kayhide opened #285 "Fails to parse method definition with `raise` arg"
Hi, I found somethings wrong when parsing ActiveRecord codes.

It fails to parse a code of method definition which:
- takes an arg with the name of `raise`
- raises a module-named error like `A::B`
- and raises with string message

ex)

[code]

It was working fine at the point of version 2.3.0.4.

[code]

Now it fails with version 2.3.0.7.

[code]

This case is found here.
https://github.com/rails

[2016-04-19 04:46] whitequark commented on #285
Dear lord. You know, I implemented all those obscure corners for completeness, not because I actually expected anyone to write code like that...

Anyway, I'll fix it once I find a minute.

[2016-04-19 05:18] kayhide commented on #285
Thanks for your response.

Yes, I myself never put that kind of sensitive name for variables, and don't expect anyone do so, but some people do.
Actually I recently met a guy who wrote a code naming `throw` as a method name.
(That code was a simulation of throwing balls to strike some targets.)

Anything that can go wrong will go wrong...

[2016-04-26 20:18] chrismwendt opened #286 "Option to not dump warnings to stderr"
In many cases, the warnings about version-compliant syntax can be safely ignored, but parser doesn't seem to support disabling or handling them in any other way than to redirect stderr when `require`ing the gem. This has led me to an ugly workaround:

https://github.com/chrismwendt/autoargs/commit/474546cf29ba0e31a15bb641a0e5ecd83f7254f4

Here are a couple options:

- Add a parameter to `parse` wh

[2016-04-26 20:21] whitequark commented on #286
Yes. This is deliberate and caused by Ruby's lack of a sane versioning policy with regards to syntax changes. The current behavior of Parser will not go anywhere until the upstream stops breaking syntax in minor and patch versions. It is annoying because it is designed to be so.

[2016-04-26 20:21] #286 closed

[2016-04-27 01:41] #285 closed

[2016-04-27 02:01] #284 closed

[2016-04-27 02:32] PikachuEXE commented on #280
[Ruby 2.3.1](https://www.ruby-lang.org/en/news/2016/04/26/ruby-2-3-1-released/) released

[2016-04-27 02:48] whitequark commented on #280
I've released 2.3.1.0.

[2016-04-27 08:24] yujinakayama opened #287 "Rational literals including slash are wrongly parsed"
[code]

[2016-04-28 05:52] cremno commented on #287
There is no special slash syntax. `1/3r` is equivalent to `1./(3r)`:

[code]

[2016-04-28 05:54] whitequark commented on #287
Yeah.

[2016-04-28 05:54] #287 closed

[2016-05-02 02:15] kayhide commented on #285
@whitequark
I tried the new parser (2.3.1.0), and confirmed it parses as I expected.
Thanks!

[2016-05-20 18:43] iliabylich opened #290 "Can't parse metacharacters"
Here's is the file I'm using for testing:
[code]

Parser can parse only the first control character

// accidently clicked submit

[2016-05-20 18:44] mbj commented on #290
Can you be more specific?

[2016-05-20 18:46] iliabylich commented on #290
@mbj It seems that lexer should parse it according to [this](https://github.com/whitequark/parser/blob/1663bf85b9e08c4775c2d737c3a435199306e42e/lib/parser/lexer.rl#L739-L756) code, but for some reason it fails with `literal contains escape sequences incompatible with UTF-8`

[2016-05-20 18:47] whitequark commented on #290
This is by design: https://github.com/whitequark/parser#invalid-characters-inside-comments-and-literals

[2016-05-20 18:47] #290 closed

[2016-05-20 18:48] whitequark commented on #290
You can override the [string_value](https://github.com/whitequark/parser/blob/master/lib/parser/builders/default.rb#L1539-L1549) builder method to prevent this error, at your own risk.

[2016-05-27 16:33] mvz opened #291 "Safe navigation with block gives wrong parse result"
When safe navigation is combined with a block, the resulting AST seems wrong. The following code demonstrates the problem:

[code]

The final output has inverted nesting compared to the 'non-safe' version, and the method name (`bar`) is missing entirely.

[2016-05-27 16:54] #291 closed

[2016-05-27 17:11] mvz commented on #291
That was fast :smile:. Thanks!

[2016-06-04 07:41] chrismwendt opened #297 "Parse failure when calling method on a new line"
Repro:

[code]

[code]

[code]

[2016-06-06 06:15] whitequark commented on #297
Hmmm, unable to reproduce:
[code]

[2016-06-06 06:16] whitequark commented on #297
Nevermind the previous comment, I forgot how my own CLI works for a moment

[2016-06-06 06:18] whitequark commented on #297
Hm, no, still unable to reproduce...
[code]

[2016-06-06 06:51] whitequark commented on #297
I've also tried 2.1.1, with no result. Please reopen if you have a reliable repro. (Maybe there are some funky whitespace characters in your file? There are none in the code in the github issue, at least.)

[2016-06-06 06:51] #297 closed

[2016-06-06 19:58] chrismwendt commented on #297
My apologies! I was reading in the file incorrectly and inserting extra new lines.

[2016-06-07 13:26] iliabylich opened #298 "Parser::AST::Processor modifies sexp"
[code]
Output:
[code]

`Processor` adds an extra `nil` to the end of any required argument. Should it be fixed? Wondering because it requires some breaking changes in `processor`

[2016-06-07 13:27] whitequark commented on #298
That's a bug in `Processor`.

[2016-06-07 13:36] iliabylich commented on #298
As far as I understand, `Processor` contains some legacy support, should I leave `on_argument` deprecated in favor of `on_required_argument/on_optional_argument`?

[2016-06-07 13:38] whitequark commented on #298
[code]

[2016-06-07 15:45] iliabylich commented on #298
`:op_asgn`, `:and_asgn` and `:or_asgn` nodes have the same issue:
[code]
Output:
[code]

I'll add a fix for these cases to https://github.com/whitequark/parser/pull/299

[2016-06-07 17:03] #298 closed

[2016-07-24 21:51] JoshCheek opened #304 "`else` in method / block, is omitted from AST, unless there is also a `rescue`"
Just hit this while exploring it to see if I could remove a flag in the method body to simplify the definition. Looked around and found the warning that Ruby would emit ([here](
https://github.com/whitequark/parser/blob/1e8b1f92eb6640e5f873bafcca31a2fc4054687b/lib/parser/messages.rb#L60)), which looks like it is identified ([here](
https://github.com/whitequark/parser/blob/1e8b1f92eb6640e5f873bafc

[2016-07-24 22:00] whitequark commented on #304
... hm. hah. I remember writing that in 2013; I was pretty convinced that "is useless" meant "never executes" rather than "always executes".

[2016-08-01 20:14] JoshCheek opened #305 "JRuby `Unhandled Java exception: org.jruby.RubyContinuation$Continuation`"
Debugged this down from my lib into Parser (possibly a Racc or JRuby issue?) at this point I'm a bit out of my depth. Figure I'll report it here since this is how far I got while working on https://github.com/JoshCheek/seeing_is_believing/issues/31

## Consider this code

[code]

## With the line commented

JRuby raises "Unhandled Java exception: org.jruby.RubyContinuation$Continuation"

Note that

[2016-08-02 03:51] whitequark commented on #305
This used to be a known racc bug. all_errors_are_fatal was forcibly activated on non-MRI until 04829125a and de0510ea3. It seems that you've somehow found another instance of it...

cc @headius. is this a JRuby bug? a Racc bug? I'm not completely certain how the Java Racc works.

[2016-08-02 05:37] alexdowad commented on #305
Works on JRuby 1.7.9. Installing 9.1.2.0 so I can have a look.

[2016-08-02 05:41] whitequark commented on #305
Thanks, @alexdowad !

[2016-08-02 05:50] alexdowad commented on #305
The error is happening in Racc's `parser.rb`, inside `yyerror`, at this line:

[code]

Investigating a bit further...

[2016-08-02 05:52] alexdowad commented on #305
There is a matching `catch` block in `parser.rb`, but the `throw` is not happening inside the matching `catch`. This should raise an `UncaughtThrowError`, but it doesn't.

[2016-08-02 05:55] alexdowad commented on #305
OK, the throw is not happening inside the `catch` block in `parser.rb` for this reason: it's not using the pure-Ruby Racc engine, it's using `cparse-jruby.jar`.

[2016-08-02 06:05] alexdowad commented on #305
Incidentally, when the pure-Ruby engine is used, this test case infinite-loops. Looks like @headius doesn't have my bugfix from racc@8e7b4de in JRuby's stdlib.

[2016-08-02 06:08] alexdowad commented on #305
BTW -- although the Java Racc engine is being used, the pure-Ruby `#yyerror` from `parser.rb` is still being called. Perhaps it should be overridden with an appropriate Java implementation...?

[2016-08-02 06:31] alexdowad commented on #305
I was wrong -- there's nothing to indicate that @headius is using Racc 1.4.14. Probably it's an older version.

[2016-08-02 06:33] #304 closed

[2016-08-02 06:37] whitequark commented on #305
So why do I hit this? Parser explicitly requires a Racc 1.4.14 or newer, and Racc includes its own Java code.

[2016-08-02 09:00] alexdowad commented on #305
The Racc runtime (just one particular file) is part of Ruby's stdlib and is bundled with Ruby. Parser requires the Racc gem, and its parser files are compiled using Racc 1.4.14. Those parser files still rely on the Racc runtime, though, and the Racc runtime which is bundled with JRuby is still being used.

[2016-08-11 00:24] whitequark opened #306 "[Bug #12402]"
See https://bugs.ruby-lang.org/issues/12402 and https://github.com/ruby/ruby/commit/064ed74be4a4d0d03a2de13f5d6732e62b959930 and https://github.com/ruby/ruby/commit/3433653240499b62751d2cea7dd61f082b82f1c7. Unclear if backported yet.

[2016-08-13 01:55] whitequark commented on #306
And https://github.com/ruby/ruby/commit/5245e314264ad3297f1203ba0beb40b060b22ed3.

[2016-08-13 02:05] whitequark commented on #305
Triaged to https://github.com/jruby/jruby/issues/4071.

[2016-08-13 02:05] #305 closed

[2016-08-13 02:22] whitequark opened #307 "[Bug #12669]"
See Ruby bug https://bugs.ruby-lang.org/issues/12669 and upstream commit https://github.com/ruby/ruby/commit/90d9255ec24b84a1a9f975f2628530f0ed80636d.

[2016-08-19 08:30] whitequark opened #308 "[Feature #12686]"
See https://github.com/ruby/ruby/commit/ec8f8fa4c803ab9e71d1b38f5c0e32a3d2ffe0a9 and https://bugs.ruby-lang.org/issues/12686.

[2016-08-25 08:23] mvz opened #309 "Incorrectly parses else without rescue"
If an `else` clause is used in a `begin .. end` block without any `rescue` clause, the `else` clause is missing from the parsed result:

[code]

(This example is with the Ruby23 parser).

[2016-08-25 08:25] mvz commented on #309
Ah, looks like this was already reported in #304, and fixed too.

[2016-08-25 08:25] #309 closed

[2016-08-25 08:25] mvz commented on #309
Sorry for the noise.

[2016-08-27 04:44] whitequark opened #310 "r56013"
See https://github.com/ruby/ruby/commit/504908996c6eec59f920a9da532a3004cf789568.

Does this have behavioral change? Who knows?! Need to investigate.

[2016-09-06 21:12] whitequark commented on #310
Nope.

[2016-09-06 21:12] #310 closed

[2016-09-06 21:13] #308 closed

[2016-09-13 23:08] backus opened #312 "Trailing commas for block arguments should be parsed as mlhs"
Ruby lets you use a trailing comma in a block argument for destructuring

[code]

Removing the comma results in different behavior:

[code]

Parser produces the same AST for both cases:

[code]

## Expected behavior

Parser correctly handles destructuring like this for assignments:

[code]

and parser also supports other forms of destructuring for block arguments:

[code]

so it seems like the app

[2016-09-13 23:21] backus commented on #312
Here is a failing test:

[code]

[2016-09-13 23:42] mbj commented on #312
@backus did you check if unparser can correctly produce the proposed AST here? Can you open an issue if not?

[2016-09-13 23:46] whitequark commented on #312
Thanks for the report. This is indeed a bug. I believe it is in this code: https://github.com/whitequark/parser/blob/master/lib/parser/builders/default.rb#L1031-L1035

[2016-09-13 23:49] backus commented on #312
@mbj I think unparser is fine. Given the AST I mentioned it produces the following:

[code]

which is semantically equivalent.

[2016-09-13 23:50] backus commented on #312
@whitequark cool I'll try to take a stab at a fix later

[2016-09-17 11:55] sumangurung opened #315 "Top level api and spec"
Hi,
I couldn't find documentation on top level api and how to use this tool. Also all the specs are at the same directory level, so it was hard for me to figure out from the specs what the public api's are and how to use this tool programmatically. Is there documentation around it somewhere else?

Also, a technical post on how the code is architected and what happens when a source is parsed would

[2016-09-17 12:04] sumangurung opened #316 "control flow and boolean operators produce the same AST"
These produce the same AST:
1. && and `and`
2. || and `or`

[code]

There are differences in these pair of operators with regards to precedence and should produce different ASTs.

[2016-09-17 12:07] whitequark commented on #316
Yes.

Why do you think so?

[2016-09-17 12:09] whitequark commented on #315
Have you read [the README](https://github.com/whitequark/parser#usage) or the [API documentation](https://whitequark.github.io/parser/) which is linked from the README?

[2016-09-17 12:35] sumangurung commented on #316
Converting it back to the source using unparser gem gives `and` and `or` instead of `&&`. Will this not be an issue if you have tool which modifies the AST and converts it back to ruby?

[2016-09-17 12:38] whitequark commented on #316
As an exercise, try parsing `x or y and z` and then converting it back using unparser.

[2016-09-17 12:43] sumangurung commented on #315
I did read both the links. I should have looked more because I found more info in the `doc` folder. This [AST Format](https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md) in particular was helpful.

I guess, the top level api is just `parse` along with some extra config to print out diagnostics. And it can work on both a custom buffer or a plain string. For some reason, I expected i

[2016-09-17 12:44] #315 closed

[2016-09-17 12:57] sumangurung commented on #316
Hmmm.. This is what it gives back:
[code]

But the light bulb in my head didn't light up. Could you please explain?

I guess it is not an issue because it seems to do the right thing in this example:
[code]

In any case, feel free to tell me if this is not an issue. I haven't played around with the Ruby AST much, so I could be totally off.

[2016-09-17 13:15] whitequark commented on #316
Basically, the ASTs Parser produces are semantic. They deliberately shed (almost) all syntactic information, since they are designed for analysis. `x || y && z` is parsed as `(or x (and y z))` whereas `x or y and z` is parsed as `(and (or x y) z)`, in both cases reflecting the precedence in the structure of the AST. Any tool that unparses the ASTs is obliged to produce something that would roundtr

[2016-09-17 13:15] #316 closed

[2016-09-17 13:27] sumangurung commented on #316
Makes sense. Thanks for explanation.

[2016-09-17 13:34] sumangurung commented on #316
By the way, do you know of any open source projects using the parser and unparser gems? I would love to know what they are using it and how they are using it?

[2016-09-17 13:40] whitequark commented on #316
Here's the list of all gems using parser: https://rubygems.org/api/v1/gems/parser/reverse_dependencies.json

Some notable ones are rubocop and mutant.

[2016-09-17 13:42] sumangurung commented on #316
Sweet, thanks. Did not know there was rubygems API for that.

[2016-09-17 13:51] whitequark commented on #316
It's very carefully hidden.

[2016-09-18 11:29] mbj commented on #316
@sumangurung Unparser is intentionally not producing the original source, its producing semantically equivalent source. Its mainly used for tools that need to generate ruby source code from AST, and is not optimized for human consumption, only for correctness.

Generating a language like ruby that has many specialized nodes in a way its appealing for humans would be way more work.

[2016-09-18 11:50] alexdowad commented on #316
@sumangurung Note also that `parser` does provide "source maps", which can be used to find the source text which any AST node was derived from. If you care about the difference between `||` and `or` (for example), you can extract the relevant bit of source text and do string equality/regex checks on it.

[2016-09-19 07:21] bbatsov opened #317 "Ragel 7 drops support for Ruby"
More info here - http://colm.net/news/2016/07/31/ragel-target-langs.html

Not sure what this means for parser - guess it can continue to use ragel 6.x for the foreseeable future. Still, that's one unfortunate development...

[2016-09-19 19:43] whitequark commented on #317
Yes. That or we make a hostile fork of Ragel.

[2016-09-19 19:43] #317 closed

[2016-09-21 01:57] sumangurung commented on #316
@mbj Makes sense. Thanks for taking the time to comment.

@alexdowad That is an interesting bit of info for me. Thanks, I will explore that path.

[2016-09-23 03:52] whitequark opened #318 "[commit 7b4b01b]"
This is just rearranging stuff, NFC. https://github.com/ruby/ruby/commit/7b4b01bf0554ad1127624e5ec63f564fea8a1567

[2016-09-23 03:52] whitequark opened #319 "[Bug #11873]"
See upstream commits https://github.com/ruby/ruby/commit/c924e2db9612bf3ca7aeb169075fdd80fbf545ca and https://github.com/ruby/ruby/commit/f4ac0d75d9ed9c8eec4196f4410d6e9dda464d0c and bug https://bugs.ruby-lang.org/issues/11873.

[2016-09-26 13:43] whitequark commented on #312
Reopening because of a bug described in https://github.com/whitequark/parser/pull/313#issuecomment-249558060.

[2016-09-26 16:32] iliabylich commented on #312
@whitequark It seems that there's some [flag](https://github.com/ruby/ruby/blob/trunk/parse.y#L3374) (`1`) in MRI that indicates that source code has a trailing comma. Do you know how does it work? As I understand, arguments are
[code]
Is it some flag for invisible nameless splat that is ignored by `Method/Proc#arity`?

I hope it's not.

By the way, Ripper has `0` flag for some reason.

[code]

Al

[2016-09-26 16:36] whitequark commented on #312
That seems correct to me. So what we should do in this case is insert a synthesized formal rest argument (with the same location as for synthesized begin...)

[2016-09-26 16:59] iliabylich commented on #312
What do you mean by `synthesized formal rest argument `? Introducing new node like `kwbegin`?

[2016-09-26 17:33] whitequark commented on #312
No. `kwbegin` is completely unrelated. Actually, this is a real problem because it's unclear what the location should point to... Anyway, for now just make parsers put a `(restarg)` there, I'll think about it more.

[2016-09-26 18:01] iliabylich commented on #312
But handling it as a blank restarg breaks proc arity. And the code generated by unparser will not be the same

[2016-09-26 18:17] whitequark commented on #312
That's a good point. This is probably the first moment since I started writing parser that I legitimately have no idea what's going on... I'll dig into the MRI source the next weekend and figure out the final answer to this stupid issue.

I'm not sure how much sense it makes for you to do anything before that since fixing it *somehow* is trivial but fixing it *right* appears to be beyond the knowl

[2016-09-26 18:53] mbj commented on #312
@whitequark Your work is generally under-appreciated. Thx for this. I can only see a small glimpse on how painful it must be first hand.

[2016-09-27 02:46] JoshCheek opened #320 "Bug in `else` without a `rescue`"
Initially opened as #304. Adding a new issue b/c it seems to have a bug in its implementation:

[code]

This bit works fine:

[code]

This one has a bug, [compound_stmt](https://github.com/whitequark/parser/blob/380dca3161c828756dd0447061fb406b0a3fef10/lib/parser/builders/default.rb#L987) is `nil` (I'd look into it, but there's a television on and two dogs running around, so it's difficult to conc

[2016-09-27 06:38] #320 closed

[2016-09-28 07:56] whitequark commented on #319
https://github.com/ruby/ruby/commit/3d2e45d3195ea8ad896e3a48d5cff29bfc032fff

[2016-10-07 10:02] whitequark commented on #312
*long sigh*

Ok, I've figured out the mysterious flag. The position in which `0` appears here:

[code]

corresponds to the `rb_args_info->restarg` field. parse.y [stores the raw integer value 1](https://github.com/ruby/ruby/blob/v2_3_1/parse.y#L3411) into it only in the case of "excessed comma" (as the parse.y source calls this pattern). This raw integer value 1 corresponds to a valid fixnum 0 whe

[2016-10-07 10:07] whitequark commented on #306
Will not be backported. https://bugs.ruby-lang.org/issues/12402#note-6

[2016-10-07 11:03] iliabylich commented on #312
@whitequark Any ideas how to name this new node? `s(:excessed_comma)`?

[2016-10-07 17:23] backus commented on #312
Wow this is insane. Thanks for taking a deeper look into this @whitequark.

[2016-10-08 02:42] alexdowad commented on #312
@whitequark Don't envy you one little bit. Ruby internals are a pain, and the dev team does not seem to have any inclination to stop adding new features and clean up what is already there.

[2016-10-08 06:10] whitequark commented on #306
Fixed.

[2016-10-08 06:10] #306 closed

[2016-10-08 06:19] #318 closed

[2016-10-08 06:48] whitequark commented on #312
*long sign again* So I was hesitant to merge #322 yesterday, and it turns out, for a good reason. Let's take a closer look at how proc and masgn work:

[code]
Do you see it? Madness! (If we omit the case of `|x|`) the arguments of `proc` are *exactly* equivalent to `mlhs`. I.e. `proc{|X|}.call(Y)` is exactly the same as `X = Y` for all X and Y. Note that this is not at all true about `lambda`, whi

[2016-10-08 06:50] whitequark commented on #312
This is actually exactly the semantics [described in compile.c](https://github.com/ruby/ruby/blob/1b94420174641d78b99c45074e8770a91efa2d2b/compile.c#L1466-L1469), by the way.

[2016-10-08 07:00] whitequark commented on #319
Ah, such a wonderful testcase: `p p{p p;p(p)}`

[2016-10-10 16:47] #312 closed

[2016-10-13 14:50] mjago opened #323 "parse chokes on escaped string"
Parser::CurrentRuby.parse("x\234K\313\317\a\000\002\202\001E") fails with "invalid byte sequence in UTF-8 (EncodingError)", yet MRI and other rubies parse ok.

The string is straight from ruby/specs - there are several more similar strings that don't parse.

[2016-10-13 18:59] whitequark commented on #323
First, this is incorrect: Ruby MRI will not parse the source code that you are parsing since version 2.0:
[code]

If you have meant `Parser::CurrentRuby.parse('"x\234K\313\317\a\000\002\202\001E"')` instead, that is a string literal with these escape sequences verbatim, then this is not supported by default; not through any inherent limitation of Parser but the fact that creating such strings in A

[2016-10-13 18:59] #323 closed

[2016-10-13 20:53] mjago commented on #323
@whitequark
[code]
No other parser out of all the rubies blows itself up by attempting to parse this (and 10 other) strings. It's unfortunate since parser appears to parse all other 30000 odd specs just fine!

[2016-10-13 20:58] whitequark commented on #323
Please read my reply again.

[2016-10-13 23:35] eregon commented on #323
From the readme, there is a note on this:
[code]

[2016-10-13 23:50] eregon commented on #323
From the README:
[code]
At least two of those would support this.

But then there is a note on this:
https://github.com/whitequark/parser#invalid-characters-inside-comments-and-literals

So that's documented and seems an intentional choice, fair enough.
It seems like it's the most common incompatibility of the ones listed though.

It still seems very surprising to me that ***escaped*** characters

[2016-10-14 00:00] whitequark commented on #323
This is unfortunately in line with the Ruby behavior. For example, if one constructs UTF-8 codepoints using `\x??` or even `\M-\c-?` escape sequences, the result will be a valid UTF-8-encoded string.

All of this is accurate. To elaborate, whereas Ruby implementations must unquestionably accept all valid Ruby code as their primary purpose is to run it, Parser is a tooling-grade parser, and its pri

[2016-10-17 17:25] mckaz opened #324 "Proper way to use assign_properties on Node?"
I'm trying to work out how to use assign_properties for a Node in the ast. It looks like Parser::AST::Node defines its own assign_properties method which only sets the node location.

I've tried to override this method with a definition that assigns an instance variable for each entry in the properties hash, i.e., exactly what is done in the AST::Node class: https://github.com/whitequark/ast/blob/

[2016-10-18 02:14] whitequark commented on #324
But Parser doesn't pass any properties except `location`.

Anyway, can you show your code?

[2016-10-18 02:49] mckaz commented on #324
I'd like to tag each expression in a generated AST with the class to which the expression belongs. As a simple example, given the sexp:
`s(:send, s(:int, 2), :+, s(:int, 2))`

I want to tag each `s(:int, 2)` with the class `Fixnum`, and the entire expression with the class `Fixnum`. So I'd like to be able to say something like `sexp.assign_poperties(klass: Fixnum)`.

Is there a straightforward way

[2016-10-18 02:52] whitequark commented on #324
Depending on what exactly you're doing, one of the following will make sense:
  * `node.update(nil, nil, {klass: Fixnum})`;
  * `node_classes[node] = Fixnum` (since two `s(:int, 1)` nodes always compare and hash equal, even if they have different source location);
  * transform Parser nodes into your own nodes that have some additional context using an `AST::Processor`.

[2016-10-18 02:57] mckaz commented on #324
Thank you! I'll look into using one of these approaches.

[2016-10-18 02:57] #324 closed

[2016-11-05 09:11] whitequark opened #325 "[Bug #12900]"
See upstream commit ruby/ruby@8a5512b4bfeeed282f8fedbf5c87ec5f153b5691 and Ruby bug https://bugs.ruby-lang.org/issues/12900.

[2016-11-05 09:12] whitequark commented on #325
Irrelevant for the Ruby implementation.

[2016-11-05 09:12] #325 closed

[2016-11-18 03:41] matthewrudy opened #326 "Ruby 2.3.2 release"
This is not super urgent.

But with the latest parser release we get warnings when using ruby 2.3.2

[code]

I think a 2.3.2 compatible release could easily be done.

But I think in reality a patch release shouldn't affect syntax, si actually the warning shouldn't be there.

[2016-11-18 03:45] whitequark commented on #326
You would *think* this is true, but no, in fact Ruby often alters syntax in patch versions: https://github.com/whitequark/parser#compatibility-with-ruby-mri.

Such a release is blocked on #307 and #319. I will fix this soon.

[2016-11-18 03:51] matthewrudy commented on #326
@whitequark thanks for the rapid response.

[2016-11-20 05:17] whitequark commented on #326
The release isn't actually blocked by those issues, since they weren't backported to 2.3.2. I've released 2.3.2.0.

[2016-11-20 05:17] #326 closed

[2016-11-20 08:29] #307 closed

[2016-11-20 08:29] #319 closed

[2016-11-20 09:41] matthewrudy commented on #326
thanks @whitequark

[2016-12-01 20:14] JoshCheek opened #328 "Heredoc delimiter considered part of the string"
A heredoc whose delimiter has a sequence of characters that look like interpolation seems to get confused and embed part of the delimiter into the string body.

---

Given this code

[code]

When I run it in Ruby:

[code]

So I would expect this ast:

[code]

But, I get this ast:

[code]

[2016-12-02 02:05] whitequark commented on #328
*sigh*

[2016-12-02 02:06] whitequark commented on #328
By the way, I need a co-maintainer for Parser--not really for any semantic changes, for now at least, but just for daily stuff like bumping the syntax warning (but checking that all the commits from parse.y are reflected in parser first). Would you volunteer?

[2016-12-02 02:18] whitequark commented on #328
Back on topic: this is actually *really* tricky to fix without nontrivial performance degradation...

[2016-12-02 02:45] whitequark commented on #328
@JoshCheek This is going to be an extremely nasty rewrite of the heredoc lexing and I've no time for it right now. This bug is only ever hit when using #{ inside an interpolated heredoc delimiter, so I guess it's not going to hurt much meanwhile.

[2016-12-02 02:47] whitequark commented on #328
The reason why this is extremely nasty is this:
[code]
which is valid Ruby and returns "\nstr\n". Fuck this language, for real.

[2016-12-02 02:53] whitequark commented on #328
@alexdowad Maybe you have an idea of how to make it work decently. The only option I see is comparing the entire line with the heredoc delimiter before proceeding to lex it like usual.

[2016-12-02 03:39] alexdowad commented on #328
I'll try to have a look at it today.

[2016-12-02 16:27] JoshCheek commented on #328
If you need temporal consistency, I'm probably not the right person. Otherwise I'd be happy to contribute. You may need to spell some things out the first time, eg I'm not confident about what "the syntax warning" means (maybe [this](https://github.com/whitequark/parser/blob/ecbdf65442abe8c1d24dfa28e472189a1156a155/lib/parser/current.rb)?)

[2016-12-03 08:24] whitequark commented on #328
Ack.

Indeed. It's something we have to do because of how MRI is maintained...

[2016-12-04 04:27] whitequark opened #330 "ruby/ruby@80045bc + ruby/ruby@7e8b910"
See https://github.com/ruby/ruby/commit/80045bc2a9e12012d6d16517ea5cb037e67eb2c1.

[2016-12-04 14:54] JoshCheek commented on #330
Would this one fall under https://github.com/whitequark/parser/issues/328#issuecomment-264353903

If so, can you describe what it would take to close the issue, or link me to a similar one I can use as a reference?

My guess: add a test showing that it parses the spacing on 2.4 (maybe nearby [this](https://github.com/whitequark/parser/blob/ecbdf65442abe8c1d24dfa28e472189a1156a155/test/test_parser.

[2016-12-04 17:30] whitequark commented on #330
@JoshCheek Actually, yes!

This is just a lexer feature, so yes. I usually copy the MRI tests nearly verbatim, with minimal necessary adjustment to the Parser testsuite.

Yup.

This particular case is a bit odd because we cannot easily branch on Ruby version in the lexer rules. So, I think an easy (although somewhat dirty) way to fix it is as follows: add a copy of the Unicode lexing rules under t

[2016-12-08 12:42] donv opened #332 "Safe navigation operator with comparison after method call"
Hi!

Thank you for an excellent gem!

The following snippet runs fine on Ruby 2.3.x, but fails to parse with  ruby-parse:

[code]

[code]

Removing the space before the ampersand is a workaround:

[code]

[2016-12-09 02:29] #332 closed

[2016-12-09 08:52] donv commented on #332
Thank you!

[2016-12-11 10:26] whitequark commented on #330
Also ruby/ruby@7e8b910.

[2016-12-16 04:24] whitequark opened #334 "ruby/ruby@d25faa4"
See https://github.com/ruby/ruby/commit/d25faa4ed2d850f086aff7ec2aa40c9f50e168db.

[2016-12-19 20:42] flajann2 opened #335 "ruby24.rb loops forever upon initial load"
Ruby 2.3.3 or Ruby 2.2.6, Ubuntu 16.10, 8-core AMD, 32GB RAM using rbenv to manage rubies.

Code snippet from parser where the "infinite" looping occurs https://gist.github.com/flajann2/9ad496a7965cc07a97352c10b2978da5

In RubyNEAT https://github.com/flajann2/rubyneat/tree/v1.0.0

Trace code located in https://github.com/flajann2/rubyneat/blob/v1.0.0/lib/rubyneat.rb

To reproduce:
   clone rubynea

[2016-12-19 21:35] whitequark commented on #335
It would help if your repository wasn't *dozens of megabytes* in size. I have like 8Mbps of downlink here.

[2016-12-19 22:12] whitequark commented on #335
This is not a bug in Parser. You have some gem that reloads your code in a loop. To see what I mean, try this:
  * run `bundle exec ./bin/neat`
  * without stopping the command, add `print(1)` to `lib/rubyneat.rb` at the end
  * the command starts to repeatedly print 1

This means that all of your require's succeed (including Parser's, which you can verify by adding an explicit `require 'parser/ru

[2016-12-19 22:12] #335 closed

[2016-12-21 07:14] flajann2 commented on #335
Thanks for taking a look at this. Hmmmm... I thought require was only supposed to acquire once and only once. OK, I have some ideas on what may be happening. Thanks again.

[2016-12-21 11:11] whitequark commented on #335
That's how it works. However if you clear the `$LOADED_FEATURES` special variable, `require` will think it hasn't loaded anything. One of your gems is doing that.

[2016-12-22 09:50] flajann2 commented on #335
I see. And it will be a lot of fun tracing this down.

[2016-12-22 17:39] whitequark commented on #335
http://nithinbekal.com/posts/ruby-trace-var/

[2016-12-24 08:58] flajann2 commented on #335
All works now. Thanks for your help.

[2016-12-26 13:37] whitequark opened #336 "[Bug #13073]"
See the upstream commit https://github.com/ruby/ruby/commit/b4aa884f06ee5c40f88e90f312ea6b31c120f308 and Ruby bug https://bugs.ruby-lang.org/issues/13073.

[2017-01-19 10:06] whitequark opened #337 "[Feature #12906]"
See the upstream commit https://github.com/ruby/ruby/commit/0ec889d7ed34f80b534dfc7a93bdd3175aba9ff9 and Ruby bug https://bugs.ruby-lang.org/issues/12906.

[2017-02-07 11:56] mindseyeblind opened #338 "parser/current is loading parser/ruby24, which recognizes warning: HEAD-compliant syntax"
I'm using Atom with a bunch of linters, including linter-haml which is a wrapper for the `haml_lint` gem, and I keep getting the following error (nothing actually breaks, but I keep getting popups whenever I save a HAML page).

[code]

How did I manage to mess this up? I don't think `warning: HEAD` is a valid ruby version...

[2017-02-07 13:05] whitequark commented on #338
Fixed in version 2.4.0.0.

[2017-02-07 13:05] #338 closed

[2017-02-09 12:46] whitequark opened #339 "ruby/ruby@715094c"
See upstream commit https://github.com/ruby/ruby/commit/715094c2de60f587c1dade431d02c0a79995ee3f.

[2017-02-27 09:27] RatedR92 opened #340 "Warning parser/current is loading parser/ruby22"
Hello,

I'm new to ruby, I'm installing phishing-frenzy but when I execute the command $ rake db:seed
an error shows up saying that I have to install parser, when parser installed (version 2.4.0.0) another error shows up

warning: parser/current is loading parser/ruby22, which recognizes
warning: 2.2-compliant syntax, but you are running 2.3.1.

My Ruby version is 2.3.1
My parser version is 2.4.0.

[2017-02-27 17:38] whitequark commented on #340
Run `bundle update parser` in phishing-frenzy. If this doesn't help, report a bug against phishing-frenzy.

[2017-02-27 17:38] #340 closed

[2017-03-09 03:39] charliesome opened #341 "Parser does not distinguish between attribute assignments and method sends"
In Ruby attribute assignments have subtly different semantics to method sends to the same method:

[code]

Parser does not distinguish between these two cases:

[code]

By comparison, MRI uses `NODE_ATTRASGN` for the first example, and `NODE_CALL` for the second:

<details>

    λ ruby --dump=parsetree -e '$a[] = 123'
    ###########################################################
    ## Do NOT us

[2017-03-09 07:01] whitequark commented on #341
D: D:

[2017-03-09 12:01] whitequark commented on #341
To outline the work that needs to be done...
  1. [These two nodes](https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md#to-attribute) should be changed to `sendasgn` and `csendasgn`.
  2. The change should be gated on an [AST compatibility flag](https://github.com/whitequark/parser/blob/master/lib/parser/builders/default.rb#L25-L41).
  3. The [README intro section](https://github.co

[2017-04-04 08:14] dancinglightning opened #343 "Lvar discrepancy / question"
In trying to understand the output while using this (for https://github.com/ruby-x/rubyx )

The docs (https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md) say about :lvar
(:lvar foo)  -->  "foo"

But (off course) when parsing "foo" i get `s(:send, nil, :foo)`
So in wondering how to generate an :lvar (or when the parser generates one) i read the test.
In test_parser line 2878, "foo.f

[2017-04-04 15:03] mbj commented on #343
You need to have an lvar assignment in the same lvar scope visible to the parser.

[2017-04-04 18:15] dancinglightning commented on #343
thanks @mbj , good to know the parser does that analysis already.
I guess a note on the ast docs would clear that up.
And since the tests obviously pass, everything seems fine

[2017-04-04 18:15] #343 closed

[2017-04-24 20:46] aselder opened #344 "Ruby 2.3.4 Release"
Similar to https://github.com/whitequark/parser/issues/326, we're getting a warning when running Ruby 2.3.4.

[code]

[2017-05-04 20:44] wendelscardua opened #345 "ruby-parse fails on ruby code with unneeded but valid 'else' statement"
Let `test.rb` be this sample ruby code:
[code]
ruby 2.2.6 treats this code as valid (with a warning, though):
[code]
ruby-parser, on the other hand, fails with a long stacktrace:
[code]

[2017-05-04 21:20] #345 closed

[2017-05-05 19:25] jfly opened #346 "Ruby 2.4.1 Release"
Similar to #344 and #326, we're getting a warning when running Ruby 2.4.1.

[code]

[2017-05-06 08:11] whitequark commented on #346
See https://github.com/whitequark/parser/pull/342#issuecomment-289304128.

[2017-05-09 17:31] whitequark opened #347 "ruby/ruby@046c9438"
See https://github.com/ruby/ruby/commit/046c94380bda1aafe99f56a854f9d44478381b1d and https://bugs.ruby-lang.org/issues/11873. This is a fixup of https://github.com/whitequark/parser/issues/319.

[2017-05-22 02:00] ACPK commented on #344
+ 1

[2017-05-22 22:58] kandadaboggu opened #350 "Plus(+) becomes an unary operator without white space between operator and parameter"
I ran in to bug while trying to parse a simple ruby code string. The parser treats `+` as an unary operator when it is followed by a string literal without whitespace in between.

Setup a variable called `x`

[code]

**With space between operator and parameter:**

[code]

Eval of the `code` string gives the expected answer:
[code]

**Without space between operator and parameter:**

[code]

Eval of

[2017-05-23 00:32] whitequark commented on #350
Not a bug. Add the assignment to `x` to parsed code as that charges internal parser state.

[2017-05-23 07:57] knightq commented on #336
The issue 13073 on ruby codebase have been fixes 5 months ago, isn't it?

Shouldn't be this issue closed too?

[2017-05-23 16:45] whitequark commented on #336
The fix is not ported to parser.

[2017-05-23 22:28] kandadaboggu commented on #350
@whitequark `x` in my case is a function.

[2017-05-23 23:13] whitequark commented on #350
Then Parser's behavior matches Ruby's:
[code]

[2017-05-24 03:05] kandadaboggu commented on #350
@whitequark I agree this is not an issue related to`parser` gem.

[2017-05-24 03:05] #350 closed

[2017-05-26 13:35] rmosolgo commented on #317
I'm also heavily invested in Ragel's Ruby backend. Turns out that 7.0.0.9 _does_ include Ruby output and its performance is better (https://github.com/rmosolgo/graphql-ruby/pull/737).

Just thought I'd mention it here so that, if there is a fork, I can stay in the loop! I don't understand Ragel's finer points (yet?) but I love string processing, so I'm interested in keeping up with the project if

[2017-05-26 14:02] whitequark commented on #317
@rmosolgo @bbatsov @YorickPeterse time for a fork of Ragel based on 7.0.0.9? I for one would be in favor of that.

[2017-05-26 15:17] bbatsov commented on #317
I'm in favour of the idea, but lately my work have eaten up my time for OSS work and I can't really offer much help with that.

[2017-05-26 15:39] rmosolgo commented on #317
I'm afraid I'm in the same boat: I want to make sure our dependency doesn't ruin us, but I don't really _need_ to fork it yet and I don't think I can make enough time to learn how it works well enough to contribute in a valuable way :S

[2017-05-26 15:44] whitequark commented on #317
Right--I personally have basically ceased work on Parser beyond reviewing PRs as well... I might have to use Ragel with Rust at work at some point though so then I may revisit the idea.

[2017-06-13 10:07] YorickPeterse commented on #317
@whitequark For my Rust work I opted to just write any lexers by hand. It's not exactly pleasant at times, but it solves the problem of Ragel only focusing on C/C++ starting with version 7.0. I did recently see the Ragel author tweet about thinking of re-adding other backends through some sort of plugin system, but it's not clear if this is actually planned or merely an idea.

[2017-06-13 10:09] YorickPeterse commented on #317
It's also worth mentioning that some versions of the 7.0 branch have some bugs. The GitHub repositories are gone once again so I can't link to them, but IIRC they involved `fnext` or `fcall` (one of the two) not working when defining certain machines.

[2017-06-16 04:54] tuchida opened #353 "Syntax error when there are some do-block in hash."
https://github.com/bbatsov/rubocop/issues/4522

a.rb

[code]

[code]

[code]

[code]

I was taught that this is a problem of parser.

[2017-06-16 05:14] whitequark commented on #353
*sigh* what a disaster

[2017-06-16 05:19] whitequark commented on #336
Parser is not susceptible to repro in Ruby bug report, but is susceptible to bug; minimal Parser repro:

[code]

[2017-06-16 05:19] whitequark commented on #353
Duplicate of #336.

[2017-06-16 05:19] #353 closed

[2017-06-16 12:50] sPaCeMoNk3yIam commented on #336
Any updates on this?

[2017-06-16 18:12] mbj commented on #336
@sPaCeMoNk3yIam The author of this gem is a busy person. This is OSS so this issue will only see progress if the author can provide his valuable time or if its fixed by a good incoming PR he can merge with less effort.

Also there is always the option to fund him spending more time on this project.

[2017-06-18 10:11] bbatsov commented on #346
I'll also mention https://github.com/whitequark/parser/issues/317#issuecomment-304316789

TLDR - we need a volunteer for #342.

[2017-06-18 10:12] bbatsov commented on #344
@aselder see https://github.com/whitequark/parser/issues/317#issuecomment-304316789 and #342

[2017-06-18 10:13] bbatsov commented on #317
@whitequark I think it might be a good idea to mention this in the README and add a note there that the project is looking for more maintainers.

[2017-06-18 10:15] whitequark commented on #346
Not just #342 but every Ruby commit that went into 2.3 and 2.4 branches...

[2017-06-18 10:16] bbatsov commented on #346
I'll post a note in the RuboCop issue tracker regarding this - hopefully it will attract some attention.

[2017-06-19 10:17] vdolgishev commented on #336
@mbj I don't see any information in the documentation about possible ways to donate to the author.  I think a lot of people would like to say thank you to author by sending `5-20` dollars if easy way would exist(e.g https://opencollective.com)

[2017-06-19 14:02] whitequark commented on #336
I do not expect donations to a niche infrastructure project to fund any reasonable amount of continued development. In any case, because I am not based in US or EU, the only practical way for me to accept donations is via Bitcoin. The address you can use is 1EsDYYeTtu2QR5adYVudJy5cQZMvMxxBC.

[2017-07-03 11:45] mlen commented on #336
I ported the fix from ruby, the PR is available here https://github.com/whitequark/parser/pull/356

[2017-07-12 05:49] Drenmi opened #357 "Source map of `kwbegin` doesn't contain `keyword` loc"
Currently, `kwbegin` nodes are mapped using `Source::Map::Collection`, which doesn't have a `keyword` loc. It should potentially be mapped using `Source::Map::Keyword` instead. The latter seems to be a superset of the former, so this would most likely not be a breaking change.

For context, in RuboCop, we inspect the indentation of the `end` keyword relative to the opening keyword for nodes where

[2017-07-12 13:04] whitequark commented on #357
Sure. Could you make a PR?

[2017-07-14 10:52] Drenmi commented on #357
Sure can! I don't know when I'll have time to dig into it, but I guess I'm the only one waiting for this, anyway. ;-)

[2017-07-25 03:22] rubys commented on #346
I know that prior issues asking for the ability to silence the warning have been rejected, but there are use cases where support for the latest Ruby language syntax isn't vital, and yet it is worthwhile to stay current on Ruby versions.

[2017-07-25 03:25] whitequark commented on #346
I'm grinding through several months of backlog that accumulated due to health issues. I'm going to fix Parser *really soon*, it's nearing the head of the queue.

[2017-07-26 02:15] whitequark opened #359 "[Bug #13547]"
See upstream commit https://github.com/ruby/ruby/commit/7d6965f88d6abf0e1e9f92a58139dc56b27db07a and Ruby bug https://bugs.ruby-lang.org/issues/13547.

[2017-07-29 13:22] rhymes commented on #346
@whitequark hope you're feeling better and keep up the great work!

[2017-07-29 23:54] whitequark commented on #346
Thanks.

[2017-08-01 10:09] lloeki opened #360 "warning: assigned but unused variable"
When running tests on a project depending on parser some warnings from parser's code are raised (see below).

This is because with a recent rake (>=11.0), ruby warnings are now on by default.

What do you think about fixing those warnings as well as running the test suite with `ruby -w` / `$VERBOSE = true` / `t.warning = true` ? Also, what is the rationale behind [this line](https://github.com/whi

[2017-08-01 10:11] whitequark commented on #360
Sure I'll merge a PR fixing that. And I have no recollection of that, feel free to remove.

[2017-08-01 13:01] iliabylich commented on #360
@whitequark @lloeki This warning seems to come from the code generated by ragel.

[2017-08-01 20:38] mbj commented on #360
We have discussed this warning from the earliest days on. The 2 possible ways forward I recall are:

* Fix ragel to not emit this variable when its not used (AFAIK some currently unused ragel features may trigger its use)
* Rewrite the generated source code to remove the assignment.

[2017-08-21 16:23] garrow commented on #346
#342 was closed as a duplicate of this issue, but that issue also referenced
#336 "[Bug #13073]" which has an open PR, #356  "Fix parse error when hash contains do blocks"
commenting here just to link them together.

[2017-08-31 04:37] jamescgibson commented on #344
:+1:

Given that it appears the recent vulnerability reported in RubyGems [1] will only be fixed on 2.3.4 and 2.4.1 and above, this issue would be more important than before - if nobody is already working on it, happy to take a crack at it, though I'm totally new to the library.

[2017-08-31 05:01] segiddins commented on #344
@jamescgibson not entirely true, all the fixes are available in RubyGems 2.6.13

[2017-09-15 23:04] jamescgibson commented on #344
@segiddins Thanks!

[2017-09-19 07:55] whitequark opened #367 "ruby/ruby@50f7d64"
[Ruby commit](https://github.com/ruby/ruby/commit/50f7d64f415aa2fa5767749e1076965308dfca05), [ruby-list message](http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-list/50578).

Note that this is a fairly major syntax change with no associated Ruby bug, even. No indication of whether it will be backported.

Right now:
[code]
Will be:
[code]

[2017-09-19 20:34] ABaldwinHunter opened #369 "__ENCODING__ parses differently from other constants"
I'm working on a project that uses the parser and noticed that `__ENCODING__` gets parsed as a constant but has a difference in location type from other constant asts with its shape:

[code]
I'm curious: are those differences intentional? What's the thinking behind not parsing `__ENCODING__` as a constant like `FOO`?

No rush. Thanks for working on this great tool!

For ref see https://github.com/

[2017-09-20 00:43] mattyb commented on #344
2.3.5 is now released, including 4 CVE patches
https://www.ruby-lang.org/en/news/2017/09/14/ruby-2-3-5-released/

[2017-09-25 18:44] ayanko commented on #346
Any updates about release new gem version?

[2017-09-25 20:23] whitequark commented on #346
not yet

[2017-09-30 01:09] whitequark commented on #369
You need an AST format opt-in. Please look at how `Parser::Builders::Default.emit_lambda` and `emit_procarg0` are implemented. Then do the same for `__ENCODING__`. Let me know if you have any questions.

[2017-09-30 08:39] whitequark opened #375 "It's time for 1.8/1.9 support in Parser to die"
- [x] Remove all 1.8-specific feature checks
 - [x] Remove all 1.9-specific feature checks because it makes no sense to keep that in either
 - [x] Update README to say "runs on all versions of Ruby since 2.0, and historically, all versions of Ruby since 1.8"

[2017-09-30 08:46] bbatsov commented on #375
Finally! :-)

On Sat, Sep 30, 2017 at 10:39 whitequark <notifications@github.com> wrote:

[2017-10-12 10:59] tisba commented on #346
Also waiting for this. But I'm also wondering if there should be a new issue for supporting 2.4.2 (released about a month ago)…

[2017-10-13 20:21] ABaldwinHunter commented on #369
Thanks for your reply! Taking a look at those examples

[2017-10-19 03:19] whitequark opened #379 "ruby/ruby@c1c3d073"
See the upstream commit https://github.com/ruby/ruby/commit/c1c3d07332d32f0981d6019c3f851e51739f0eb2.

[2017-10-19 03:20] whitequark opened #380 "ruby/ruby@4a375f3e"
See upstream commit https://github.com/ruby/ruby/commit/4a375f3ef518797bc8788abf0891655d79aa719c. We need no warning, just the grammar change.

[2017-10-19 16:32] iliabylich commented on #380
@whitequark What exactly should be changed? The following code:
[code]

prints exactly the same output on ruby 2.4 and 2.5.0dev (from ruby trunk). There where no changes in operators precedence. Or do you mean the replication of rules structure (new `rel_expr/relop` rules)?

[2017-10-23 19:04] #379 closed

[2017-10-23 19:05] #380 closed

[2017-10-31 14:49] ayanko commented on #346
It's boring message... Let's fix & release :)

[2017-11-03 10:21] davidlibrera commented on #346
I suppose that we need to wait for christmas

https://github.com/whitequark/parser/commit/0c4462aaa4360c032b2235cb568a73226c54e2c8

[2017-11-06 03:10] marcandre opened #384 "Error parsing "+42""
I believe the parsing of "+42" is erroneous:

[code]

I believe result should be:
[code]

There's actually already a test for the lexer that seems wrong. It was added with a bunch of other similar modifications in 85ec5bf9076af3cb, so I expect it wasn't actually intentional.

Here's [a fix for the specs](https://github.com/marcandre/parser/commit/da9d801a3f8afb526bfcdb98dcac1c32e04ce043), I wish I

[2017-11-06 03:43] marcandre commented on #384
Note that in the case of `-42`, parser also outputs an "operator" map pointing to the `'-'`. I don't have an opinion on if there should be an operator in the case of `+42` and it won't have any impact for me.
The current `expression` has an impact though as I'm attempting to insert code before the `expression` which in this case means I'm inserting code between the `+` and the `42`...

[2017-11-06 04:21] #384 closed

[2017-11-06 04:21] whitequark commented on #384
Nice, you even pointed me to another latent bug.

[2017-11-08 08:14] ddfreyne opened #386 "Should Comment::Associator ignore frozen_string_literal?"
I believe that the `skip_directives` attribute on `Comment::Associator` should also ignore the `frozen_string_literal` directive.

Given

[code]

… then the output is

[code]

… but _should_ be (I believe) empty.

I couldn’t find any other mention of this in the source code, commits or issues, so I don’t think this has come up before.

[2017-11-08 08:19] ddfreyne commented on #386
(Happy to provide a PR if you agree that this should change.)

[2017-11-08 09:47] whitequark commented on #386
Looks good to me.

[2017-11-10 18:32] #386 closed

[2017-11-13 17:11] #339 closed

[2017-11-13 17:15] whitequark commented on #360
Not considered major enough to fix, `-w` is nearly useless anyway. PRs that fix this in non-invasive ways still accepted.

[2017-11-13 17:15] #360 closed

[2017-11-13 17:22] #337 closed

[2017-11-13 17:47] #344 closed

[2017-11-13 17:50] mattyb opened #393 "Ruby 2.3.5 release"
2.3.5 was released on September 14

Related: #344

[2017-11-13 17:52] #393 closed

[2017-11-13 19:12] whitequark commented on #346
Will be released once all [blocking-2.4](https://github.com/whitequark/parser/issues?q=is%3Aissue+is%3Aopen+label%3Ablocking-2.4) issues are done.

[2017-11-14 12:35] iliabylich commented on #330
Looks like an issue with zero codepoints is not fixed. The test was removed in https://github.com/ruby/ruby/commit/7e8b910, but it still passes:
[code]

[2017-11-14 13:13] whitequark commented on #330
Depressing.

[2017-11-15 21:49] iliabylich commented on #330
Fixed in upstream in https://github.com/ruby/ruby/commit/50702d16ab5862413351520b65da820194dbf8d7 but not ported yet to 2.4 / 2.5 branches

[2017-11-16 05:59] whitequark opened #396 "ruby/ruby@8c15f40ac"
See upstream commit ruby/ruby@8c15f40ac.

[2017-11-16 22:01] #347 closed

[2017-11-16 22:03] #334 closed

[2017-11-16 22:23] iliabylich commented on #359
@whitequark And I guess also https://github.com/ruby/ruby/commit/99871095e6b94d4851daec10ccc601bd3b23316f ? Did you backport it? The code in master can parse tests from this commit:
<details>
  <summary>Click to expand</summary>

[code]
</details>

[2017-11-16 23:15] whitequark commented on #359
Then I missed it. Please backport this too.

[2017-11-17 13:48] iliabylich opened #398 "Parser doesn't pop value from cmdarg"
[code]

Shouldn't it be `1 <= cmdarg` in the end on reading `"x"`? As I understand cmdarg is a stack of commands (method calls without parentheses ) and method calls. 1 for a command and 0 for a method call.

[code]

I've tested it on both master and master-before-my-changes. Result is the same.

[2017-11-19 03:42] whitequark commented on #398
If you want to determine this for certain you should instrument MRI's yylex to print the token and cmdarg. There's no other way.

[2017-11-19 05:56] marcandre opened #400 "Should insert_after & insert_before clobber at the same insertion point?"
I feel that `insert_before` and `insert_after` should be revised in light of #399.

In particular, the following code currently raises clobbering errors:

[code]

I feel that the code above should be allowed without errors. One argument is that the following code is equivalent but does not raise a clobbering error:

[code]

The above examples should both produce `'foo ba>[]<r baz`.

In short, I'd

[2017-11-19 06:06] whitequark commented on #400
@alexdowad @JoshCheek thoughts?

[2017-11-20 18:43] marcandre opened #401 "Rewriter::Action rewritten"
Just fresh out of the :shower: I thought I had a great idea. Here it is:

Rewriter::Action is currently either:
- remove range
- insert text at position, or
- or both (replace range with text)

I think that `Rewriter::Action` should actually be slightly different:
- replace range with text / delete it
- wrap range with before and after texts
- or both (replace and wrap)

This way, we can order the

[2017-11-20 21:42] marcandre opened #402 "Odd multiple replacement rules"
I had assumed that clobbering errors were independent of the text itself (either the source or the new texts), but that's not the case. I don't understand: in which cases is that useful?

For example it is allowed to do replacements on intersecting ranges if the replacing texts matches according to a certain logic.
[code]

To me, the code above is asking to replace `ba` with `12345` and `az` with

[2017-11-21 04:29] marcandre commented on #401
Fixed a few things when testing with `seeing_is_believing` (which passes). Any other user of `Rewriter` I should test with?

[2017-11-21 06:03] whitequark commented on #401
I really like your new Rewriter, but am unsure of how compatible it actually is. Can you run the RuboCop test suite?

[2017-11-21 06:06] #330 closed

[2017-11-21 06:37] alexdowad commented on #402
I designed the current rules for Rewrite, so if I rack my brains I may be
able to remember what the intention was. However I am just traveling for
work and time is very limited. I'll see whether it may be possible to have
a look at some point.

On Nov 20, 2017 11:42 PM, "Marc-André Lafortune" <notifications@github.com>
wrote:

I had assumed that clobbering errors were independent of the text itsel

[2017-11-21 09:48] marcandre commented on #401
Oh, awesome, makes sense that `rubocop` is using the `Rewriter`.

I get 18 failures. 9 look like a single small bug in my code. None are cases where the new code raises a Clobering error (like the intersecting replacements of #402).

I'm looking forward to check them out in detail tomorrow, really time to sleep for me...

As I stated, it wouldn't be too surprising that compatibility would be an is

[2017-11-21 18:53] iliabylich commented on #398
Yes, MRI has a different state of cmdarg during parsing:

[code]

So the difference is that when MRI parser comes to `)` character it has a `cmdarg = 11` while parser has `101`. After changing it locally to match [MRI](https://github.com/ruby/ruby/blob/c0ffccf722b0c749dc37b34b425981f13375010c/parse.y#L128-L130) I've got the following output from the parser (cmdarg 100% matches MRI):

[code]

Shoul

[2017-11-21 22:11] #398 closed

[2017-11-22 02:13] marcandre commented on #401
There's apparently a check that the `end_pos` given is within bounds of the source only for `insert_after`. The other methods all work:

                  insert_before(range(4, 3000), 'quux ').
                  replace(range(4, 3000), 'quux ').
                  remove(range(4, 3000)).

My implementation checks that, so that explains 9 of the 18 failures I'm getting with rubocop. I opened [an is

[2017-11-22 09:32] iliabylich commented on #359
@whitequark Do you know what does `SET_LEX_STATE(EXPR_END|EXPR_ENDARG) ` in `parse.y` mean? Is it a hack to simulate two states (and thus, call two handlers to process this pseudo-state)?

[2017-11-23 07:24] whitequark commented on #359
It's probably easiest to play around with our lexer and see what set of changes the intended token stream corresponds to.

[2017-11-23 18:27] alexdowad commented on #375
Should `parser` still be able to *parse* Ruby 1.8 code? Or will people who want to do that have to use an older version?

[2017-11-23 18:57] alexdowad commented on #400
This makes a lot of sense. Thumbs up!

[2017-11-23 20:39] alexdowad commented on #401
Hmm! Hmm. This is very interesting.

Some background: in 2016, I did a complete overhaul of `Source::Rewriter`. When I got to it, there were a number of cases where the semantics of how it should behave were not clearly defined. I started by coming up with a minimal set of constraints (or rules) which summarized my intuition about how the class should behave, and thinking them through carefully. I

[2017-11-23 21:03] marcandre commented on #401
@alexdowad Wow, thanks for the detailed feedback.

I agree :+1: and came to the same conclusion when looking at Rubocop's failures. I hope to have a revised proposal and detailed report ready soon. I'll also have more comments on the rest of you post :smile:

[2017-11-23 21:05] alexdowad commented on #402
Fine questions, these! They are answered in my (encyclopedic) comment on #401. But if you want more...

I am sure you saw the following comment in the `Rewriter` source:

[code]

These rules were designed to:

1) Never contradict one another
2) Fully specify exactly which edits will and will not conflict
3) Produce desired results in various cases which were considered important (for example, "rep

[2017-11-24 03:21] alexdowad commented on #359
Are you asking about MRI's C lexer? It has various bit flags which are
turned on and off as the lex progresses. At various points, one or another
of those flags will be tested. The code you are quoting should be turning
on 2 of those flags.

On Nov 22, 2017 11:32 AM, "Ilya Bylich" <notifications@github.com> wrote:

[2017-11-24 03:33] whitequark commented on #375
Of course. Now and forever.

[2017-11-24 04:07] whitequark commented on #402
If it's not documented or specified in any clear way whatsoever, and unlikely to result in breakage of downstream code, it's fine. But the very first change we discussed was more intrusive than that, I believe.

[2017-11-24 09:05] pocke opened #407 "Parser can't parse `1if cond`"
[code]

This bug was introduced by Complex literal in Ruby 2.1. So parser can parse it in Ruby 2.0 or under.

[2017-11-25 00:30] whitequark commented on #407
Good catch. The fix should be easy, by analogy with other lexer disambiguation rules.

[2017-11-25 02:46] marcandre commented on #401
I agree with most of what you wrote :smile:

Let me discuss where there is matter for discussion:

I see a Rewriter as sequence of commands, with some that are more local than others. I see no issue if local ones are superseded by more global ones. If the ranges are not exactly the same, I believe that trying to decide if they "are compatible" can not be well defined and can create false positives

[2017-11-25 03:54] marcandre commented on #401
I like that approach. I [tweaked the doc](https://github.com/marcandre/parser/blob/5a5c798446b5d6113024ad6c46ed6c238a59cb30/lib/parser/source/tree_rewriter.rb#L13-L78) to be more "rule-like", hopefully you'll like it and it remains short enough and understandable.

[2017-11-25 04:50] marcandre commented on #401
I'll need to find a different term than overlap though, especially given `Range#overlaps?`. Mathematically it would be "symmetrically different". Maybe "crossing"?

[2017-11-25 21:23] alexdowad commented on #401
@marcandre What you say makes a lot of sense and I support it. Trying to merge "compatible" modifications was probably a bad idea.

It seems that "overlapping" is the term used in set theory to describe sets with a non-empty intersection. If you want to borrow mathematical terminology, maybe your test for clobbering is:

[code]

[2017-11-27 02:10] MaxLap commented on #401
"crossing" seems to make sense, "crosses_bounds" if you want to be as explicit as possible.

@alexdowad Overlap is broader than what @marcandre is trying to mean. If one range is nested in the other, there is an overlap, but there are no bounds that are crossed, while most of the special cases he is considering are about those crossing ranges.

[2017-12-04 13:40] iliabylich commented on #359
@whitequark @alexdowad But ragel doesn't support "multiple" states. Is it possible to simulate it without setting extra flags?
And one more question: is it possible to get a previous state? From what I see it also requires some manual flags manipulation (but that's what MRI lexer does to emit `do/do_block`)

[2017-12-04 14:16] whitequark commented on #359
The ragel lexer and the MRI lexer do not follow the identical structure, do not try to directly port changes. Instead, understand their semantics and port that.

[2017-12-04 14:30] iliabylich commented on #359
I can easily add a check that "command args with a literal as a last item can't be followed by cmd_brace_block" (in `ruby24.y/ruby25.y`), but is it a good solution? From what I understand, that's a serious difference in the logic between `parser`/`MRI`. In MRI this errors comes from the lexer and I still have no ideas how to replicate it to ragel without introducing another state like `expr_end_or

[2017-12-07 21:32] marcandre opened #414 "Inconsistent treatment of semicolon"
I didn't look at the source, but I noticed that `ensure` with a semicolon is not treated the same way as other similar structure like `rescue`, `if`, ...
Other structures consider the `;` part of their expression and have a `begin` location. `ensure` doesn't.
Is it intentional?

I don't really mind either way, I just noticed what looks like an inconsistency.

FWIW, the fact that `;` is considered

[2017-12-07 22:03] marcandre commented on #414
Hmmm, of course the body, if any, can follow `ensure` but not `rescue`. Sorry for the noise.

[2017-12-07 22:03] #414 closed

[2017-12-08 04:34] #336 closed

[2017-12-14 00:21] Victorcorcos commented on #344
So, how to fix this issue?

[2017-12-19 16:50] cremno commented on #375
Shouldn't this issue be re-opened? It sounds like “removal of 1.x-specific feature checks” also means removing `defined?(Encoding)`, `respond_to?`, etc. which are still there.

[2017-12-19 17:03] marcandre commented on #375
@cremno: Probably best to open a PR with the simplifications you can spot

[2017-12-19 19:38] alexdowad commented on #375
Looks like `grep` failed me. :wink:

[2017-12-20 11:47] iliabylich opened #416 "ruby/ruby@032e8fd"
Upstream commit - https://github.com/ruby/ruby/commit/032e8fdf

@whitequark https://bugs.ruby-lang.org/issues/14206 says `2.3: REQUIRED, 2.4: REQUIRED`, should it be backported to 2.3 and 2.4 parsers? Asking because I don't see corresponding backport commits in `parse.y` in `ruby_2_4` and `ruby_2_3`

[2017-12-20 12:34] whitequark commented on #416
Yes, they should be backported, the issue tracker takes precedence. The fields will be updated to `2.3: DONE, 2.4: DONE` upstream once that's done.

[2017-12-21 11:36] #367 closed

[2017-12-21 12:57] Confusion opened #418 "Difference between Parser and Ruby interpreter"
Code:
[code]
`ruby the_code_above.rb` prints `{:y=>2}`

`Parser::CurrentRuby.parse(File.read('the_code_above.rb'))` results in
[code]

(the `puts` is just for demonstration purposes: without the `puts` and the parentheses the Ruby interpreter still accepts the code, while Parser gives the same error)

(tested using MRI 2.2.5, Parser 2.4.0.2)

[2017-12-21 13:00] whitequark commented on #418
Good catch.

[2017-12-21 20:56] marcandre commented on #401
TreeRewriter has been merge 🎆

[2017-12-21 20:56] #401 closed

[2017-12-21 21:03] marcandre commented on #402
TreeRewriter has landed, closing now.

[2017-12-21 21:03] #402 closed

[2017-12-21 21:25] #400 closed

[2017-12-21 21:49] #375 closed

[2017-12-26 09:40] pocke opened #423 "parser accepts :&&, but CRuby does not accept it."
[code]

CRuby does not accept `:&&`, but parser accepts.
`:||` has the same problem.

CRuby does not allow non overridable operator as a symbol literal without quotes.

https://github.com/ruby/ruby/blob/trunk/parse.y#L4340-L4343
https://github.com/ruby/ruby/blob/trunk/parse.y#L2087-L2090
https://github.com/ruby/ruby/blob/trunk/parse.y#L2136-L2165

----

I tried using a patch to solve this problem,

[2017-12-26 13:25] whitequark commented on #423
Good catch!

[2017-12-26 13:26] whitequark commented on #423
Look carefully at what MRI is doing:
[code]
So, it is first emitting a `tSYMBOL ""` then `tANDAND`. We can do the same.

[2017-12-26 20:46] #423 closed

[2017-12-26 20:47] #396 closed

[2017-12-27 13:35] iliabylich commented on #416
Looks like parser never had this bug:
[code]

@whitequark Do we need to backport this bug to 18-22 parsers or can we just close this issue?

[2017-12-27 17:50] #418 closed

[2017-12-27 17:53] whitequark commented on #416
No, we are not bug-compatible in the lexer.

[2017-12-27 17:53] #416 closed

[2017-12-28 13:12] #407 closed

[2018-01-09 13:05] iliabylich opened #429 "ruby/ruby@9d9d87f"
Upstream commit: https://github.com/ruby/ruby/commit/9d9d87fa063e017057a19a9d5299d1fa4037c18d

[2018-01-09 13:08] iliabylich opened #430 "ruby/ruby@0dfec65"
Upstream commit: https://github.com/ruby/ruby/commit/0dfec6596e9fd9ab81ffb5062028efbce0beed7f. The message of this commit is `insane syntax`:
[code]