[2018-01-09 13:10] iliabylich commented on #430
Also https://github.com/ruby/ruby/commit/5aa3523545d2bf053fb0b26ce84208ffeabe5c1e:
[code]

[2018-01-10 11:23] iliabylich commented on #429
@whitequark Parser for 2.5.0 is not release yet, but this change will be release only in MRI 2.5.1. Should I send a PR for this change into `ruby25.y`? How did you handle such cases before when there are some unreleased changes in upstream?

[2018-01-10 11:28] whitequark commented on #429
Send a PR, I'll merge the PR after Parser 2.5.0 is released.

[2018-01-11 19:29] iliabylich opened #433 "ruby/ruby@afcbd38"
Upstream commit: https://github.com/ruby/ruby/commit/afcbd388658badcb963f6891779ce5868974f8c8.

`ruby25.y` shouldn't use `StackState#lexpop`, but previous versions should.

[2018-01-13 06:21] BugDiver opened #434 "generate source code from ast"
HI,
How to generate actual source code from the AST. In one of my project I need to manipulate the AST and then generate source string.
Is there any way to this without using any other gem ?

[2018-01-13 06:58] whitequark commented on #434
Either make a [rewriter](https://whitequark.org/blog/2013/04/26/lets-play-with-ruby-code/) or  use the [unparser](https://github.com/mbj/unparser) gem.

[2018-01-13 10:44] #434 closed

[2018-01-15 05:28] iliabylich opened #435 "Can't parse interpolated lambda with argument without parentheses"
Without arguments everything is fine:
[code]

[code]

Wrapping the argument with parentheses solves the issue.

[2018-01-15 07:33] iliabylich opened #436 "ruby/ruby@762d23c"
Ruby commit: https://github.com/ruby/ruby/commit/762d23cdd548370eebb65083451e0050071d5235

[2018-01-16 08:35] iliabylich opened #437 "ruby/ruby@508533f"
Ruby commit: https://github.com/ruby/ruby/commit/508533fd44a6dafb18036d725e76193a26a12d65

[2018-01-22 19:41] iliabylich opened #440 "ruby/ruby@543ed36"
Upstream commit: https://github.com/ruby/ruby/commit/543ed3652fff1be63e2c4452eba8abaa7abc83e4

This commit doesn't include any tests, so it needs investigation

[2018-01-22 19:42] iliabylich opened #441 "ruby/ruby@3cefccb"
Upstream commit: https://github.com/ruby/ruby/commit/3cefccb6f91f6b2ab127a0ee32be86cc52809dc2

@whitequark Does it make sense to backport this empty lexer state? Feel free to close if it doesn't

[2018-01-23 07:51] whitequark commented on #441
Probably going to be used later?

[2018-02-03 04:23] riking commented on #252
I saw this misconception a lot in the thread and wanted to comment, even though it's about 2 years old by now.

In Ruby, `ASCII-8BIT` actually means "I have no idea, but it's probably text". You cannot do anything useful with it other than declare what encoding it actually is in and hope that's right.
I really hate that name for it. It confuses everyone.

[2018-02-03 04:30] whitequark commented on #252
Huh, TIL. Thanks.

[2018-02-11 21:45] JoshCheek opened #443 "Comment accidentally getting interpreted as encoding magic comment."
While looking into https://github.com/JoshCheek/seeing_is_believing/issues/126

I realized that the string we were inspecting was an HTTP resposnse, which included the header `Accept-Encoding: gzip, deflate, br`. After inspecting it and displaying it at the end of the first line, it was no longer parseable, because it looked like an invalid pragma to specify the encoding of the file.

[code]

Anot

[2018-02-11 22:00] whitequark commented on #443
Not a bug. You didn't escape a `\n`:
[code]

[2018-02-12 02:02] JoshCheek commented on #443
Not sure what you mean, consider this example which has no newlines in the string:

[code]

I only included the newlines to illustrate that it's a reasonable situation for my gem.

[2018-02-12 02:06] JoshCheek commented on #443
Oh, I see what you mean! Yes, my second example was not what I was trying to illustrate.

[2018-02-12 20:35] #443 closed

[2018-02-13 03:58] jonahx opened #445 "Could I base a full-code formatter on parser's rewriter?"
Hi,

This is just a question, not a bug report, and I apologize if this isn't the best place to ask.

I'm interested in building a ruby code formatter along the lines of javascript's [prettier](https://github.com/prettier/prettier), which converts code to an AST, and then rewrites it according to configurable rules.  In this case of ruby, the analog might be automatically rewriting all code to con

[2018-02-13 06:27] bbatsov commented on #445
RuboCop already does this (although code layout/formatting is just a small part of its scope), so it's obviously feasible. 😉 Not sure you'll want to put in the effort to do this from scratch, though, as it's a ton of work...

[2018-02-13 06:28] bbatsov commented on #445
Funny enough that's exactly why RuboCop was created - to check the compliance of Ruby code with the community style guide.

[2018-02-13 14:35] jonahx commented on #445
@bbatsov Thanks for replying.  I'm a fan of rubocob and the style guide.  My understanding -- which may certainly be incorrect -- was that rubocop (it's described as a "A Ruby static code analyzer" on the homepage and as a "linter" on https://rubocop.readthedocs.io) was more or less a linter.  That is, it finds and reports style violations.

Prettier is different in that it takes your code, turns

[2018-02-13 14:51] rmosolgo commented on #445
(Just to drop another similar project: https://github.com/ruby-formatter/rufo)

[2018-02-13 19:56] dgollahon commented on #445
@jonahx  You might be interested in taking a look at https://github.com/mbj/unparser / considering it a proof of concept. The author uses it to generate equivalent source from a `parser` AST in order to generate mutations with https://github.com/mbj/mutant. I don't think it uses the rewriter though (which, i believe is meant for more targeted changes), but I can't recall for sure without reading t

[2018-02-13 20:58] mbj commented on #445
Author of mutant and unparser here. `unparser` as @dgollahon mentioned is not intend as a pretty printer, its design decisions are aligned with the target of: Generating ruby code that can be mutated and result in a minimal diff.

Hence it deliberately ignores source maps when constructing the ruby source from the AST.

It would be possible to write a ruby pretty printer, but I for myself have no

[2018-02-14 01:40] bbatsov commented on #445
A big chunk of RuboCop is dedicated to formatting, although it manipulates just the problematic code, not the entire ast. See https://rubocop.readthedocs.io/en/latest/cops_layout/

Now I see what you mean. It's a cool idea, but the the code generation from the ast will certainly take a lot of work.

[2018-02-14 17:52] paneq opened #446 "cannot load such file -- parser/ruby22 when running parser from master branch"
I wanted to play with `Parser::TreeRewriter` instead of deprecated `Parser::Rewriter` but a new gem version with it is not yet released (but documentation is updated saying Rewriter is deprecated). So I tried using the version from `master` branch but it fails for me.

[code]

[2018-02-14 17:54] whitequark commented on #446
Running Parser as a git dependency from Bundler is not supported (for good reasons). There is nothing I can do about this; build and install the gem locally from source for now. There should be a new release soon™.

[2018-02-14 17:54] #446 closed

[2018-02-14 18:01] paneq commented on #446
Thanks for a super quick answer and a workaround. Have a great day.

[2018-02-16 15:13] #359 closed

[2018-02-16 15:36] whitequark commented on #440
I believe the commit fixes this:
[code]
but I'm not sure (I haven't built 2.5.1).

[2018-02-16 15:48] #429 closed

[2018-02-16 15:56] whitequark commented on #346
2.5.0.0 has been released.

[2018-02-16 15:56] #346 closed

[2018-02-16 16:45] #430 closed

[2018-02-16 17:02] #436 closed

[2018-02-16 18:32] #437 closed

[2018-02-18 02:51] GBH opened #447 "unexpected token kDO"
With 2.5 release there seems to be a bug:

[code]

[code]

[2018-02-18 03:47] whitequark commented on #447
@iliabylich I think you broke it, can you take a look?

[2018-02-19 10:52] iliabylich commented on #447
@whitequark Sure, I'll check it today

[2018-02-19 14:40] iliabylich commented on #447
@whitequark The code `m [] do end` does a wrong `cmdarg` manipulation.
[code]

It does `push(0)` (rbrack) -> `push(1)` (command args). So the next `pop` drops a command bit marker. Instead it should do `push(1) -> push(0)`. (I guess now I understand the idea of `lexpop`).

MRI handles it by doing a lookahead [here](https://github.com/ruby/ruby/blob/trunk/parse.y#L2157). It shuffles 1 and 0 in this

[2018-02-19 15:28] iliabylich commented on #447
Is there a way to get a lookahead char like `yychar` in bison?

[2018-02-19 22:32] whitequark commented on #447
Sure, use `@p`.

[2018-02-19 22:38] iliabylich commented on #447
@whitequark In the parser, not in the lexer. racc does lookahead, is it possible to get that token?

[2018-02-19 22:42] whitequark commented on #447
Not sure, maybe `@racc_t`?

[2018-02-19 23:01] iliabylich commented on #447
There's no such ivar (and no ivars with tokens at all). I've implemented a naive approach in https://github.com/whitequark/parser/pull/448, but I expected racc to have something similar to `yychar`.

[2018-02-19 23:03] whitequark commented on #447
Ah, that's only present in the pure-Ruby racc runtime, then.

[2018-02-19 23:07] #433 closed

[2018-02-20 13:15] iliabylich commented on #440
Nope, the first one is still invalid for 2.5-dev:
[code]

The second one is valid for old rubies:
[code]

I don't see any difference in `{`  handling. Looks like it's a readability improvement that doesn't change any logic.

After this patch MRI sets lexer state to `EXPR_BEG|EXPR_LABEL` (instead of `EXPR_BEG`) after primary block (`tLCURLY` in the `parser`) to prevent parsing hash labels. But it d

[2018-02-20 19:07] jaredbeck opened #451 "Possible regression from 2.4.0.2 to 2.5.0.0? Parser::SyntaxError: unexpected token kDO"
- 2.5.0.0 produces `Parser::SyntaxError: unexpected token kDO`
- 2.4.0.2 does not

### Reproduction

[code]

[2018-02-20 20:12] iliabylich commented on #451
Yes, it was fixed in https://github.com/whitequark/parser/pull/448, wait for the next release please.
[code]

[2018-02-20 21:45] jaredbeck commented on #451
Thanks Ilya! :heart:

[2018-02-20 21:45] #451 closed

[2018-02-21 05:08] #435 closed

[2018-02-21 07:02] whitequark commented on #357
On second look I don't think this is necessary, the source map has the `begin` and `end` components, which are sufficient:
[code]

[2018-02-21 07:03] #357 closed

[2018-02-21 07:15] #369 closed

[2018-02-21 07:24] whitequark commented on #341
So... after further experimentation, looks like this affects *only* this case with `[]=`? Christ. What a horrible language.

[2018-02-21 08:04] #341 closed

[2018-02-21 08:05] whitequark commented on #441
I *think* this was just added so that [this line](https://github.com/ruby/ruby/blob/3cefccb6f91f6b2ab127a0ee32be86cc52809dc2/parse.y#L8821) makes sense.

[2018-02-21 08:05] #441 closed

[2018-02-21 08:13] #445 closed

[2018-02-21 12:04] charliesome commented on #341
🙇

What a gnarly bug :\

[2018-02-21 15:07] rubys opened #452 "2.5.0.1 regression"
Test case:

[code]

[2018-02-21 15:57] iliabylich commented on #452
@whitequark `cmdarg` is not empty after the first line.

The rule
[code]

After lexing `tLPAREN_ARG` stack is `10` (1 for `td ...` and 0 for `(1_500)`). The parser saves it, so the lexer does `cmdarg.pop` on the copy in the `)` action. Later parser restores `10` after `rparen`.

I've added
[code]
in the end of the `assert_parses` method and got 9 failures.

Removing `@lexer.cmdarg.clear` and `@lex

[2018-02-21 15:59] whitequark commented on #452
That probably just introduces bugs somewhere else.

[2018-02-21 16:04] rubys commented on #452
Probably obvious to both of you by now, but I thought I would share the output of git bisect:

[code]

[2018-02-21 17:42] ABaldwinHunter commented on #369
🎉  thank you

[2018-02-21 17:45] iliabylich commented on #452
After full backporting of MRI's `cmdarg` implementation parser can't handle cases like `a b(c d), "x" do end`.

And the reason is that in MRI `CMDARG_P` (predicate, I guess) returns `false` on parsing `do`. So after "x" MRI's lexer goes to the dual-state `EXPR_END|EXPR_ENDARG` (which looks like a hack to me) to later catch it in the next section of 'do' parsing that does:
[code]

Ragel doesn't sup

[2018-02-22 00:50] iliabylich commented on #452
I guess I can't backport it as is, but probably we could change MRI - https://github.com/ruby/ruby/pull/1823

[2018-02-22 12:56] iliabylich commented on #452
It was merged in https://github.com/ruby/ruby/commit/1727c8358498054428a376b52869983549f62399, I'll prepare a corresponding patch for the `parser`. Now we can backport it without any changes.

[2018-02-22 13:12] whitequark commented on #452
Thanks!

[2018-02-22 14:13] #452 closed

[2018-02-23 07:53] k0uki opened #454 "unexpected token tLCURLY at 2.5.0.2"
- 2.5.0.2 produces unexpected token tLCURLY
- 2.4.0.2 does not

## Reqproduction

[code]

[2018-02-23 11:32] mbj commented on #328
As a user of this library I'd be fine to not see this edge case supported. And instead get an dedicated exception telling the user of the library: "Ruby is exceptionally ugly here, we do not want to support this for sanity".

This would avoid pointlessly (IMO) spending limited developer time on this issue.

Parser already does subset ruby semantics in some areas, as long it does not superset them

[2018-02-23 11:36] iliabylich commented on #454
@k0uki Which version of Ruby do you use? This syntax is invalid (`m :a {}` is `m(:a {})`):
[code]

There was a bug in some version of 2.4.x that allows this syntax, but it's fixed now (and backported to the `parser` gem).

@whitequark Probably we need to bump 2.4 branch in `parser/current` (it points to `2.4.0` atm)

[2018-02-23 14:40] k0uki commented on #454
I use Ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

m :a {} is m(:a) {} in 2.4.1

[code]

But  2.4.3  is m :a {} is m(:a {}) and invalid.

It is not matter of Parser. I think my project code is wrong. so I change my project code.
Thanks for your comments

[2018-02-23 16:53] whitequark commented on #328
Nah, this is just lazy and poor engineering.

[2018-02-23 17:16] #454 closed

[2018-02-24 00:20] GBH commented on #447
I pulled in newest version and this is still an issue. Looking at the commit it seems like it only dealt with ruby 2.4 and 2.5. 2.2 and 2.3 wasn't fixed, I think.

[2018-02-24 01:04] iliabylich commented on #447
@whitequark old parsers still use lexpop and all of them have a bug with wrong cmdarg value on command args handling (`cmdarg` stack is not active when lexer expects it to be active). I think we should completely drop it and use `push/pop` like we do in `ruby24/25.y` because branching this logic for 18..23 and 24..25 is painful. WDYT?

[2018-02-24 01:14] iliabylich commented on #447
Sorry, I was a bit wrong in my previous comment, cmdarg is (sometimes) invalid for 18..23, but it's fine. Lexer always does `pop` (instead of `lexpop`) on `], }, )`, so the following patch makes it working:
[code]

But I guess backporting proper cmdarg handling to parsers < 24 and removing lexpop is better, isn't it? (less branching and the logic becomes simpler)

[2018-02-24 12:49] whitequark commented on #447
You've already introduced 2 (or more, I didn't count) bugs in the latest parser related to this, what's to guarantee that this simplification wouldn't introduce more? Non-latest-version parsers don't get as much user testing and clearly this isn't covered by our test suite so I am not convinced this should be backported.

[2018-02-27 19:31] #447 closed

[2018-03-02 13:28] cremno opened #464 "1.8 char const + \u esc seq should be invalid syntax"
[code]

[code]

[2018-03-02 15:27] whitequark commented on #464
Do not expect me to fix this.

[2018-03-03 09:41] whitequark commented on #464
That's a [documented incompatibility](https://github.com/whitequark/parser#u-escape-in-18-mode). I've looked at it and deemed it unworthy of fixing because of miniscule impact and severe changes required to lexer.

[2018-03-03 09:59] whitequark commented on #464
FWIW I think this should be added to README and then closed, too.

[2018-03-05 11:41] iliabylich opened #465 "ruby/ruby@d2a0330"
Upstream commit: https://github.com/ruby/ruby/commit/d2a03300d33ef6b24fd4492aa3917ce41b4512ae

@whitequark Could you confirm that we need those error messages please?

[2018-03-05 11:45] whitequark commented on #465
We already handle them, in a slightly different way:
[code]

[2018-03-05 11:45] iliabylich commented on #465
So, what's your verdict? Should we backport it?

[2018-03-05 11:48] iliabylich commented on #465
No, I was asking about returning different error messages for < 25 and > 25.

[2018-03-05 11:58] whitequark commented on #465
Yeah, new parser tokens is how MRI returns different error messages. In general, Parser doesn't try to replicate the errors of MRI exactly, the goal is to reject the same code MRI rejects and offer a legible explanation (because MRI used to have atrocious error messages and duplicating those exactly didn't make any sense).

[2018-03-06 02:43] znz opened #466 "error: unexpected token kDO"
I found similar issue at <https://github.com/bbatsov/rubocop/issues/5573>, and I think this is bug of parser instead of rubocop.

[code]

[2018-03-06 05:10] whitequark commented on #466
Released 2.5.0.3 that has this fixed.

[2018-03-06 06:40] znz commented on #466
It seems nothing changed.

[code]

[2018-03-06 06:42] whitequark commented on #466
Works for me:
[code]

[2018-03-06 07:08] pocke commented on #466
`ruby-parse` can parse it in Ruby 2.3, but it cannot parse in newer.

[code]

[code]

[2018-03-09 15:20] iranakam opened #468 "Be not parsed as begin when block only contains one line"
I'd like to confirm the behavior below.

[code]

[code]

However, in this case, the different result can be confirmed.

[code]

[code]

It's parsed as `begin`. Is this difference correct?

[2018-03-09 15:32] whitequark commented on #468
Yes.

[2018-03-09 15:43] iranakam commented on #468
Thank you immediately, reply.

[2018-03-09 15:43] #468 closed

[2018-03-11 20:19] #466 closed

[2018-03-15 17:41] Edouard-chin opened #470 "[2.5.0.4] unexpected token tLCURLY"
Hi 👋 , thanks for this great gem!

I saw an issue opened/closed already on that https://github.com/whitequark/parser/issues/454 but it seems that the associated commit doesn't solve the problem in my case.

[code]

This used to work fine on `ruby-parse 2.4.0.2`

[2018-03-15 17:55] iliabylich commented on #470
That's because this code is invalid for the latest 2.4.x version of MRI (and newer, including 2.5):
[code]
If you need to parse some code for older version of ruby, pass `--version` option (`--23` for 2.3, for example)

[2018-03-15 18:26] Edouard-chin commented on #470
Ah just saw you explained that in the previous issue. Thanks a lot for your quick answer. Closing this then!

[2018-03-15 18:26] #470 closed

[2018-03-18 02:27] fatemehm commented on #189
Hey! I am getting these errors :( how can I figure out this?
warning: parser/current is loading parser/ruby23, which recognizes
warning: 2.3.5-compliant syntax, but you are running 2.3.0.

[2018-03-18 07:30] whitequark commented on #189
@fatemehm Update your Ruby to 2.3.5.

[2018-03-19 11:32] iliabylich opened #472 "ruby/ruby@d34bc77"
https://github.com/ruby/ruby/commit/d34bc779a7f8fc9d8820a8cdeb4a3b5e75958be2

@whitequark These warnings occur only in `-w` mode. Does parser support such warning messages? If not, should we still backport it to match the structure of the parser? There are new rules like `k_rescue` that will be blank in this case.

[2018-03-19 11:33] iliabylich commented on #472
Also https://github.com/ruby/ruby/commit/5399951b008c51d6077d09de53831f1ef2aabf4d

[2018-03-19 12:57] iliabylich commented on #472
Also https://github.com/ruby/ruby/commit/7e199e4156d57c696ae56f711b7a5af68277cd7e

[2018-03-19 13:12] whitequark commented on #472
The answers are: no, and no, we already don't do this (e.g. see `k_end`, or lack thereof).

[2018-03-19 13:13] iliabylich commented on #472
ok, good to know, closing then.

[2018-03-19 13:13] #472 closed

[2018-03-20 07:03] pocke opened #473 "A parse error has been introduced by #467"
Since #467 (in other words, since v2.5.0.4), the parser raises a syntax error to the following code, but it is correct as Ruby code.

`test.rb`

[code]

[code]

[code]

The syntax error is occurred with `--24` or `--25` option only. If `--23` option is received, it is not occurred.

Note: This problem was reported by @meganemura in https://github.com/rubocop-jp/issues/issues/40 (Japanese). Thank y

[2018-03-20 08:44] pocke opened #474 "ruby-parse command should not display escape sequences when output is not a tty."
Problem
===

Currently ruby-parse displays escape sequences always.

![180320171650](https://user-images.githubusercontent.com/4361134/37642977-7545421c-2c62-11e8-89b8-974b313ea439.png)

It is useful, but the escape sequences are unnecessary when output is not a tty. For example, when I want to copy the output with `pbcopy`, `xsel` and so on, I didn't need coping escape sequences.

[code]

The cli

[2018-03-20 12:33] whitequark commented on #474
No dependencies. I think it's a very important property of Parser that it has no runtime dependencies other than `ast`.

[2018-03-20 12:59] iliabylich commented on #473
@whitequark My initial assumption that `yychar` from bison can be replicated using `lexer.last_token` was wrong:
[code]

Initially I thought that I don't understand how LALR(1) parsers work 😄, but I think I understand it. Parser doesn't make another shift in this case (because it's not allowed, (1) means "no more than one shift to resolve conflicts", and in this case it was a shift to detect `comm

[2018-03-21 17:30] #474 closed

[2018-03-23 06:50] iliabylich opened #477 "ruby/ruby@140512d"
https://github.com/ruby/ruby/commit/140512d2225e6fd046ba1bdbcd1a27450f55c233

[2018-03-24 04:46] #473 closed

[2018-03-24 19:53] swrobel opened #478 "Update CHANGELOG to mention pulled 2.5.0.4 version"
Not sure why it was pulled, but it's probably worth mentioning...

[2018-03-24 22:42] whitequark commented on #478
The changelog is automatically generated.

I've pulled the version because, due to a merge screwup, it didn't match the tag.

[2018-03-24 22:42] #478 closed

[2018-03-25 01:52] whitequark opened #479 "[Bug #14621]"
See [Ruby bug](https://bugs.ruby-lang.org/issues/14621) and commits https://github.com/ruby/ruby/commit/491f523ab18cae6e14a2929de14d51803c362a7c, https://github.com/ruby/ruby/commit/58fbe69a5ba2c6c896745dab5e41b3bbd1950015.

We have a slightly different bug than Ruby itself
[code]

[2018-03-26 10:54] perlun commented on #478
@whitequark

While I appreciate your contributions to the community, **please do not pull back published versions**. It's one of the most frustrating things you can do as an open source maintainer, since it causes a lot of churn to everybody who has to bump their dependency list. 😢

If you make a mistake and release a bad version, the right thing to do in 99% of the cases is to not yank the bad ve

[2018-03-26 11:39] whitequark commented on #478
Oh, I had no idea yank was changed to permanently delete the gem [back in 2015](https://blog.rubygems.org/2015/04/13/permadelete-on-yank.html). That's an awful decision, if you publish credentials you should just change them, not rely on there being no one scraping all uploaded gems...

[2018-03-26 11:41] iliabylich commented on #478
Maybe it makes sense to push it back. Is it possible?

[2018-03-26 12:09] perlun commented on #478
Hmm, agree. Didn't know that they actually changed that a few years ago. I think the NuGet approach is "the right thing". Yank should be "remove from public lists & search results, but not remove from direct URLs" (https://docs.microsoft.com/en-us/nuget/policies/deleting-packages)

As @iliabylich suggests, maybe it would make sense to re-publish the package (be it with 2.5.0.5 content or whatever)

[2018-03-26 20:08] rrosenblum opened #480 "Error parsing code as Ruby 2.4 or 2.5"
The following ruby code produces a syntax error when using the Ruby 2.4 or Ruby 2.5 parser. I believe that this is related to #473. I was not able to reproduce the issue using `v2.5.0.3`.

`test.rb`
[code]

[code]

[2018-03-27 12:44] iliabylich commented on #480
@whitequark The error comes from the difference between the `parser` and MRI's grammar. On interpolation code lexer emits two tokens (and thus, calls surrounding logic for two tokens).

The first line of your code is not handled properly. Minimal case for reproducing: `m "#{}#{(foo)}"` (it's valid for parser, but `cmdarg` is `1` in the end of the line).

When lexer comes to the second interpolatio

[2018-03-27 13:28] iliabylich commented on #480
@whitequark Changing the following action:
[code]
to have `fnext expr_value; fbreak;` instead of `fcall expr_value;`  should fix the issue, but `@cs` eventually becomes `nil` and the lexer dies. How can I trace why it happens?

[2018-03-28 00:33] whitequark commented on #480
I can tell you. There's an
[code]
somewhere, and that's what sets `@cs` to `nil`; it expects a counterpart `fcall`.

[2018-03-28 01:45] maisumakun commented on #480
I have similar issue (only for Ruby 2.4 & 2.5 syntax in parser 2.5.0.5).

[code]

produces an error like follows:

[code]

[2018-03-28 02:08] whitequark commented on #480
That's a completely different issue.

[2018-03-28 03:54] maisumakun commented on #480
@whitequark Thanks, I'll file a new issue.

[2018-03-28 04:06] maisumakun opened #481 "Parse error in Ruby 2.4 & 2.5 parser with dynamically generated constant"
I previously wrote in #480, but I file it as a new issue, for it was a different issue.

## issue

The following code issues a false positive syntax error in `ruby-parse --24` or `ruby-parse --25`.

[code]

### Expected behavior
(resuly by `ruby-parse --23`)

[code]

### Actual behavior

[code]

## Environment

* `uname -a` ... `Linux j-bit.machine 2.6.32-696.23.1.el6.x86_64 #1 SMP Tue Mar 13 22:4

[2018-03-28 04:10] whitequark commented on #481
Minimized example:
[code]

[2018-03-29 12:16] iliabylich opened #483 "ruby/ruby@9c5d90b"
https://github.com/ruby/ruby/commit/9c5d90b516e665294fa673ca6d9819d7406a7629

Fixes https://github.com/whitequark/parser/issues/481

[2018-03-29 12:18] whitequark commented on #483
:+1:

[2018-03-29 14:32] iliabylich commented on #479
@whitequark Should we backport if only for 26?

[2018-03-29 16:33] whitequark commented on #479
I don't understand the question. Our behavior is wrong on 2.3-2.6; MRI's behavior is wrong on 2.3-2.6 and will be fixed there.

[2018-03-29 22:05] Onumis commented on #478
CI's.... CI's breacking everywhere :(

[code]

[2018-03-30 01:10] iliabylich commented on #479
My bad, I've forgot that squiggly heredoc is supported only for >= 23

[2018-03-30 06:57] Mr0grog commented on #480
FWIW, I am also encountering this issue with some similar code (not *quite* the same). #482 seems to fix it for me, so it’s probably the same underlying cause:

[code]

…which outputs the same `unexpected token kDO_BLOCK` error.

[2018-03-30 08:18] whitequark commented on #478
It's not possible to push over a yanked gem version so there's nothing I can do about it beyond unyanking (which is even worse). Complain to rubygems.org, I guess.

[2018-03-30 08:35] #480 closed

[2018-03-30 08:46] #477 closed

[2018-03-30 16:31] #481 closed

[2018-03-30 16:38] iliabylich commented on #483
Backported in https://github.com/whitequark/parser/pull/485

[2018-03-30 16:38] #483 closed

[2018-03-31 19:31] perlun commented on #478
@whitequark

Please do. I think their current policy is completely broken. It should be extremely hard to yank a package, if it happens more than 5 minutes after it was pushed.

[2018-03-31 19:36] whitequark commented on #478
Note that, if I remember correctly, I've pulled the package within 5 minutes. At a certain volume of installations it just doesn't matter. Yanking must not remove the actual file.

But it seems unlikely to me that this policy change will be *reverted*, and in any case I don't really participate in the Ruby ecosystem anymore.

[2018-04-01 14:16] pocke opened #486 ":!@ should be (sym :!), but it is actually (sym :"!@")."
In MRI
===

`:!@` equals `:!`, but `:"!@"` does not equals `:!`.
`:~@` has the same behaviour.
`:-@` and `:+@` have a different behaviour, `:-@` equals `:"-@"`.

[code]

[code]

I can confirm this behaviour in Ruby 1.9 ~ 2.6. And `:!` is a syntax error in Ruby 1.8.

Problem
===

Parser gem parses `:!@` to `(sym :"!@")`actually.

[code]

It should be `(sym :!)`.

Probably we should fix `Parser::Bui

[2018-04-01 14:18] whitequark commented on #486
I think this should rather be fixed in the lexer.

[2018-04-02 12:20] iliabylich commented on #479
@whitequark Need some help. Parser handles squiggly heredocs in the `Parser::Lexer::Dedenter`. The lexer can't emit
[code]
instantly as `"a b\n"` because it needs to keep the information about spacing (next lines may have a different indentation). Does it mean that the lexer should emit it as two lines and merge them later in the `Dedenter`? It makes the `Dedenter` much more complex, but from what

[2018-04-02 17:08] iliabylich opened #490 "Method def -> sclass -> class def can't be parsed"
[code]
is a valid construction for current trunk (because sclass has it's own constants scope). In MRI `sclass` sets `in_def` to `0`, so our implementation of
[code]
should be probably changed to something like
[code]

[2018-04-02 17:27] iliabylich commented on #490
One more case:
[code]
The reason is the same:
[code]

I'll include the fix into this PR

[2018-04-02 17:47] iliabylich opened #492 "parse error: cond ? a + '"': ''"
[code]

But `a ? '': nil` can be parsed.

[2018-04-02 22:48] #486 closed

[2018-04-02 23:05] #490 closed

[2018-04-08 07:08] Temikus commented on #478
Got here because my Lockfile contained a version that no longer existed. It's no biggie, just got curious what happened.

For posterity sake I'll add this to others that are curious - AFAIK official policy of RubyGems is that repushing of gem versions is not allowed to prevent unexpected behavior that they're not staffed to deal with (cached versions, webhooks).

A bit more info on it here: https:

[2018-04-09 05:49] perlun commented on #478
Good point. Anyway, we should push them to change the policy so that _yanking doesn't remove the actual file_, but only makes it "undiscoverable".

Since they have had their current semantics for 3 years now, I think they are unlikely to want to change it, but they are still wrong. 😜

[2018-04-10 18:57] NinoScript opened #494 "Ruby 2.2.10 compatibility"
Is this compatible with 2.2.10 too?
Or in other words, was there any syntax change from 2.2.9 to 2.2.10?

If there weren't any changes, can we just bump the version like like it was done in https://github.com/whitequark/parser/commit/bf2c90ed7816b7507c0652d1b4188b43a55f4a5a ?

I read a little bit about this version here: https://www.ruby-lang.org/en/news/2018/03/28/ruby-2-2-10-released/
And it see

[2018-04-11 12:22] Tolsto opened #495 "Ruby 2.5.1 syntax change"
[code]

Running the above with Ruby 2.5.1 will raise

[code]

However, the output of Parser is:

[code]

Tested with Parser 2.5.0.5

[2018-04-11 13:28] iliabylich commented on #495
Thanks, that's a bug. The line https://github.com/ruby/ruby/blob/trunk/parse.y#L8019 doesn't match https://github.com/whitequark/parser/blob/master/lib/parser/lexer.rl#L2249. Should be something like
[code]

BUT! The latest 2.4.x MRI release (2.4.4) has only partial backport of this feature (https://bugs.ruby-lang.org/issues/13547). It rejects all literals in the end of the arglist followed by `{}

[2018-04-11 13:33] dmarcoux commented on #466
Hi, this issue is still occuring with Ruby `2.5.0` and parser `2.5.0.5`. To investigate, please refer to the issue linked just above my comment.

[2018-04-11 13:46] iliabylich commented on #466
I can confirm it, `2.5.0.5` fails, but master branch parses it properly. @whitequark could you cut a release please?

[2018-04-11 14:33] #494 closed

[2018-04-11 14:50] #495 closed

[2018-04-11 17:26] dmarcoux commented on #466
Is there a way around it for now? I ask as it's blocking a pull request. It's not urgent, I'm simply curious. Thank you for confirming it so quickly.

[2018-04-11 17:43] iliabylich commented on #466
Yes, `2.5.0.5` cannot parse any code like:
[code]
Basically avoid constructions like `"#{(expression)}"` because they leave garbage in the stack that is used to distinguish `kDO` and `kDO_BLOCK`.

So the workaround is to change the code to `"#{DateTime.now + 1.day}"`.

[2018-04-11 19:02] iliabylich commented on #492
@whitequark In MRI `EXPR_VALUE` is an alias for `EXPR_BEG`:
[code]
 and code constructions like `{ 'a': 'b' }` are handled using a dual state `EXPR_BEG|EXPR_LABEL` after tLBRACE (so if next token is `'` the lexer creates a literal that can become a label). But in the Parser `EXPR_VALUE` is a special state that allows everything that is supported by `EXPR_BEG` except labels and quoted labels. Is it

[2018-04-11 19:47] whitequark commented on #466
I'll cut a release soon.

[2018-04-11 19:48] whitequark commented on #492
EXPR_VALUE used to be like that in MRI but it was refactored a long time after Parser's lexer was written.

[2018-04-11 19:49] whitequark commented on #492
I don't remember offhand how to do it in Ragel; you'll have to consult its documentation, I'm afraid.

[2018-04-11 20:59] #492 closed

[2018-04-12 00:34] #479 closed

[2018-04-12 00:50] whitequark commented on #466
2.5.1.0

[2018-04-16 18:41] jmarianer opened #501 "do-end inside {} code block"
parser version 2.5 and up fail on a do-end class definition inside a {} code block. The parse succeeds if the braces are replaced with do-end or vice versa (i.e., the blocks are made consistent). This also succeeds when using parser-2.4.0.2.

[code]

[2018-04-16 19:26] mikegee commented on #501
I think https://github.com/whitequark/parser/pull/500 will resolve this issue.

[2018-04-16 19:40] iliabylich commented on #501
No, it will not. Ruby trunk also fails parsing this code, it will be fixed after merging (hopefully) https://bugs.ruby-lang.org/issues/14690 and backporting it to the Parser.

[2018-04-16 19:52] mikegee commented on #501
👍 Thanks for the clarification.

[2018-04-16 19:53] jmarianer commented on #501
Thanks, everyone. I'll just sit tight, then.

[2018-04-17 01:28] iliabylich opened #502 "ruby/ruby@f168dbd"
https://github.com/ruby/ruby/commit/f168dbd9ef3d27ec629d323f8a0834d63b5d7baa

[2018-04-17 01:37] iliabylich commented on #502
Depends on https://github.com/whitequark/parser/pull/500

[2018-04-19 16:22] iliabylich opened #504 "ruby/ruby@7f95eed"
New syntax!

[code]

Upstream commit: https://github.com/ruby/ruby/commit/7f95eed19e22cb9a4867819355fe4ab99f85fd16

[2018-04-20 09:55] #501 closed

[2018-04-20 09:55] #502 closed

[2018-04-20 10:08] #504 closed

[2018-04-25 04:49] y-yagi opened #507 "error: unexpected token kDO"
It is a bug similar to #466 and #447, but it is reproduced with v2.5.1.0.

[code]

[code]

[2018-04-26 21:01] #507 closed

[2018-05-29 01:43] bbatsov commented on #317
A problem that solves itself http://www.colm.net/news/2018/05/18/new-target-langs.html

[2018-05-31 13:17] kidbrax commented on #282
I have this same issue. I am using Bundler as well.

[2018-05-31 13:37] whitequark commented on #282
Don't use git checkouts of Parser, this is not supported.

[2018-05-31 13:52] kidbrax commented on #282
If I understand Bundler correctly, that means you can't use Parser if you are fully caching (--deployment) your gems, correct? Since it pulls down everything from git and stores it locally?

[2018-05-31 13:54] whitequark commented on #282
As far as I know that mode pulls `.gem` files from the configured sources, not from git. There isn't even a git repository specified in the [gemspec](https://github.com/whitequark/parser/blob/master/parser.gemspec)!

[2018-06-14 16:43] pirj opened #512 "Location is incorrectly determined when Heredoc when interleaved with parentheses or braces"
Ruby version: 2.4.3
Parser versions: 2.4.0.2, 2.5.1.0

[code]

To better indicate the difference:
[code]

I believe the problem is in code that is determining the `end_pos` of `Parser::Source::Map::Heredoc`.

[2018-06-14 17:50] iliabylich commented on #512
I'm not sure that it's a bug. In your example `p5` is a `send(str)`, while in all other examples it's a `send(send(str))`, in other words:

[code]
Looks like you compare different things and thus get different results.

[2018-06-14 17:58] iliabylich commented on #512
Wait, I understand the issue now. I guess that's by design, method invocation ends on the `)` character. @whitequark Could you take a look please? I'm not familiar with source maps, is it ok that there's a node that doesn't include children's locations in its source maps?
[code]

[2018-06-14 18:12] iliabylich commented on #512
What should be the location of the method call here?
[code]
I feel like it's easier to ignore this issue. Source map of the method call with parentheses must end on the right parenthesis.

[2018-06-14 20:21] whitequark commented on #512
Yes, we do this explicitly for heredocs (and *only* heredocs), and it's documented.

[2018-06-14 20:21] #512 closed

[2018-06-15 10:15] iliabylich opened #513 "ruby/ruby@bae638a"
https://github.com/ruby/ruby/commit/bae638ad5b782c44c80efe33834cb9039279af46

[2018-06-15 20:02] whitequark commented on #513
We don't implement parser warnings other than those that would be impossible to implement downstream (e.g. useless else without rescue).

[2018-06-15 20:02] #513 closed

[2018-06-21 13:47] Drenmi commented on #357
It does indeed satisfy it. The problem I was having was that this isn't polymorphic with other keyword nodes that are treated similarly by our indentation cops. I guess I can always patch alias it on our end. 🙂

[2018-06-23 21:29] bdewater opened #514 "unexpected token kDO for Ruby 2.3"
Similar to reports https://github.com/whitequark/parser/issues/466, https://github.com/whitequark/parser/issues/447 and https://github.com/whitequark/parser/issues/507

We want to add Rubocop to ActiveMerchant: https://github.com/activemerchant/active_merchant/pull/2894 but right now we need to exclude a few files since they break.

[`lib/active_merchant/billing/gateways/paypal/paypal_common_api.r

[2018-06-24 10:54] iliabylich commented on #514
I can't reproduce it using the latest mater. @whitequark could you cut a release please? There are a few unreleased changes, one of them is related to cmdarg logic.

[2018-06-24 11:15] whitequark commented on #514
Ah, will do soon.

[2018-06-30 19:16] lsenta opened #515 "--emit-json fails with empty / commented files"
Hi there, thanks for maintaining this library,
I just started using Ruby & ruby-parse,
it crashes on empty files or files that contains only comments:

[code]

[2018-07-10 03:36] whitequark commented on #515
Can you submit a PR?

[2018-07-10 03:44] whitequark commented on #514
2.5.1.1, sorry for the delay.

[2018-07-10 03:44] #514 closed

[2018-07-10 06:39] mvz opened #518 "Something's broken in 2.5.1.1"
Follow-up from https://github.com/rubocop-hq/rubocop/issues/6092#issuecomment-403715689: The following Ruby code is not parsed with parser 2.5.1.1 anymore:

[code]

Result:

[code]

The 1.9 parser works:

[code]

[2018-07-10 06:43] enzinia opened #519 "2.5.1.1 and rubocop problem"
With `parser-2.5.1.1` and `rubocop` I get many false offences like
[code]
or
[code]

When fallback to parser-2.5.1.0, all became to work normally. Not sure that it is `rubocop` problem, since before 2.5.1.1 it worked well.

Log to demonstrate behavior:

[code]

[2018-07-10 06:59] wongy91 commented on #519
same here ` E: Lint/Syntax: unexpected token kUNLESS_MOD` and `E: Lint/Syntax: unexpected token kEND`

[2018-07-10 07:34] jodosha commented on #519
Same problem here.

[2018-07-10 08:08] wongy91 commented on #519
downgrading the gem works, im using `2.5.0.5`

[2018-07-10 11:39] bbatsov commented on #519
I’ve patched RuboCop to ignore 2.5.1.1 and issued 0.58.1.

On Tue, 10 Jul 2018 at 11:08, Jack Wong <notifications@github.com> wrote:

[2018-07-10 15:33] whitequark commented on #519
Dupe of #518.

[2018-07-10 15:33] #519 closed

[2018-07-10 15:35] #518 closed

[2018-07-10 15:37] whitequark commented on #518
Parser 2.5.1.2 with the fix released.

[2018-07-10 16:05] mvz commented on #518
Thanks for the quick response @whitequark and @iliabylich!

[2018-07-27 00:51] nelhage opened #522 "Crash in parser on certain invalid syntax"
[code]

[2018-07-27 15:24] #522 closed

[2018-08-08 07:39] christophe-zurn-sonarsource opened #524 "JRuby integration"
Hello,

I have been experimenting with your parser lately, and I have noticed a big performance difference when using the library with MRI vs. JRuby.

When running the following script in a repository containing ~2000 ruby files (ex: [discourse repository](https://github.com/discourse/discourse)):

[code]

It ends up taking around 3 times longer to complete on the JRuby interpreter.

I was wonderi

[2018-08-08 07:44] whitequark commented on #524
I'd expect this to be related to the huge `Parser::Lexer#advance` method that cannot be JITted by the JVM because it's too large. @headius, has there been any change in JRuby that could help with this?

[2018-08-09 07:19] christophe-zurn-sonarsource commented on #524
@whitequark Oh ok. Thank's for quick response and the precision :)
Indeed, when having a closer look at JIT logs of JRuby, it cannot JIT that method, even with a higher max size for instruction counts.
I'll have a look at JRuby AOT compilation, to see if something can be done there.
Thank's

[2018-08-09 07:19] #524 closed

[2018-08-13 16:43] wilg opened #525 "unexpected token kDO_BLOCK"
Got an error using parser via Rubocop (https://github.com/rubocop-hq/rubocop/issues/6178)

On this snippet of code:

[code]

Rubocop reports:

[code]

Versions:

[code]

I worked around this by adding this to my `Gemfile`:

[code]

[2018-08-13 17:35] iliabylich commented on #525
Minimal case for reproduction:
[code]
I'll send a fix soon.

[2018-08-13 18:56] #525 closed

[2018-08-21 14:28] saberduck opened #527 "procarg0 with parentheses"
In the following snippet

      [[1,2],[3,4]].each do |(a,b)| puts "#{a}:#{b}" end

Block arguments are parsed as
[code]

However it seems to me that `on_argument` handler in the `Processor` expects argument to have only two children -> [argument and value](https://github.com/whitequark/parser/blob/master/lib/parser/ast/processor.rb#L103) . This means that in this case node `(arg :a)` is never pro

[2018-08-21 14:29] saberduck commented on #527
If it's relevant, real world code using this syntax can be found here
https://github.com/discourse/discourse/blob/master/app/models/permalink.rb#L47

[2018-09-15 06:56] whitequark commented on #527
Yes. Please add a separate visitor for `on_procarg0`.

[2018-10-23 22:00] catmando opened #529 "incorrect parse of this expression: `Foo()`"
`Foo {}` is correctly parsed as a method call to the Foo method, but `Foo()` is parsed as `Foo` (i.e. loses track that its a method call.)

This is important to the Hyperstack framework as all HTML tag elements are represented as methods like `DIV`, `SPAN` etc.

I would be happy to help fix, if someone can point me to approx where.

[2018-10-23 22:07] iliabylich commented on #529
I can't reproduce it:
[code]
(both are getting parsed as method calls)

Which version of `parser` do you use?

[2018-10-23 22:53] catmando commented on #529
2.3.3.1

[2018-10-23 22:58] iliabylich commented on #529
The issue is not in the parser:

[code]

[2018-10-23 22:59] catmando commented on #529
huh... okay I will do some more work

[2018-10-23 22:59] catmando commented on #529
thanks

[2018-10-23 23:00] #529 closed

[2018-10-23 23:14] catmando commented on #529
it was unparser!

[2018-10-26 13:01] owst opened #530 "2.5.3 release?"
Would you be able to release a new version including #528 and supporting 2.5.3?

We're getting the well-known
[code]
style warnings.

Thanks!

[2018-11-06 16:19] akimd opened #532 "useless `begin` in interpolated strings"
Maybe that's on purpose, but I don't see the point of the `begin` here.

[code]

If this is meant, then the documentation needs to be updated (https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md#L105, look for `dstr`).

Cheers!

[2018-11-07 01:48] whitequark commented on #532
It carries location info for `#{` and `}`:
[code]

[2018-11-07 10:06] akimd commented on #532
Makes plenty of sense.  But don't you want to update the doc?

[2018-11-20 15:59] gmalette opened #533 "Unable to parse strings with binary encoding in UTF-8 files"
`Parser` fails to parse ActiveSupport [`Digest::UUID::DNS_NAMESPACE`](https://github.com/rails/rails/blob/b2eb1d1c55a59fee1e6c4cba7030d8ceb524267c/activesupport/lib/active_support/core_ext/digest/uuid.rb#L7). The value of the constant is a binary byte sequence expressed as a String literal. The file is encoded in UTF-8, and `Parser` attempts to validate the string encoding, which fails. The `DNS_N

[2018-11-20 18:56] whitequark commented on #533
Duplicate of https://github.com/whitequark/parser/issues/323, see that issue for a workaround.

[2018-11-22 13:20] gmalette commented on #533
Thanks for the workaround

[2018-11-29 20:23] sevenmaxis opened #534 "TreeRewrite example doesn't work"
Example from  [TreeRewriter](https://www.rubydoc.info/github/whitequark/parser/Parser/TreeRewriter) doesn't work.

It produces such message:
[code]

It requires second argument `ast` in method:
[code]
Ruby version: `ruby 2.6.0preview3`

[2018-12-21 18:29] mvz opened #537 "Incorrect parsing of line continuation inside strings"
MRI is hardly consistent here, but:

[code]

Running this gives:
[code]

But parsing with Parser adds more newline characters:

[code]

[2018-12-26 16:39] iliabylich commented on #537
The following cases are buggy:
[code]

[2018-12-29 13:08] #537 closed

[2018-12-29 13:14] mvz commented on #537
Thanks, @iliabylich!

[2018-12-31 15:16] iliabylich opened #541 "ruby/ruby@67c5747"
https://github.com/ruby/ruby/commit/67c574736912003c377218153f9d3b9c0c96a17b

[2019-01-05 13:30] iliabylich opened #542 "ruby/ruby@9cbb4dd"
https://github.com/ruby/ruby/commit/9cbb4dde74f854b0cfcdb48b1ce0604894c83665

[2019-01-10 12:35] iliabylich commented on #541
According to https://github.com/ruby/ruby/blob/9f1fb0a17febc59356d58cef5e98db61a3c03550/NEWS#news-for-ruby-270 it should be in `ruby27.y`

[2019-01-10 12:35] iliabylich commented on #542
According to https://github.com/ruby/ruby/blob/9f1fb0a17febc59356d58cef5e98db61a3c03550/NEWS#news-for-ruby-270 it should be in `ruby27.y`

[2019-01-16 08:11] mvz opened #544 "TreeRewriter#rewrite is not threadsafe"
**This is not something I encountered in actual use**, but I just realized that `#rewrite` might not be thread-safe and I decided to check it. The following code confirms that `#rewrite` is not thread-safe. I have added `sleep 0.1` in the rewrites to simulate a rewrite that takes some time. The code fails with `Parser::ClobberingError` errors. If the same code is run sequentially, it simply prints

[2019-01-16 14:39] whitequark commented on #544
Indeed, it's not threadsafe, just like any other Ruby object with internal state not protected by a mutex.

[2019-01-16 14:39] #544 closed

[2019-01-16 15:52] mvz commented on #544
Using thread-local storage would help in this case, right?

[2019-01-16 15:53] whitequark commented on #544
Do you mean in Parser?

[2019-01-16 16:10] mbj commented on #544
IMO its a bad idea to make arbitrary interfaces, that are not themselves concurrency primitives, thread safe. In ruby, due its core semantics the caller is responsible to ensure a specific interface is either thread safe, or used in a thread safe manner.

[2019-01-16 18:20] mvz commented on #544
@whitequark yes. The reason this particular case struck me is that the parent class *is* thread-safe, and the appearance of internal, mutable state in this particular object is not obvious. I've seen a similar case in Net::HTTP producing issues in a production environment.

[2019-01-16 21:01] mbj commented on #544
Wrap your access to the thread safe object into a mutex? Or create one object per thread.

[2019-01-21 12:57] iliabylich opened #545 "ruby/ruby@62ec5eb"
https://github.com/ruby/ruby/commit/62ec5eb01874472e2df9d871ef329d5a76b9c853

@whitequark Could you please confirm that it should be backported?

[2019-01-21 12:59] whitequark commented on #545
This is a general quality improvement that should ideally be done, but our error messages on invalid inputs are not part of the API contract nor they, in general, match MRI.

[2019-01-21 13:06] whitequark commented on #545
I definitely disagree. Parser is a general Ruby frontend used as plumbing in many different tools. It should not spew internal token names in error messages and any instance where it does that is an oversight.

[2019-01-21 13:07] iliabylich commented on #545
So, what's your verdict? Should it be implemented in parser?

[2019-01-21 13:08] whitequark commented on #545
Yes. I was only saying that it isn't a *blocker*, and we do not need to match MRI's behavior or release train when introducing this.

[2019-01-23 17:16] iliabylich commented on #541
It supports leading dots but the whole operator + method name must be on the same line:
[code]

[2019-01-23 17:17] whitequark commented on #541
What the hell? This syntax is bizarre even by Ruby's standards...

[2019-01-23 17:27] iliabylich commented on #541
In MRI the code that handles it is very close to the place that parses ranges (it rejects `"1.\n.2"` and so `"1.\n:m"` also becomes invalid, just because the logic that is used to come to the char-after-the-first-dot is shared) . Not sure if it's a final implementation, let's just wait

[2019-01-30 23:23] ioquatix opened #547 "Incorrect handling of '\n'"
[code]

The `'\n'` string is incorrectly rewritten.

Expected output, same as input. Actual output:

[code]

[2019-01-30 23:36] iliabylich commented on #547
It doesn't look like a bug, that's how heredocs parse `\n`:
[code]

[2019-01-30 23:41] ioquatix commented on #547
Hmm, I had this bug in a different situation but tried to make a small repro - let me try again.

[2019-01-30 23:50] ioquatix commented on #547
Okay, my bad. It turns out minitest was trying to reformat the output and it looked wrong but it was actually okay.

[code]

Not really sure why it inserts a newline there.

[2019-01-30 23:50] #547 closed

[2019-02-15 21:09] catmando opened #550 "block args `|args|` parses the same as `|args, |`"
for example
[code]
generates the same tree as
[code]
Tried it with Parser::VERSION == 2.6.0.0

[2019-02-15 21:11] catmando commented on #312
related to #550 I wonder?

[2019-02-15 21:23] whitequark commented on #550
Expected behavior. See https://github.com/whitequark/parser#usage. You need to opt-in to procarg0.

[2019-02-15 21:23] #550 closed

[2019-02-15 21:54] catmando commented on #550
thanks...

[2019-02-16 04:40] nekomaho opened #551 "Please push tag 2.6.0.0"
Hi, this gem seem v2.6.0.0 is available already.
https://rubygems.org/gems/parser/versions/2.6.0.0
However, there is no tags for v2.6.0.0 on GitHub. Could you push it?

[2019-02-16 22:26] whitequark commented on #551
Done

[2019-02-16 22:26] #551 closed

[2019-02-18 04:41] Drenmi opened #553 "Bump to 2.6.1"
A [new version was released](https://www.ruby-lang.org/en/news/2019/01/30/ruby-2-6-1-released/) about three weeks ago. I have read through the [commit log](https://github.com/ruby/ruby/compare/v2_6_0...v2_6_1), and it shouldn't contain any updates to the parser. Can we please bump `parser` version to remove:

[code]

[2019-02-19 17:02] douglas commented on #553
This would be amazing as it is the only thing preventing a upgrade to 2.6.1 for an app that I maintain - do you need any help?

[2019-02-19 17:06] iliabylich commented on #553
It's just a warning and @Drenmi is right, there were no changes in grammar in 2.6.1.  You can safely use `2.6.0.0`.

[2019-02-19 17:34] douglas commented on #553
Sure! It works, but we're just avoiding push the upgrade because of the warning as it shows up every time we run the tests.

Just to be clear, we're not in a rush, tho! Just wanted to offer help if needed.

[2019-02-22 16:26] #553 closed

[2019-02-22 16:26] iliabylich commented on #553
@whitequark Could you release it please?

[2019-03-03 02:37] localhostdotdev opened #555 ""\1" and '\1' should return different parse tree"
From `parser/current`:

[code]

Using MRI's parsetree dump:

[code]

From: https://twitter.com/samphippen/status/1102031812291973122

[2019-03-03 02:47] whitequark commented on #555
This is not actually a bug. What happens is that `%{}` interprets the `\1` before it ever gets to Parser. See:
[code]

[2019-03-03 02:47] #555 closed

[2019-03-03 02:47] whitequark commented on #555
Compare to:
[code]

[2019-03-03 03:29] localhostdotdev commented on #555
Nice, forgot about `%q`

[2019-03-12 17:47] #541 closed

[2019-03-12 18:45] #542 closed

[2019-03-12 21:29] igorkasyanchuk commented on #326
Whi wants to disable warning:

nano /usr/local/rvm/gems/ruby-2.6.1/gems/parser-2.6.0.0/lib/parser/current.rb
comment lines: https://github.com/whitequark/parser/blob/11e9e345446f3c77aefaf142b97f7f09fab33a39/lib/parser/current.rb#L6-L8

[2019-03-16 13:38] iliabylich opened #558 "ruby/ruby@7006fde"
https://github.com/ruby/ruby/commit/7006fdecf2ff5e832cd6da1bf02462146a9190b8

[2019-03-17 13:43] iliabylich opened #559 "ruby/ruby@12acc75"
https://github.com/ruby/ruby/commit/12acc751e3e7fd6f8aec33abf661724ad76c862a

[2019-03-18 12:46] iliabylich commented on #559
Also https://github.com/ruby/ruby/commit/d0e25ed277549af21242009e649d93b73c82576c

[2019-03-18 12:52] iliabylich commented on #559
Also https://github.com/ruby/ruby/commit/964bbc1686c7dd42d58da504a6968c90d5a428fd

[2019-03-18 17:01] iliabylich commented on #558
Fixed in https://github.com/whitequark/parser/pull/560

[2019-03-18 17:01] #558 closed

[2019-03-18 17:14] iliabylich commented on #559
@whitequark MRI tracks the max value of `@<digits>` and saves it into `args` node metadata:
[code]

And later it's used in the arity checking:
[code]

I'm pretty sure we need to do something similar. Otherwise there's no (simple) way to get the number of arguments. Any thoughts?

[2019-03-18 17:16] iliabylich commented on #559
I know that you'd like to not make any breaking changes, so maybe let's introduce a new node `numbered_args` that has a single child: the amount of numbered parameters?

[2019-03-18 17:42] whitequark commented on #559
OK.

[2019-03-19 04:57] Drenmi commented on #553
Would be great to have this released, as everyone running RuboCop with Ruby 2.6.1 keeps getting this warning. 🙇

[2019-03-19 07:38] bbatsov commented on #553
Btw, 2.6.2 is also out. I think it doesn't have AST related changes.

[2019-03-20 20:48] skcc321 opened #561 "2.6.1 version support"
there is warning abount 2.6.0-compliant syntax (2.6.0.0 version from rubygems)
`warning: parser/current is loading parser/ruby26, which recognizes
warning: 2.6.0-compliant syntax, but you are running 2.6.1.`
when are you gonna release 2.6.1 version?

[2019-03-20 21:05] ioquatix opened #562 "Should we update this to 2.6.2?"
https://github.com/whitequark/parser/blob/2afb33822b10e3f864f06367cb6f00eefadd4471/lib/parser/current.rb#L79

[2019-03-20 22:47] #561 closed

[2019-03-20 23:16] iliabylich commented on #562
Fixed in https://github.com/whitequark/parser/pull/563, 2.6.2.0 has been released - https://rubygems.org/gems/parser/versions/2.6.2.0

[2019-03-20 23:16] #562 closed

[2019-03-20 23:25] ioquatix commented on #562
Awesome, do you also think it makes sense for the `else` branch to now default to 2.6?

[2019-03-21 02:19] ioquatix commented on #562
@Parad0x what exactly are you confused about?

[2019-03-21 02:19] ioquatix commented on #562
@iliabylich thanks for your prompt action on this!

[2019-03-21 03:07] Parad0X commented on #562
@ioquatix I guess I should've used 👀 emoji ;)

[2019-03-21 12:48] olleolleolle opened #564 "Support parsing open-ended range [1..]"
Open-ended range fails.

## Reproduce

Have a file with an open range.

[code]

Use 2.6.2.

[code]

Try the program with ruby:

[code]

Run `reek` to inspect this file, and see parser fail on `unexpected token tRBRACK`:

[code]

[2019-03-21 12:55] iliabylich commented on #564
Must be something in Reek:
[code]

[2019-03-21 13:07] olleolleolle commented on #564
@iliabylich Thanks for narrowing the target! I will close this issue.

An Issue like this one has been opened in reek.

[2019-03-21 13:07] #564 closed

[2019-04-03 09:02] iliabylich opened #568 "ruby/ruby@95f7992"
Beginless range - https://github.com/ruby/ruby/commit/95f7992b89efd35de6b28ac095c4d3477019c583

[2019-04-06 21:49] #568 closed

[2019-04-17 09:30] iliabylich opened #571 "ruby/ruby@9738f96 - pattern matching"
https://github.com/ruby/ruby/commit/9738f96fcfe50b2a605e350bdd40bd7a85665f54

[2019-04-23 18:00] iliabylich commented on #559
Also https://github.com/ruby/ruby/commit/ae07b66aaa092c59ac9d544c9b582712290dc357 + https://github.com/ruby/ruby/commit/6ca9e7cc0785c33f6d382176dbd79d6c91db72fe

[2019-04-24 16:10] iliabylich commented on #559
I think it's buggy:
[code]
... because MRI's implementation is not stack-based.

Same error for `def m(a = ->{@1}); end`.

My PR handles it properly:
[code]

@whitequark Do we need to inherit it? I'll create a ticket in redmine.

[2019-04-25 10:49] iliabylich commented on #571
I'm slowly working on backporting this feature and got a bunch of questions.

Basically pattern matching works via existing `case` construction:
[code]

`^` is a pin operator that prevents assignment and forces usage of existing local variable (just like in Elixir).

Here's the list of questions:
1. Should we emit `case` as `s(:case)`? `in` and `when` inside `case` are mutually exclusive, so it's

[2019-04-25 11:22] bbatsov commented on #571
Is there some spec we can check about the pattern matching behaviour? I saw the feature doesn't have many tests and I recall reading somewhere that the full spectrum of pattern matching was quite complex. It's hard for me to advise on the node structure without knowing what's possible in general.

[2019-04-25 11:55] iliabylich commented on #571
There's no documentation, but there are quite a lot of tests in the commit:
https://github.com/ruby/ruby/commit/9738f96fcfe50b2a605e350bdd40bd7a85665f54#diff-30f49afbb3e44aa9f1fa6a549ab1855fR144
https://github.com/ruby/ruby/commit/9738f96fcfe50b2a605e350bdd40bd7a85665f54#diff-1d2d03bc1e77e55b2e667f6298a0012aR1

[2019-04-25 13:36] bbatsov commented on #571
I think we should go with a different name for the node, as this would simplify the client code and not raise compatibility issues.

`in` sound good to me.

I'd be fine with this, but more compact names like `apat` and `hpat` might be more in line with existing names like `lvar`, etc. I guess @whitequark is best qualified to decide on the new names.

Sounds reasonable to me.

I think if there's no

[2019-04-25 16:44] marcandre commented on #571
Right, and the left hand side is always a `lvar` name, so `pair` is also overly generic.

Matching on `a: nil` is different than `a: `, isn't it?

So probably no choice than new nodes (e.g. `patasgn` and `hrest`).

Note that theres a `1 => a` pattern match too, so that can be using the nodes.

How about `a:, b: 1, **r` being coded as
[code]

`1 => a` could also use `patasgn`.

It's not clear to me

[2019-04-25 16:58] iliabylich commented on #571
@marcandre

Yes, the first is used only for matching, the second is also used in destructuring, so it produces a local variable (the first one doesn't):
[code]

so in the case above `a: 1` doesn't assign anything (`a:` does). I'd say that `a: 1` can be a `s(:pair)`, while `a:` should be `s(:lvasgn)` inside `s(:hpat)`. However, creating a new node would make a client code simpler as it doesn't requ

[2019-04-25 17:08] marcandre commented on #571
Oh, I see, I was confused, thanks.

So I agree that `pair` could work fine, then.

[2019-04-29 10:05] iliabylich opened #573 "ruby/ruby@330b376"
https://github.com/ruby/ruby/commit/330b376133e00ae418bcf01e641e127df01fbc28

[2019-04-29 10:06] iliabylich commented on #573
also https://github.com/ruby/ruby/commit/1432471a759dc0cbc80c53766894dba45e6da887

[2019-05-05 13:04] iliabylich commented on #559
Also https://github.com/ruby/ruby/commit/b8f3be295b694964e88960c0228459b8aadd114a + https://github.com/ruby/ruby/commit/bb4ac7a6506971dc34b5656f1a69aadc7299fcab (includes a fix for a bug mentioned above)

[2019-05-13 17:25] #573 closed

[2019-05-21 18:58] #559 closed

[2019-05-23 10:15] iliabylich opened #576 "ruby/ruby@c05eaa9"
https://github.com/ruby/ruby/commit/c05eaa93258ddc01e685b6cc3a0da82998a2af48

Not sure if it needs any work

[2019-05-24 13:32] iliabylich commented on #576
Also https://github.com/ruby/ruby/commit/2893550452f6f3cadb17c670da185813d7d0a835

[2019-05-26 22:08] iliabylich opened #577 "ruby/ruby@a43c637"
https://github.com/ruby/ruby/commit/a43c637660cd3c893401e899014d721d2fa2a5b4

[2019-05-28 15:48] iliabylich opened #578 "ruby/ruby@1cdaa17"
https://github.com/ruby/ruby/commit/1cdaa17a065c529354fa9bcb4a1f3001783900ef and also (maybe?) https://github.com/ruby/ruby/commit/62b3d4c721334108f89cd59407ffd910204e7868

[2019-05-28 15:49] iliabylich opened #579 "ruby/ruby@c730c25"
https://github.com/ruby/ruby/commit/c730c25354a18e99b9147c30ecc8f986d6a172f1 - not sure if it needs any work. Need to check `assert_syntax_error` calls from tests in this commit.

[2019-05-29 14:22] iliabylich commented on #578
also https://github.com/ruby/ruby/commit/1da5c73932b2dcf2a089f125df1fe7cc4ab9fafd

[2019-05-30 08:43] iliabylich opened #580 "ruby/ruby@4a31c1e"
https://github.com/ruby/ruby/commit/4a31c1e45d12b7813096948616f8a03224f20ac8

[2019-06-03 17:11] iliabylich commented on #577
There's nothing to backport, that's a refactoring:
[code]

[2019-06-03 17:11] #577 closed

[2019-06-03 17:25] #576 closed

[2019-06-05 09:08] #578 closed

[2019-06-07 15:54] iliabylich commented on #579
Here's the summary of this change:
+ MRI 2.6.4 accepts all chars from 0 to 127 after `"\C-"`
+ MRI 2.7.0-dev accepts all chars from 0 to 127 except 0-8, 14-31

Parser atm accepts all chars from 0 to 127 except 0, 4, 26 (not sure why)

[2019-06-07 17:58] whitequark commented on #579
These characters are EOF. 4 is `^D` (Unix), 26 is `^Z` (Windows), 0 is, well, null.

[2019-06-07 18:22] iliabylich commented on #579
Got it, thanks for the explanation. But MRI accepts these chars:
[code]

And it's not related to `eval`:
[code]

I see the place in the `lexer.rl` that uses `c_any` which is set to `any - c_eof`, and I guess it should be `any` instead of `c_any` in the control/meta char rules.

[2019-06-08 17:41] whitequark commented on #579
Sounds about right.

[2019-06-11 09:19] iliabylich opened #583 "ruby/ruby@140b811"
https://github.com/ruby/ruby/commit/140b8117bd3c32cb9d0b144937b90f0178a00b0e

[2019-06-11 13:43] iliabylich commented on #583
Also https://github.com/ruby/ruby/commit/39ae88ad0dd0f8d7cf732e8567af13e7f2ce9748

[2019-06-13 10:14] iliabylich opened #584 "ruby/ruby@f169043"
https://github.com/ruby/ruby/commit/f169043d81524b5b529f2c1e9c35437ba5bc3a7a

[2019-06-13 14:17] iliabylich commented on #584
Also https://github.com/ruby/ruby/commit/043f010c28e82ea38978bf8ed885416f133b5b75 and https://github.com/ruby/ruby/commit/aa7211836b769231a2a8ef6b6ec2fd0ec882ef29

[2019-06-13 15:23] iliabylich commented on #580
There's nothing to backport

[2019-06-13 15:23] #580 closed

[2019-06-13 15:35] #579 closed

[2019-06-13 16:01] #583 closed

[2019-06-13 17:14] iliabylich commented on #584
This change looks weird to me and a lot of people in comments.

Let's see, maybe they'll revert it. If not, I'll backport it in a few weeks

[2019-06-13 17:18] #534 closed

[2019-06-14 09:56] iliabylich commented on #584
also https://github.com/ruby/ruby/commit/d365fd5a024254d7c105a62a015a7ea29ccf3e5d

[2019-06-17 13:07] iliabylich opened #588 "ruby/ruby@01b3a38"
https://github.com/ruby/ruby/commit/01b3a3804334be19d013526d3edde2b84399ae43

[2019-06-17 13:38] iliabylich commented on #588
also https://github.com/ruby/ruby/commit/c8e9e0b74b7fb2e225af8708426389db88f80683

[2019-06-17 19:08] iliabylich commented on #588
Oh, just found that we don't care about void value expressions, it's documented in readme. There's nothing to backport.

[2019-06-17 19:08] #588 closed

[2019-06-17 19:19] iliabylich commented on #533
@whitequark Can we close it?

[2019-06-17 20:47] #533 closed

[2019-06-17 21:16] #527 closed

[2019-06-17 21:16] #532 closed

[2019-06-17 21:54] #515 closed

[2019-06-20 19:08] bengalamx commented on #495
Is there any fix for this? Is pretty annoying!

[2019-06-20 19:11] whitequark commented on #495
That should have been fixed a year ago. You're going to need to be more precise in your report.

[2019-06-30 12:17] iliabylich opened #591 "ruby/ruby@78a8888"
https://github.com/ruby/ruby/commit/78a8888c3eb6377218e8d3ec94a162c2c20eef82

[2019-07-01 17:54] iliabylich commented on #584
@whitequark We have `|` reserved for `tPIPE`, but this commit introduce pipe operator (`|>`) as `tPIPE`. Should we rename existing token into something else or just call a new token as `tPIPE_OP` or `tPIPE_GT`?

In MRI `"|"` has no name.

[2019-07-01 18:02] iliabylich commented on #584
maybe `tPIPELINE`?

[2019-07-01 18:23] whitequark commented on #584
In the past, in such a situation we've renamed the new token to `tPIPE2`.

[2019-07-05 14:05] iliabylich opened #593 "ruby/ruby@d746a41"
https://github.com/ruby/ruby/commit/d746a41e85b746a90eef20c46d24880fe084ffc5

[2019-07-05 14:23] #584 closed

[2019-07-05 14:54] #591 closed

[2019-08-02 16:44] iliabylich commented on #593
@whitequark this commit adds a parsing error on `?\u{41 42}`. Ruby had this error from the very beginning, but 2.5 had a bug and so it's a valid syntax for 2.5 and 2.6. However, all versions of parser reject it. Should we backport this bug? I think it's fine to keep it as is.

[2019-08-02 16:47] whitequark commented on #593
Seems fine to ignore this, with a README mention like usual.

[2019-08-10 03:26] iliabylich opened #595 "ruby/ruby@53b3be5"
https://github.com/ruby/ruby/commit/53b3be5d58a9bf1efce229b3dce723f96e820c79

[2019-08-21 22:38] KTkeyu opened #596 "parser/current is loading parser/ruby23, which recognizes 2.3.7-compliant syntax, but you are running 2.3.8"
warning: parser/current is loading parser/ruby23, which recognizes
warning: 2.3.7-compliant syntax, but you are running 2.3.8.
warning: please see https://github.com/whitequark/parser#compatibility-with-ruby-mri.
Loading development environment (Rails 4.2.7.1)

I am seeing these warnings when running rails console. Any idea fixing this issue? I recently included gem 'i18n-tasks', '~> 0.9.29' in my

[2019-08-21 23:30] #596 closed

[2019-08-29 10:51] iliabylich opened #597 "ruby/ruby@2ed68d0"
https://github.com/ruby/ruby/commit/2ed68d0ff9a932efbc4393c869534040dec8f647

[2019-08-30 10:15] #595 closed

[2019-08-30 14:32] #597 closed

[2019-08-30 15:49] rderoldan1 opened #602 "Question about release"
First of all thanks for all your great work

We are about to release ruby 2.6.4 and wondering if you can release this  https://github.com/whitequark/parser/commit/4da18918a70df941769c4200753e48cc4389c323 so we can get rid of `"warning: parser/current is loading parser/ruby26, which recognizes warning: 2.6.3-compliant syntax, but you are running 2.6.4. warning: please see https://github.com/whitequ

[2019-08-30 16:22] iliabylich commented on #602
https://rubygems.org/gems/parser/versions/2.6.4.0 has been released

[2019-08-30 16:22] #602 closed

[2019-08-30 16:40] rderoldan1 commented on #602
Great @iliabylich :) Have an amazing day

[2019-08-31 03:56] iliabylich opened #603 "ruby/ruby@6a9ce1f (**nil syntax)"
https://github.com/ruby/ruby/commit/6a9ce1fea89bc5c6518dd6bb7ff3b824a9321976

[2019-08-31 04:03] iliabylich opened #604 "block attaches to the wrong expr when arg is an expr"
[code]
as you can see it works as `m(a + b) do end`

[code]
not sure if it's a bug that we had from the very beginning or something caused by me (I think it's the latter).

Going to investigate it tomorrow.

[2019-09-01 11:14] iliabylich commented on #571
Also https://github.com/ruby/ruby/commit/94d6ec1d90bb28e5f303867b048e6322d8781cb1

[2019-09-01 13:46] iliabylich commented on #604
This commit introduced it - https://github.com/whitequark/parser/commit/f0a5c6b5a55ccadc784489d966efc8975b3f4e32

@whitequark I need some help. `expr_value` is used to reject labels (and it jumps to `expr_beg` otherwise), that's why I used it in this commit. However `expr_value` is also used to set `@command_state` flag that is later used for `expr_cmdarg`. As a result, lexer enters `expr_cmdarg`

[2019-09-01 13:49] whitequark commented on #604
I think so.

[2019-09-01 14:00] iliabylich commented on #604
@whitequark a (very) dirty solution would be doing `@command_state = false` before jumping from `expr_value` to `expr_beg` (because we are not in the "command mode" anymore).

In general doing something state-dependant in the beginning of `advance` and doing `fgoto` afterwards is somewhat dangerous, because it produces a wrong state.

[2019-09-02 00:21] #604 closed

[2019-09-02 19:05] iliabylich commented on #603
this patch introduces a new kind of node that indicates that the method (or the block) doesn't take any kwargs:
[code]
MRI emits `:nil` instead of kwrestarg, but I guess that's a bad source of the inspiration. How about `s(:no_kwargs)` argument? It always has some source location (for `**nil`)

[2019-09-02 19:06] whitequark commented on #603
`s(:kwnilarg)`, sure.

[2019-09-02 20:50] #603 closed

[2019-09-10 11:00] koic opened #608 "When will Parser 2.6.4.1 will be released?"
An error has occurred in RuboCop's Ruby 2.7 matrix. This is solved with #607.

The Parser gem does not bundle the automatically generated `parser/lexer.rb` file. Therefore, even if RuboCop specifies parser in Gemfile, the following error occurs.

[code]

[code]

I'm happy when Parser 2.6.4.1 will be released.

[2019-09-11 07:31] iliabylich commented on #608
@whitequark currently I’m on vacation, could you release it please? If not I’ll do it myself on Monday

[2019-09-11 13:33] bbatsov commented on #608
Btw, it'd be cool if someone from RuboCop's team could do emergency releases as well, given our dependence on `parser`. I think we're a reasonably reliable bunch of people over at RuboCop HQ and would never abuse such power.

[2019-09-11 13:36] whitequark commented on #608
I thought @iliabylich was on RuboCop's team.

[2019-09-11 13:42] bbatsov commented on #608
Nope. He's on Opal's team.

[2019-09-11 13:45] whitequark commented on #608
Ah OK. I think I'd be fine granting @koic gem upload rights.

[2019-09-11 13:59] bbatsov commented on #608
That's be awesome. Thank you! 🙇

[2019-09-11 13:59] whitequark commented on #608
But I'd need to know the Rubygems account.

[2019-09-11 14:45] bbatsov commented on #608
See https://rubygems.org/profiles/koic_ito

[2019-09-11 14:56] koic commented on #608
Thank you everyone!
My RubyGems account is `koic.ito@gmail.com` when using `gem owner`.
https://guides.rubygems.org/command-reference/#gem-owner

I think version.rb and git tag needs to be pushed when releasing.  If you are okay, please grant me permission to this repository together.

I'd like to release Parser 2.6.4.1 if you grand me those permissions.

[2019-09-11 15:00] whitequark commented on #608
Both done.

[2019-09-11 16:24] koic commented on #608
Thank you for granting me permissions.

I released Parser 2.6.4.1.
However RuboCop's Ruby 2.7 CI continues to fail, so I'm sorry I didn't release it well...

I was expecting this warning to disappear in this release. But that didn't happen.

[code]

https://circleci.com/gh/rubocop-hq/rubocop/67829

Could you please tell me release procedure that's convenient for you?

[2019-09-11 16:31] whitequark commented on #608
There is nothing special about releasing Parser; `rake release` should be sufficient.

The reason I handed off day-to-day maintenance of this gem is precisely so that I will not have to care about minute changes (such as new warnings) in Ruby, the language I find intensely frustrating to work with. So I will not be able to assist you with this.

[2019-09-11 22:45] iliabylich commented on #608
@koic I can help you on Monday. Accidentally closed and reopened, sorry

[2019-09-12 04:12] koic commented on #608
I appreciate your prompt reply despite a vacation.

When running `rake release` (`rake changelog`), the change history was not generated as expected. So I released it by handcraft.

I would be grateful if you could help me on Monday. Thanks again.

[2019-09-16 10:31] iliabylich opened #610 "ruby/ruby@3a3f48f"
https://github.com/ruby/ruby/commit/3a3f48fb8fbdbb810d9b675159529970015316b9

[2019-09-16 10:51] iliabylich commented on #608
@koic The reason why the changelog was broken for you is that `rake changelog` task iterates over commits and looks into all tags that "include" this commit. It assumes that each tag is a "snapshot" of the master, and that's what usually happens when you do `rake release`:

[code]

^ Search for `tag:`, there are tags for 2.6.4.0, 2.6.3.0 etc, but no 2.6.4.1, I guess because you pushed something on

[2019-09-16 13:24] iliabylich commented on #608
Done:
[code]

`rake changelog` gives 0 changes now.

@koic `lib/parser/source/tree_rewriter.rb:269` must send `**attributes`, it should fix the warning on 2.7. Is there any way to include ruby 2.7 (i.e. from trunk) to the travis matrix?

[2019-09-17 01:37] koic commented on #608
Thank you for your explanation! I understand in your description that I forgot `git pull --tags` before `rake changelog` 💦 `rake changelog` now has the expected behavior.

Also, Ruby 2.7 deprecation warning seems to have been mistaken for #607 (This is a different warning). I will open a PR for `lib/parser/source/tree_rewriter.rb:269`. OTOH, I don't have a good idea about adding to Travis  Ruby 2.

[2019-09-17 09:23] iliabylich commented on #608
@koic I don't do `git pull --tags`, just bump version -> commit -> `rake release` -> `rake changelog` -> `git push` (because `changelog` task relies on a git tag that gets created only after `rake release`)

[2019-09-18 13:19] iliabylich commented on #608
Closing as 2.6.4.1 has been released (thanks to @koic)

[2019-09-18 13:19] #608 closed

[2019-09-19 11:58] iliabylich opened #615 "ruby/ruby@2698f13"
https://github.com/ruby/ruby/commit/2698f13a1f0cc07ef97b7f20502c420b51e9c57d

@whitequark We don't need to backport the warning, right?
However, there's a minor change to max number of number parameters (100 => 9)

[2019-09-20 11:03] #610 closed

[2019-09-20 11:08] whitequark commented on #615
Hmm, this warning is trivially emitted given AST alone, right? That's the general rule for whether we implement a warning ourselves.

[2019-09-20 11:13] iliabylich commented on #615
to rephrase: if it's possible to write let's say a simple rewriter and catch this case manually then the warning shouldn't be emitted. Does it mean that most warnings come from the `lexer.rl`?

[2019-09-20 11:14] whitequark commented on #615
Correct. (Though not necessarily a rewriter, any AST consumer.)

Correct. I think there were a few warnings that are emitted during AST construction too.

[2019-09-24 13:32] iliabylich opened #616 "2.7: numparams -> implicit params"
https://github.com/ruby/ruby/commit/e73cc3eead75b27eabf93a7163bed511f2bb3b17
https://github.com/ruby/ruby/commit/ea68bb914a3c806a1c5188993b96791a76ab0849
https://github.com/ruby/ruby/commit/0e84eecc1764ec6e2a28654b3e66b8c006f73432

The first commit has 0 tests, so it needs some investigation

[2019-09-25 08:43] iliabylich commented on #616
also
https://github.com/ruby/ruby/commit/e663299a5f7a980aae39f3e87cec064ae19a870c
https://github.com/ruby/ruby/commit/55e1e22b2d44a8a1eca0f6ed2b11dc0f564f7192
https://github.com/ruby/ruby/commit/33c5ad3154099769cec7f77b6d95cbf4b8d52bb0

[2019-09-26 09:39] iliabylich commented on #571
Also https://github.com/ruby/ruby/commit/3cee99808d629c0ec493955ce8ea019d1f8a637b

[2019-09-27 04:14] Drenmi commented on #357
We now have a [monkey patch](https://github.com/rubocop-hq/rubocop/pull/7337/files#diff-60af7388d983043183278aa513732f82R8) in `master` for this:

[code]

Is it enough to reconsider this?

[2019-09-27 07:34] whitequark commented on #357
I'm not sure why a hack being added in Rubocop should justify any changes in Parser. There has never been any reason to add that monkey patch to begin with; all else being equal, if you don't like how any of the nodes are constructed, you can always inherit from `Parser::Builders::Default` and override the appropriate node constructor.

[2019-10-01 17:22] iliabylich commented on #616
Alright, this sequence of changes is simply about renaming `@1 - @9` to `_1 - _9`. First change (that I really like by the way, but we don't need to do anything about it, because there's no `procarg0` for `numblock`):
[code]
so a single argument is now `|x|` (not `|x,|`)

The next thing is that this `_N` is a local variable:
[code]

And it can be used in assignment:
[code]

But in this case it's n

[2019-10-01 17:31] #615 closed

[2019-10-02 15:27] dougo opened #618 "Ruby 2.6.5"
I have installed MRI 2.6.5 (released yesterday, Oct 1), but with the latest released parser gem (version 2.6.4.1) I get this warning:

warning: parser/current is loading parser/ruby26, which recognizes
warning: 2.6.4-compliant syntax, but you are running 2.6.5.
warning: please see https://github.com/whitequark/parser#compatibility-with-ruby-mri.

[2019-10-02 21:36] iliabylich commented on #618
parser 2.6.5.0 has been released - https://rubygems.org/gems/parser/versions/2.6.5.0

[2019-10-02 21:36] #618 closed

[2019-10-10 00:24] iliabylich commented on #571
Also https://github.com/ruby/ruby/commit/25100c469758dd3676ec608ed27fd89248980666. @whitequark quick question: we ignore all void-value-expression errors, for parser that's a valid syntax, right?

[2019-10-10 00:26] whitequark commented on #571
Yes.

[2019-10-10 00:44] iliabylich commented on #616
I've just reported an issue from the last snippet above - https://bugs.ruby-lang.org/issues/16248. I can't understand the logic around this error, let's wait

[2019-10-10 09:50] iliabylich commented on #616
Also https://github.com/ruby/ruby/commit/c2065c64cb198d5b53a5ecdf9638d064f6fec2e2 (and now everything is clear)

[2019-10-17 16:46] iliabylich commented on #616
I think I have answers:
1. It can be just an `lvar`, there's enough information in the AST
2. There's no need to do anything, the whole `MaxNumparamStack` represents `block` values in the `Context`, so we have enough data to raise an error.
3. We can still use `numblock`, MRI uses it internally and I think people still call it "numbered parameters"

[2019-10-17 18:25] iliabylich opened #621 "ruby/ruby@0162e7e - circular argument reference error"
https://github.com/ruby/ruby/commit/0162e7e6471b639dfeeded29943e9e27c9519826

[2019-10-17 20:41] whitequark commented on #616
I'm utterly confused as to what's happening upstream here, to be honest. Do we have two kinds of implicit parameters now or something?

[2019-10-17 21:37] iliabylich commented on #616
No, there's only 1 kind (before and after this change). Previously it was `@N`, now it's `_N`. They renamed it and slightly changed semantics.

[2019-10-21 16:47] #616 closed

[2019-10-21 16:53] iliabylich commented on #621
@whitequark design question: this PR turns optional arguments with circular references (like `def m(a = a); end`) into syntax errors. Is it worth adding `version` field into `Builder`? I guess that'd be a breaking change, right?

[2019-10-21 16:56] iliabylich commented on #621
I think I could use `---- inner` section of the parser to define version-specific methods (ugly `check_and_register_numparam` from the previous PR could also be placed there)

[2019-10-21 18:37] leosurwiki opened #623 "UTF-8 support for replace"
If I have a parser like this
[code]
And transform code by:
[code]

it can successfully parse
[code]
to
[code]
However, if the source code contains Chinese characters, the offset for replace action will be messed up. It will transform
[code]
to
[code]
Did I use the wrong API or there is a bug inside of replace action?

[2019-10-21 18:37] #621 closed

[2019-10-21 18:53] iliabylich commented on #623
That's an encoding issue. Parser can't recognize encoding of your input:

[code]

One option is to set an encoding via magic comment `# encoding: utf-8`, another way is to configure your buffer manually:
[code]

[2019-10-21 18:59] #623 closed

[2019-10-21 19:25] iliabylich opened #624 "ruby/ruby@62d4382 - arguments forwarding"
https://github.com/ruby/ruby/commit/62d43828770211470bcacb9e943876f981b5a1b4

[2019-10-21 19:28] iliabylich commented on #624
not sure about the naming. We need one node for the argument and one for the method call. `s(:forwardarg)` and `s(:current_args)`?

[2019-10-21 19:45] leosurwiki commented on #623
Thanks a lot for quick response, this helps!

[2019-10-24 20:06] iliabylich commented on #624
also https://github.com/ruby/ruby/commit/6279e45cdefa3e61ca1c9c8085b15727cb2f4a60

[2019-10-29 01:16] iliabylich commented on #571
Also https://github.com/ruby/ruby/commit/b4229c0a90ef902328e09a92fc5c6e884d01c542

[2019-11-06 10:16] iliabylich opened #626 "ruby/ruby@2fd4655 - updates to numparams"
https://github.com/ruby/ruby/commit/2fd465540f6dacaf16a8b679b6da000e90845a00

[2019-11-06 10:17] iliabylich commented on #626
Also https://github.com/ruby/ruby/commit/82e840ad15bba42b399a21de746967a731240ec2

[2019-11-07 10:25] iliabylich commented on #571
Also https://github.com/ruby/ruby/commit/a396bef8d8b72328d411abe7a275736ad995fbcb

[2019-11-08 20:29] #624 closed

[2019-11-10 14:52] iliabylich commented on #571
also https://github.com/ruby/ruby/commit/6e70fa49b111e2a2839297b057a3df354cae265a

[2019-11-11 10:02] iliabylich opened #627 "ruby/ruby@ade0388"
https://github.com/ruby/ruby/commit/ade038889468e7755d7ebfe75975e0e77d1e1dec

[2019-11-12 00:47] iliabylich opened #629 "ruby/ruby@ed90ec3"
https://github.com/ruby/ruby/commit/ed90ec3e0d8ff7789569b40ba36d3b3ce0e706e6

[2019-11-12 10:10] iliabylich opened #630 "ruby/ruby@7c22898 - removing redundant rule"
https://github.com/ruby/ruby/commit/7c22898a3a5a10c8c71683918b53ec2d17fdc621

[2019-11-12 10:12] iliabylich opened #631 "ruby/ruby@a58b4ee - warn on `...` at EOL"
https://github.com/ruby/ruby/commit/a58b4eee25b79432d98a1c665edaf5ec0a054b2e

[2019-11-12 10:12] iliabylich opened #632 "ruby/ruby@fb6a489 - revert meth ref operator"
https://github.com/ruby/ruby/commit/fb6a489af2765a3b56e301adf0019af6bbad6156

[2019-11-12 17:17] #626 closed

[2019-11-12 17:31] #632 closed

[2019-11-12 17:56] #629 closed

[2019-11-12 17:56] #630 closed

[2019-11-12 19:10] #631 closed

[2019-11-12 20:42] #627 closed

[2019-11-14 10:07] iliabylich opened #638 "ruby/ruby@4d615a0"
https://github.com/ruby/ruby/commit/4d615a0c8f4759ce4f6b96b643ef957837bdf20e

[2019-11-19 10:02] iliabylich commented on #571
also https://github.com/ruby/ruby/commit/0b8c73aa65add5c57b46b0cfdf4e661508802172

[2019-11-20 15:43] #638 closed

[2019-11-20 16:12] iliabylich commented on #571
I have no idea why, but MRI throws syntax errors from `compile.c`:

[code]

Tested on `ruby 2.7.0dev (2019-11-19T15:56:04Z trunk 61131edba7) [x86_64-darwin19]`, also reproducible with `-c` flag

I'm not going to backport it. Technically it's not a part of the grammar.

[2019-11-25 10:03] iliabylich commented on #571
also https://github.com/ruby/ruby/commit/26625bc33c32e0945bf727234a3ce6da1eb0ddc4 (no functional changes)

[2019-11-26 15:19] iliabylich commented on #571
also https://github.com/ruby/ruby/commit/9e01fcd0cb79a05daa50d99c888cc7eeb9c79426

[2019-12-06 11:53] mvz opened #640 "Bug in parsing squiggly heredoc with line continuation"
Something odd happens when parsing a squiggly heredoc with line continuation:
[code]

This is with parser 2.6.5.0 on Ruby 2.6.5p114.

[2019-12-06 12:26] iliabylich commented on #640
Thanks for reporting, I'll take a look later today

[2019-12-11 01:06] #640 closed

[2019-12-11 11:20] mvz commented on #640
Thanks, @iliabylich

[2019-12-26 11:49] #571 closed

[2019-12-31 00:59] dmlary opened #644 "Feature request: option for disabling stderr output in Parser::Base#parse()"
I'm using Parser in an environment where stderr output isn't visible to the user, and just fills up the logs.  Is there any way you could add a `quiet: true` option to `Parser::Base#parse()` that doesn't create the diagnostics consumer?  Or perhaps some other option that lets the caller redirect those diagnostics to another IO object?

[2019-12-31 01:07] iliabylich commented on #644
You can specify a diagnostic consumer, this how we set it to store warnings in the variable in tests (instead of printing them to stderr) - https://github.com/whitequark/parser/blob/master/test/parse_helper.rb#L35

[2019-12-31 01:10] dmlary commented on #644
Admittedly, this feature request is more about syntactical sugar.  I'm coming from:
[code]

If I could throw a diagnostics consumer right in that call as a parameter, that would work, or an intentional nil.

[code]

[2019-12-31 01:15] iliabylich commented on #644
Yes!

[2019-12-31 01:21] dmlary commented on #644
Modified that approach to actually get the parser, but it does not work.  It looks like there's some additional arguments involved.  I'll keep mucking around, but the requested functionality still seems desirable to me (to prevent having to muck).

[code]

[2019-12-31 01:30] iliabylich commented on #644
Sorry, I always forget that there's also a source buffer:
[code]

[code]
(I guess `s(:int, 4)` comes from the error recovery, since the original error gets swallowed by a dummy consumer, so be careful with it)

[2019-12-31 01:37] dmlary commented on #644
Understood, and thanks.

If you don't feel there's a need for exposing this capability to that top-level `parse()` method, feel free to close this issue.

[2019-12-31 01:38] #644 closed

[2020-01-06 09:29] ushi-as opened #645 "Parser fails to parse lamda with curly braces, when a default argument is a hash literal."
Parser 2.7 fails with `unexpected token tLCURLY`, when parsing a lambda literal with a hash literal as default argument like `-> (arg={}) {}`

[code]
[code]
[code]

[2020-01-06 09:38] iliabylich commented on #645
Most probably caused by https://github.com/whitequark/parser/commit/5b1d53cff884585611761723e2dd1db347d2df79.

Thanks for reporting, I'll take a look later today

[2020-01-06 14:57] rafaelfranca commented on #645
This is causing rubocop 0.79 to fail in our application given it requires parser 2.7.0.1 that has this bug.

[2020-01-06 15:16] iliabylich commented on #645
I wonder what we can do to avoid errors like this in the future. We do run rubocop test suite on each PR, here's the current master - https://travis-ci.org/whitequark/parser/builds/631073716, so both parser and Rubocop don't have any tests for the snippet posted above.

I was thinking about parsing `rubyspec/language`, but it uses `eval` in many places to test new syntax, so it's not that good. Th

[2020-01-06 15:21] mbj commented on #645
@iliabylich I think you could generate "random AST" (with some constraints like only plugging literals and certain expressions into default arguments) unparse it and parse it again. Asserting the parsed generated source produces the same AST originally generated.

Making the constraint rules on which AST node class can appear at what child position is the hard part.

[2020-01-08 11:52] #645 closed

[2020-01-08 11:57] iliabylich commented on #645
`2.7.0.2` has been released - https://rubygems.org/gems/parser/versions/2.7.0.2, could you check it please?

[2020-01-15 05:22] jmromer opened #648 "Inconsistent / misleading warning messages"
Working on two different branches, one with Ruby 2.5.5 and another with 2.5.7, I'm seeing parser emit warnings indicating that `parser/ruby25`

- recognizes 2.5.5-compliant syntax but not `2.5.7`, and that it
- recognizes 2.5.7-compliant syntax but not `2.5.5`

[code]

[code]

It is this intentional?

[2020-01-15 10:28] iliabylich commented on #648
What's the version of parser? Could you do `gem list | grep parser` after switching to ruby `2.5.5` and `2.5.7`?

The version that is included in the warning is static - https://github.com/whitequark/parser/blob/master/lib/parser/current.rb#L60, so I think you two different versions installed in your gemsets.

[2020-01-15 13:57] jmromer commented on #648
Much obliged!

[code]

[2020-01-15 13:57] #648 closed

[2020-01-24 14:39] mckaz opened #649 "Using the lexer"
I'm interested in only tokenizing some Ruby programs, not producing an AST. Is there documentation or a straightforward way to access only the lexer output? I'm sure I could dig in more to the code, but I figured I'd ask first. Thanks!

[2020-01-24 14:42] iliabylich commented on #649
Ruby grammar is complicated and parser tells lexer what to do in a few places. So short answer: you can't lex without parsing. However (as a very dirty solution) you could patch `Lexer#advance` to also collect tokens in some external storage (but you'll have to call `Parser.parse` anyway to fill this storage)

[2020-01-24 14:55] mckaz commented on #649
Thanks, that makes sense. I'll look into `Lexer#advance`.

I noticed this `Lexer::Explanation#advance` method too, which seems to do something very similar: print tokens to stdout. Is there a way to trigger the use of this  `advance` method while lexing?

[2020-01-24 14:58] iliabylich commented on #649
`ruby-parse -E file.rb` triggers it. It's used by `parser`'s CLI executables internally so it's better to not use it anywhere outside `parser`'s source code

[2020-01-24 15:03] mckaz commented on #649
Got it, thanks!

[2020-01-24 15:03] #649 closed

[2020-01-24 15:04] iliabylich commented on #649
[code]

^ change `p` to something like `$tokens << token`

[2020-01-24 15:07] mckaz commented on #649
Perfect!

[2020-01-24 15:11] iliabylich commented on #649
I'm really sorry (don't know how I forgot about this method) but there's also `Parser#tokenize`:

[code]

And please ignore everything I posted above 😄

[2020-01-24 15:25] mckaz commented on #649
Even better.

[2020-02-12 16:16] iliabylich opened #650 "ruby/ruby@7a288df - `yield` inside class/module/sclass gives a SyntaxError"
https://github.com/ruby/ruby/commit/7a288df7b85d3565f369b305f225c2cd5baa5905

2.7.0:

[code]

trunk:

[code]

what's strange is that it's not in `parse.y`, and so if you pass `-c` option you get `Syntax OK` message:

[code]

@whitequark this is the first time I see a syntax error thrown from `compile.c`. Have you ever seen it? If it's not going to change should it be backported? Technically it's a

[2020-02-12 16:26] iliabylich commented on #650
https://github.com/ruby/ruby/commit/7a288df7b85d3565f369b305f225c2cd5baa5905#commitcomment-37256447, seems like this is not the only "runtime" `SyntaxError`:
[code]

Closing as it's not a part of the Ruby grammar.

[2020-02-12 16:26] #650 closed

[2020-02-12 16:57] whitequark commented on #650
This is a bit of a grey area. I would argue that any `SyntaxError` is *in principle* in the domain of Parser, especially cases like this that are clearly lexical, but I don't have a strong opinion on whether we should actually implement them (and follow `compile.c`) or not (and follow `ruby -c`). Either option works so long as it's consistent.

[2020-02-12 23:59] ljulliar opened #651 "2 questions on parser"
Hi there,

First of all congratulation for this great Ruby parser. I have two questions for you:

1) Is it possible to catch Ruby comments while parsing Ruby code

2) When an error is detected in parsing is it possible to display where the error occured in the originla source code ?

Thank you!

[2020-02-13 00:02] mbj commented on #651
See: https://www.rubydoc.info/github/whitequark/parser/Parser/Base#parse_with_comments-instance_method

See: https://www.rubydoc.info/github/whitequark/parser/Parser/Diagnostic

[2020-02-18 18:19] iliabylich commented on #651
@ljulliar Closing. Feel free to reopen if you still have any questions

[2020-02-18 18:19] #651 closed

[2020-02-20 07:00] ljulliar commented on #651
Hi guys,

I tried the parse_with_comment approach but I wasn't too sure how to use
the output. I was expecting the comments to appear as 'comment' type nodes
in the flow of the AST tree but it seems like they are grouped in an array
with line and column references from the original source code which makes
it almost impossible to reconcile with their position in the AST.

Am I missing something her

[2020-02-20 12:46] iliabylich commented on #651
@ljulliar It is possible to associate AST nodes with comments: https://www.rubydoc.info/gems/parser/2.7.0.2/Parser/Source/Comment/Associator

[2020-02-28 10:53] mensfeld opened #653 "RubyParser doesn't work for the code that works in Ruby 2.7.0"
I have a code like that:

[code]

that for `ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux]` works, but when trying to parse it with the parser this is what happens:

[code]

this affects for now at least RuboCop (didn't report that there as it's not their issue).

result of running it with `ruby --dump=parsetree`:

[code]

[2020-02-28 13:13] mbj commented on #653
@mensfeld Can you reduce your input? I suspect it boils down to this part, or less.

[code]

[2020-02-28 14:02] mensfeld commented on #653
@mbj if I reduce it, it does not represent the fact, that when executed with `ruby test.rb` it works.

[2020-02-28 14:27] mbj commented on #653
@mensfeld I does not need to run, it needs to parse. As ruby has no static analysis, all `parser` can do is to make sure it produces an AST, not that this AST can be executed without errors.

99 out of 100 ASTs `parser` (and rubies internal) parser can produce will not run without errors.

You can reduce it against `ruby --dump=parsetree` to avoid showing execution.

[2020-02-29 10:59] mensfeld commented on #653
@mbj updated.

[2020-03-01 18:07] iliabylich opened #655 "ruby/ruby@d25a4f4"
https://github.com/ruby/ruby/commit/d25a4f413dce6ad3a8baaf61591415b9a8cce082

[2020-03-02 12:45] #653 closed

[2020-03-02 12:46] iliabylich commented on #653
@mensfeld `2.7.0.4` has been released - https://rubygems.org/gems/parser/versions/2.7.0.4, could you check it please?

[2020-03-02 12:47] mensfeld commented on #653
@iliabylich sure. It will take rubygems couple minutes to propagate this, but once available in the API, I will run it with the newest rubocop and confirm.

[2020-03-02 12:52] iliabylich opened #656 "ruby/ruby@f5c904c"
https://github.com/ruby/ruby/commit/f5c904c2a907013e22ff74bc3686952c5448d493

[2020-03-02 13:47] mensfeld commented on #653
@iliabylich works. Thank you!

[2020-03-03 12:32] iliabylich commented on #656
Also https://github.com/ruby/ruby/commit/c8d0bf0156878df03a71fffc97c44abf7333d5d7

[2020-03-11 12:55] iliabylich opened #657 "ruby/ruby@276859e"
https://github.com/ruby/ruby/commit/276859e03e8e1adfdd445ce1e1aba2794ee0debe

[2020-03-27 11:01] junaruga commented on #317
I faced following error using ragel 7.0.0.12 for `puma/puma` project. Do you have any idea to fix this? The detail is https://github.com/puma/puma/issues/2207 . Thank you.

[code]

[2020-03-27 18:26] whitequark commented on #317
The workaround is to use Ragel version 7.0.0.9.

[2020-03-27 18:29] junaruga commented on #317
Sure. Thank you for your response.

[2020-04-01 12:45] #655 closed

[2020-04-01 12:54] iliabylich commented on #656
Both have been backported to 2.7 branch - https://github.com/ruby/ruby/commit/004c298738dc0924e7483b0c3f41c798dabe9e5b and https://github.com/ruby/ruby/commit/44f7e3883e49d287a96f7ef36b5c935d833300e5

[2020-04-03 12:13] MicMicMon opened #662 "RSpec warning"
When running RSpec with warnings enabled on my project (I don't use `parser` but I guess it's a peer dependency), I get a warning:
[code]

I guess it's complicated to fix since it may be autogenerated code (guessing from the line number). Still throwing that out there if there's an easy fix :)

[2020-04-03 12:39] iliabylich commented on #662
Previously discussed here - https://github.com/whitequark/parser/issues/360.

Yes, you are right, it comes from the generated code. Probably could be fixed by removing an assignment here - https://github.com/whitequark/parser/blob/master/Rakefile#L152 but I'm knot sure if it's worth it. It's just a warning in verbose mode.

[2020-04-03 12:39] #662 closed

[2020-04-03 14:03] jwilsjustin opened #663 "2.6.6 release"
Ruby 2.6.6 was released. https://www.ruby-lang.org/en/news/2020/03/31/ruby-2-6-6-released/

Does anyone know if there are any changes that will affect the parser gem? Any chances we could get a 2.6.6 release pushed to rubygems?

[2020-04-03 14:09] iliabylich commented on #663
No, 2.6.6 is a security release, so there are no changes to the grammar.
However, 2.4.10, 2.5.8 and 2.7.1 have been released, and 2.7.1 has this change - https://github.com/whitequark/parser/issues/656 that has to be backported first.

I'll do it later today and then I'll cut a release.

[2020-04-03 19:42] #663 closed

[2020-04-03 20:15] iliabylich commented on #663
@jwilsjustin parser `2.7.1.0` has been released - https://rubygems.org/gems/parser/versions/2.7.1.0

[2020-04-03 20:37] jwilsjustin commented on #663
Thanks for your quick work @iliabylich! I was hoping for a 2.6.6 version. Do you mind releasing that version to rubygems?

[2020-04-03 21:25] iliabylich commented on #663
parser 2.7.1.0 should parse 2.6.6 syntax. We have only 1 branch and so we don't make releases specifically for old versions of ruby.

In general the rule is that if you are on ruby X.Y.Z and:
+ Z is the latest patch version of ruby (i.e. there's no `X.Y.Z+1`) then you should simply use the latest available version of parser (2.7.1.0 in this particular case)
+ otherwise, you should use parser `X.Y.

[2020-04-06 13:28] jwilsjustin commented on #663
Thanks @iliabylich !

[2020-04-09 20:16] chino opened #667 "Behavior of `defined?`"
From reading this link: https://github.com/whitequark/parser/blob/master/doc/AST_FORMAT.md

I believe that `defined? x` should expand to something like `(defined? (lvar :x))` even if `x` was never previously set to a variable?  I mean, we're trying to determine if it's defined so there is possibility that it's never been right?  It seems to instead believe that it's a method name by sending me `(d

[2020-04-09 21:38] iliabylich commented on #667
If `x` is a local variable parser returns `lvar x`:
[code]

If there's no assignment in the current scope then it's 100% a method:
[code]

Ripper follows the same rule (and I'm sure `RubyVM::AST` too):
[code]

For variables we know it for sure during parse time. You can substitute `(defined? (lvar x))` with `"local-variable"` in all cases. There's no API to unset local variable in runtime.

For me

[2020-04-10 10:24] koic opened #668 "ruby/ruby@1b2d351"
https://github.com/ruby/ruby/commit/1b2d351b216661e03d497dfdce216e0d51474664

[2020-04-10 10:25] koic opened #669 "ruby/ruby@e8f5369"
https://github.com/ruby/ruby/commit/e8f53692ca7d65c92bde6d5bc6a1aea492915d9f

[2020-04-10 10:28] iliabylich commented on #667
Closing. Feel free to reopen if you still have questions,

[2020-04-10 10:28] #667 closed

[2020-04-10 19:06] marcandre opened #670 "No Parser::Source::Range#eql?"
I hesitated opening this as it's super minor, but is it intentional that there is no `Parser::Source::Range#eql?` (and `#hash`)?

This prevents using `Range`s as meaningful hash keys or `when` conditions.

I noticed this when wondering if [RuboCop should optimize this `O(n^2)` algorithm](https://github.com/rubocop-hq/rubocop/blob/9c3f904e77b3c3786eaface4fdb545764136beca/lib/rubocop/cop/cop.rb#L146

[2020-04-11 23:32] iliabylich commented on #668
also https://github.com/ruby/ruby/commit/022c7bbea98ef41556941a21ef6f0656bb49c75f

[2020-04-13 16:02] koic opened #673 "ruby/ruby@67bcac8"
https://github.com/ruby/ruby/commit/67bcac879a2e0ddfb4e7bbd7cb5e5401422de76a requires #668 and #669.

[2020-04-14 07:59] iliabylich commented on #670
Sorry, I missed this issue initially. Yes, it makes sense to me. Feel free to send a RP if you still need it.

[2020-04-14 21:54] iliabylich commented on #670
implemented in https://github.com/whitequark/parser/pull/675

[2020-04-14 21:54] #670 closed

[2020-04-15 08:21] koic commented on #668
also https://github.com/ruby/ruby/commit/478135f480b4580d068d236f491b2a32048bc193

[2020-04-22 18:08] iliabylich opened #679 "ruby/ruby@1997e10"
https://github.com/ruby/ruby/commit/1997e10f6caeae49660ceb9342a01a4fd2efc788

[2020-04-24 15:36] koic commented on #673
Reverted by https://github.com/ruby/ruby/commit/02ad393cd6bd87a7cc21ef71d5b21ad0f3fe2f34.

[2020-04-24 15:36] #673 closed

[2020-04-25 07:36] palkan commented on #679
Added to #676

[2020-04-29 23:25] koic commented on #669
This issue has been solved by #676

[2020-04-29 23:25] #669 closed

[2020-04-29 23:30] koic commented on #679
#676 has been merged. Thanks @palkan!

[2020-04-29 23:30] #679 closed

[2020-04-30 14:15] #668 closed

[2020-05-04 19:04] mperham opened #684 "parser emitting warnings"
Can I request turning on warnings?  My test suite emits these warnings from parser:

/Users/mikeperham/.gem/ruby/2.7.1/gems/parser-2.7.1.2/lib/parser/source/tree_rewriter.rb:235: warning: mismatched indentations at 'end' with 'def' at 224
/Users/mikeperham/.gem/ruby/2.7.1/gems/parser-2.7.1.2/lib/parser/lexer.rb:10991: warning: assigned but unused variable - testEof

https://github.com/whitequark/p

[2020-05-04 22:58] iliabylich commented on #684
The first warning definitely can be fixed. The second one comes from the generated code that we don't own.

I guess we could easily fix it by adding something like
[code]
At the bottom of `Lexer#advance`. It will have no runtime cost because Ruby starting from 2.5 has some basic DCE (at least for `if false/unless true`):
[code]

^ so there's an extra `putnil` that will go away because it will not

[2020-05-05 10:52] #684 closed

[2020-05-14 11:39] iliabylich opened #687 "ruby/ruby@d7d0d01"
https://github.com/ruby/ruby/commit/d7d0d01401a8082e514eb2cb3cec5410e7acba7d

[2020-05-15 12:59] iliabylich opened #689 "ruby/ruby@71c166e"
https://github.com/ruby/ruby/commit/71c166e11e761dcaaa943f9b94da38f86ada1bdb

[2020-05-16 21:25] woto opened #690 "Regexps like `/\p{Cyrillic}/` cause an error"
Hi, I'm discovered an interesting project https://github.com/eliotsykes/real-world-rails and there is a tool that is using this gem. And I'm faced with some strange errors while parsing.

I've tried to investigate and localize the problem but didn't go too far:

example.rb
[code]

Outputs:

[code]

But!

As soon as I replacing {Cyrillic} to {Digit} they are both works:

[code]
Parser::VERSION is 2

[2020-05-17 03:01] ioquatix opened #691 "Consider making location explicit."
I've been using this gem quite a bit recently.

I'm also looking at parsing C/C++ using clang into the same format, with the goal of providing a unified index for symbol lookup (as much as is possible).

In practice, it seems to me that an AST is always tied to some kind of source "location".

Have you considered whether it would make sense to expose a generic `Source` abstraction in the AST gem,

[2020-05-17 03:06] ioquatix commented on #691
In particular `node.location.expression.source` seems like something that could easily be useful across multiple languages, at least at the interface level.

[2020-05-17 04:04] ioquatix commented on #691
Sorry, one other point that might make sense, is if this gem is the canonical source for parsing in Ruby, what about making `parser-ruby` and `parser-clang` etc, and using this base gem to share data structures?

[2020-05-18 00:12] ioquatix opened #692 "Add `to_range` to `Parser::Source::Range`"
It would be nice to expose an easy way to get a `Range` instance, e.g.

[code]

[2020-05-18 13:03] iliabylich commented on #690
I can parse both regexps on 2.7.1. The error seems to come from Ruby, not from parser:
[code]

What's your version of Ruby? Does it support `\p{Cyrillic}` at all?

[2020-05-18 15:12] iliabylich commented on #691
Sorry for a late response.

For me AST node represents the intent of some piece of code. If you want to do some static analysis you can also attach locations to nodes, but it's not necessary. Well, they are required to build backtraces, and so to build let's say an AST interpreter (like old MRI) you need them.

AST gem handles something like s-expressions that are not aware of any programming lang

[2020-05-18 15:29] ioquatix commented on #691
I'm not sure this is a good idea but my original thoughts were that the vast majority of AST nodes will be attached to a source location and some kind of source representation. Not always, but most of the time.

Consumers of AST nodes are often interested in manipulating the AST nodes and pulling out the original source. Or at least that's my experience.

To avoid reinventing the wheel over and ov

[2020-05-18 15:36] iliabylich commented on #691
AST in vacuum doesn't know anything about source code. It can be just an AST. I understand your idea, but

1. it sounds too generic to cover all cases (like the one with the `def` node above)
2. and it requires breaking changes

I agree that it works for literals and other simple cases, but if you could give more details on how it might look for complex scenarios (like `def` node, again) I'd be ha

[2020-05-18 15:42] iliabylich commented on #691
Also, it's quite easy to customize the way how AST is constructed - https://github.com/whitequark/parser/blob/master/lib/parser/builders/default.rb#L1574. You can pass your own builder to the parser, and the build can use your own subclass of the AST node.

I'd suggest either extending a `Builder` class or making a visitor-like converter to any desired format.

[2020-05-18 15:44] ioquatix commented on #691
The generic AST location would only know the full extent of the source that generated the AST, and a subclass would still be required e.g. `Parser::Source::Map::Send` etc for extracting specific bits.

[2020-05-18 21:58] woto commented on #690
Oh! Found the root of evil

[code]
as a proof of work I replaced here mode from `rb` to `r` https://github.com/whitequark/parser/blob/master/lib/parser/source/buffer.rb#L133 and it's started working

[2020-05-22 14:27] iliabylich commented on #690
Right, good catch.

By using `Buffer.new(filename).read` you don't control encoding of your input. Here's what is called under the hood:
[code]

... and so parser creates a regexp and gives an ascii-encoded string as an argument which throws a `RegexpError`.

There are 2 ways to solve it:
1. add a magic comment at the beginning of your input file (`# encoding: utf-8`). this way parser can use it t

[2020-05-22 14:27] #690 closed

[2020-05-22 15:00] #657 closed

[2020-05-22 16:18] #687 closed

[2020-05-22 16:25] iliabylich commented on #689
There's nothing to change in parser:
[code]

And the [ticket](https://bugs.ruby-lang.org/issues/16854) has `2.7: REQUIRED`, so the next version of 2.7.x will have a fix.

[2020-05-22 16:25] #689 closed

[2020-05-22 16:36] #692 closed

[2020-05-22 16:48] iliabylich commented on #691
After a few days I still believe that it's incorrect to add locations to generic AST nodes. AST is supposed to be abstract. You can draw it on a piece of paper or on encode as a chain of nested arrays. It's just a tree data structure and I'm not sure if it's valid to add programming language -specific features to nodes.

@whitequark Do you have any thoughts?

Also /cc @marcandre @mbj @bbatsov @koi

[2020-05-22 16:55] whitequark commented on #691
@iliabylich I agree with your assessment. If it turns out that we indeed "reinvent the wheel over and over again" then we can, being informed by that experience, change our mind and add the requested abstraction to the `ast` gem. But it seems preliminary to me at this point

[2020-05-22 17:28] marcandre commented on #691
There's definitely a case to say that `Source::Range`, `Source::Map`, `Source::TreeRewriter` among others can be thought of completely independently from the Ruby language. Just the `TreeRewriter` is a non-trivial chunk of code and could be useful for any `RuboCop`-like for other languages, for example.

Many arguments expressed here focus on the original proposal (moving those to the AST gem), bu

[2020-05-22 17:47] marcandre commented on #691
As a further example, the `AST` gem as it stands right now would be perfect if one wanted to refactor `RuboCop`'s `NodePattern` using an AST instead of recursive descent, for example, and there would be no need for the `source` gem. But I'd love a full fledge ERB parser that would output an AST with all the Source information.

It's not clear if the right abstraction is a `source` gem, or a `gener

[2020-05-23 00:31] ioquatix commented on #691
Agreed on all points. My end goal is to have the same tooling for parsing C++ using `ffi-clang` into the same AST as `parser` but I need some shared abstractions.

[2020-05-23 00:37] ioquatix commented on #692
@iliabylich thanks!

[2020-06-01 11:21] iliabylich opened #700 "ruby/ruby@cadd224"
https://github.com/ruby/ruby/commit/cadd2245f7f10850e0b11e5b678b2049399a2d3e

[2020-06-02 00:45] iliabylich opened #701 "ruby/ruby@27bef64"
https://github.com/ruby/ruby/commit/27bef648629760ffeda569057ddef6fb3be64b9a

[2020-06-07 02:07] iliabylich opened #702 "ruby/ruby@f8b4340"
https://github.com/ruby/ruby/commit/f8b4340fa2c254cd093ebc3bc70d2d0c46ea9997

[2020-06-07 14:38] iliabylich opened #704 "ruby/ruby@c0ba35f"
https://github.com/ruby/ruby/commit/c0ba35f3344652bca7768cf37f367ff40f5e973e

[2020-06-11 12:48] iliabylich commented on #702
This one is problematic. Currently we parse `def m(...); end` as

[code]

However, this commit allows using arguments before `...`:

[code]

So it doesn't represent all arguments anymore. Now it's a regular argument, and in MRI it's a composition of three flags: `idFWD_REST`, `idFWD_KWREST` and `idFWD_BLOCK` (like `def m(*, **, &)`).

I feel like we need a breaking change.

@whitequark Do you see

[2020-06-11 13:00] iliabylich commented on #702
Just got an idea. What if we emit `def m(...) end` as `forward-args`, but `def m(a, b, ...)` as `(args (arg a) (arg b) (forward-arg))`.

And compatibility flag could enforce usage of the new format, so when it's enabled we always emit `...` as `(forward-arg)` inside `(args)`.

If it's disabled users have to support both formats, but I think it's fine.

[2020-06-11 13:59] whitequark commented on #702
SGTM

[2020-06-14 13:15] iliabylich opened #711 "ruby/ruby@ddded11"
https://github.com/ruby/ruby/commit/ddded1157a90d21cb54b9f07de35ab9b4cc472e1

[2020-06-14 13:16] iliabylich commented on #711
Also https://github.com/ruby/ruby/commit/f7906a7e31e6b1cfa135ecea69deb8827e8c8803

[2020-06-15 18:11] #702 closed

[2020-06-15 19:54] #704 closed

[2020-06-17 14:45] #711 closed

[2020-07-05 15:37] andrykonchin opened #719 ""Auto-expanding proc argument" section in the documentation"
There is an "Auto-expanding proc argument (1.9)" section in the `doc/AST_FORMAT.md` file:

[code]

The statement `when a proc-like closure ... has exactly one argument, and it is called with more than one argument, the behavior is as if the array of all arguments was instead passed as the sole argument` seems not clear enough.

If I understand it correctly and it could be illustrated by the follow

[2020-07-05 16:41] iliabylich commented on #719
The purpose is to emit `|foo|` and `|foo,|` differently:

[code]

And the difference is exactly in expanding a single array argument:

[code]

[2020-07-05 17:26] andrykonchin commented on #719
Ah, I see. Thank you.

But nevertheless I find the description (quoted above)... confusing.

[2020-07-05 17:26] #719 closed

[2020-07-22 15:54] iliabylich opened #723 "ruby/ruby@d47e124"
https://github.com/ruby/ruby/commit/d47e124857ecdccfeb0766c04cf1ef2cdfdd08bc

[2020-07-27 15:50] #723 closed

[2020-07-30 14:44] marcandre opened #728 "Summarize `inspect`"
The current `inspect` methods for most classes are not very usable:

[code]

`Parser::Source::Range` has nice `inspect` and `to_s`, but `Parser::Source::Buffer` and `Parser::Source::TreeRewriter` (at a minimum) would benefit from a summarized version...

I hope to propose a PR one day...

[2020-08-31 20:40] iliabylich opened #730 "ruby/ruby@53ba9fb"
https://github.com/ruby/ruby/commit/53ba9fb74ec57c18c3589e2e51f84a36467e3d9e

[2020-09-02 15:29] #730 closed

[2020-09-03 19:11] marcandre opened #738 "AST for rightward-assignment"
I must apologize to be late to the party (again 😅), but I have to ask... is the AST for rightward assignment the best we can output? #682

I feel the same arguments as for the endless method definition's AST in #676 stand... Rightward assignment is pure syntax sugar and there is never any difference in execution between `foo => var` and `var = foo` (that I know of) so ideally the AST would reflect

[2020-09-03 19:34] iliabylich commented on #738
Right, but what about linters? IIRC rubocop is based on a source rewriter, not on unparser, and so potentially it can easily reformat `rasgn` (if it's emitted as `lvasgn`) into invalid ruby code.

What's gonna happen if you have code like
[code]
and you run `rubocop` in rewrite mode? `e` is aligned incorrectly (at least for `lvasgn`, I guess it should have `<start of the block> + 2` spaces, right?

[2020-09-03 19:58] marcandre commented on #738
Right, for sure new syntax will probably require some kind of update to `RuboCop`, one way or another.

A quick search for `lvasgn` in the source has only 28 matches, and 100% of them are in the `VariableForce`, which is not a Cop but helps Cops that need it by determining the scope of local variables. So `VariableForce` would benefit from having a single `lvasgn` for either type of assignment. I'

[2020-09-04 04:25] palkan commented on #738
+1

Do we want to be not only backward-compatible but forward-compatible as well 🙂?

On the other hand, tools that care about the original source format would have to switch from AST-defined difference to some _internal knowledge_ (and deal with `if` and `else`).

Since the feature is pretty simple, adding support for it would also be simple for any library. For example, that's what we need to mak

[2020-09-04 04:50] marcandre commented on #738
I feel we've had this whole discussion before, I'm not sure we want to have it again 😅

One of the conclusion was that the principle that a any new language feature implies a new AST type was not necessarily the right way to go.

The other conclusion was that "how" something is written is in the location (think `if  / else / end` vs ` ? : `), "what" is written is in the locations.

For the one-lin

[2020-09-04 11:42] palkan commented on #738
One argument I have is having a _natural_ order of nodes in AST (i.e., similar to the source code):

[code]

[2020-09-04 12:53] iliabylich commented on #738
Ok, I agree, let's remove `rasgn`. Even MRI internally treats `rasgn` as a regular `lvasgn`:
[code]

[2020-09-04 16:55] marcandre commented on #738
Great. I'll make a PR

[2020-09-07 18:32] iliabylich commented on #738
Fixed in https://github.com/whitequark/parser/pull/739

[2020-09-07 18:32] #738 closed

[2020-09-07 21:02] mbj commented on #738
Thanks! `rasgn` to me was leaking syntax not semantics into the AST which is supposed (outside of source maps!) to only care about semantics.

[2020-09-08 07:34] ghbren opened #740 "Support special characters?"
When I try to parse special strings like "ab-cd-ef\x81", I get "literal contains escape sequences incompatible with UTF-8"

Would you be able to support that?

[2020-09-08 14:10] iliabylich commented on #740
This string is invalid in UTF-8:
[code]

So it's not even a string, it's more like a byte array. It's valid in `ascii-8bit` and you can enforce it by using a magic comment:
[code]

[code]

IIRC you can also manually pass encoded source directly to `Parser` and force it use original encoding of the source input (`ascii-8bit` in your case)

The reason why such string literals are rejected is that MR

[2020-09-08 14:10] #740 closed

[2020-09-24 03:08] celsoMartins commented on #282
Hi.

I'll use this thread because it is the only place on the WEB where I was able to find some information.

When you're caching your gems in vendor/bundle to optimize the "build" time in tools such as circle ci, travis, and google actions, for some reason, the files in the gem folder are in a .gitignore (that I could not find). So, I used the Rubymine to add these files to the git tree and pushe

[2020-09-24 09:06] iliabylich commented on #282
Right, packaged version of parser includes `.gitignore`:
[code]

[which includes all parsers and lexer](https://github.com/whitequark/parser/blob/master/.gitignore).

I guess we could fix it by excluding `.gitignore` from the filelist here - https://github.com/whitequark/parser/blob/master/parser.gemspec#L23.

I'll fix it, for now you can manually drop this `.gitignore` file locally (however it se

[2020-09-24 12:11] celsoMartins commented on #282
Yes, I was.

My problem was solved.

Thanks for your work on the definitive solution.

[2020-09-24 15:03] mbj opened #742 "NoMethodError in parsing numparams with ruby 2.6 parser."
Tested with `parser-2.7.1.4` the following crashes the parser with a `NoMethodError`. I'd expect a `Parser::SyntaxError` instead.

[code]

Exception backtrace:

[code]

Note that this 2.7 syntax example is actually in the test corpus of parser itself. But as an 2.7 example. I wounder if tests for Ruby version N should be run by testsfor >N as "expect syntax error" examples.

So this issue proposes

[2020-09-24 16:00] iliabylich commented on #742
Interesting. I can't reproduce it on the latest master, looks like I (accidentally) fixed it here https://github.com/whitequark/parser/pull/725/files#diff-0a90f5f53d48f851460a59d188b639c1R21.

I'll cut a release in a few hours, thanks for report.

I agree, tests for `assert_parses(..., SINCE_X_Y)` can run the same code for `assert_raises(ALL_VERSIONS - SINCE_X_Y)`. The thing is that *technically*

[2020-09-24 16:09] mbj commented on #742
Yeah. These are actually breaking changes Ruby tries to avoid "deperately" via being biased to syntax additions. Where we actually get (silent) semantic changes in new ruby verisons. And most projects do not have the semantic coverage to verify these.

I suspect this kind of "inverse testing" I'm proposing may need some explicit whitelist per case. But I suspect that we can still catch "backwards

[2020-09-24 16:30] iliabylich commented on #742
2.7.1.5 has been released https://rubygems.org/gems/parser/versions/2.7.1.5 /cc @marcandre

Agree. I'll play with it later today

[2020-09-24 16:35] mbj commented on #742
Thanks for taking that one from me. Still working on major unparser improvements / 2.7 support. Cheers.

[2020-09-24 16:36] mbj commented on #742
@iliabylich I think you can close this bug (and retroactively add it to the changelog).

[2020-09-24 16:46] iliabylich commented on #742
nope, unfortunately changelog is still auto-generated from `git log`

[2020-09-24 16:46] #742 closed

[2020-09-24 23:26] mbj opened #744 "Quasi nested heredoc accepted by parser and rejected by ruby."
On `parser-2.7.1.5` the following is accepted:

[code]

This is accepted with AST:

[code]

And IMO rightfully rejected by ruby-2.7.1:

[code]

I think `parser` should subset what ruby accepts, but never accept a superset.

[2020-10-06 04:35] mbj commented on #464
1.8 is not supported anymore, I suggest we close this issue for that reason.

[2020-10-06 04:39] whitequark commented on #464
Huh? When did that happen?

[2020-10-06 05:52] mbj commented on #464
@whitequark I saw https://github.com/whitequark/parser/pull/747 which is the reason I made that statement.

Now I realize that there is a difference between: Versions parser supports and runtime parser gets executed on. I suspect that there is only evidence for the runtime support, not the syntax support.

Please disregard my comment.

[2020-10-08 16:12] kddeisz opened #749 "Ship grammar files"
Hi! 👋

First of all, I'm sorry about this issue. I am very much reminded of

![XKCD](https://imgs.xkcd.com/comics/workflow.png)

A recent PR (https://github.com/whitequark/parser/pull/745) changed the files that get shipped with this gem. Believe it or not, I was actually relying on the `.y` files shipped with this gem for my own project (https://github.com/kddeisz/vernacular-ast). You can see the

[2020-10-08 16:33] mbj commented on #749
@kddeisz I think that, given the `parser` gem is widely used, it should by default NOT ship the grammar files.

Instead we should make a 2nd gem `parser-extra` or similar that ships all the "support stuff" that only some users need?

I'm not authoritative here, if the maintainer (@iliabylich) thinks its too much work to have a split gem. I'd support to bring the `.y` back, they are not "that much"

[2020-10-08 16:33] iliabylich commented on #749
Oof, looks like you rewrite grammar rules on the fly. Are you able to use git repo? You'll need to have ragel too, `lexer.rb` is under `.gitignore`.

I'm not super opinionated on adding these files back, but it just feels awkward to rely on private API. It sounds similar to re-using gem's test suite "because you can".

[2020-10-08 16:41] kddeisz commented on #749
Yeah it's not widely used and I'm mostly maintaining it for posterity/interest. Honestly I think I'm cool just retiring it. I was thinking if you maybe wanted to ship them then that would be fine but if it's going to cause extra effort I'd rather just archive the project.

Thanks for your work!

[2020-10-08 16:41] #749 closed

[2020-10-09 18:47] palkan commented on #738
@mbj Well, maybe, it was leaking syntax, but now Unparser fails to correctly handle it: `13.divmod(5) => a,b => c,d` => `(c, d) = (a, b) = 13.divmod(5)` (should be `c, d = (a, b = 13.divmod(5))` 🤷🏻‍♂️

[2020-10-09 19:06] mbj commented on #738
@palkan interesting, right assignment is > 2.7, correct? I've lost track.

Unparser currently only aims at 2.7, but I'm making a list for > 2.7 already.

[2020-10-10 10:36] palkan commented on #738
@mbj Yep. I posted it here as an example demonstrating that the existing tools still should care about this syntax, even though the AST is the same as for the left assignment.

[2020-10-10 14:02] mbj commented on #738
Yeah, it likely requires some sensing, just like in case of `(or a b)` nodes.

It could be that some AST structures "only" can be produced from a righthand assignment, which than needs unparser to also emit it for round tripping.

[2020-10-10 15:36] marcandre commented on #738
That's the case here. `foo => a, b => c, d` can't be produced with standard assignment, as you need to put parens in `c, d = (a, b = foo)` and you get an extra `begin` node compared to rightward assignment.

[2020-10-10 16:16] mbj commented on #738
Yeah, I think unparser, once I get to 3.x support can easily detect these from the AST structure.

[2020-10-14 10:06] iliabylich opened #751 "ruby/ruby@4ed0c33"
https://github.com/ruby/ruby/commit/4ed0c33d13ff0d2544aaf36e8e4f071b900d10cd

[2020-10-20 07:27] fidalgo opened #752 "Warning of regular expression without escape"
[code]

Found this after updating rubocop and parser to this version `2.7.2.0`

[2020-10-20 10:47] marcandre commented on #752
That regexp looks pretty odd. Is it possible that this Regexp is somewhere in your code being inspected by `RuboCop`?

If you find a way run this code, the warning would raise an error and we'd get a full stack trace:
[code]

[2020-10-20 11:06] iliabylich commented on #752
No, it comes from a regex that is a part of the source code. We build it to
1. make sure that it's valid (and emit syntax error if not)
2. extract named captures and (if it's used in matching) define local variables.

I don't know if it's correct to re-emit MRI warning. It's definitely doable, but we need to make sure that we only emit warnings/errors that come from parsing (i.e. from `ruby -c fil

[2020-10-20 11:44] marcandre commented on #752
Not too sure I understand "re-" in "re-emit" and "It's definitely doable", but it makes sense that this warning is emitted (assuming that strange regexp is present in the ruby code being inspected)

[2020-10-20 12:06] iliabylich commented on #752
I mean, we can catch this warning and turn it into a diagnostic message. The question is should we do it? Currently there are two types of warnings that parser emits: diagnostic messages and warnings that come from MRI (because we use it to validate literals)

[2020-10-20 12:15] marcandre commented on #752
Oh, right. I imagine it would make sense to turn it into a diagnostic message 👍

[2020-10-22 13:03] marcandre commented on #752
FWIW, the strange Regexp is produced by a [bad auto-correction in RuboCop](https://github.com/rubocop-hq/rubocop/pull/8913) 😅

[2020-10-26 09:06] iliabylich opened #753 "ruby/ruby@52c630d"
https://github.com/ruby/ruby/commit/52c630da004d9273e8e5fc91c6304e9eed902566

[2020-10-27 09:08] iliabylich opened #754 "ruby/ruby@bdd1d17"
https://github.com/ruby/ruby/commit/bdd1d17ac2c14ed937944860e1ec6b361a2fda6d

[2020-10-30 13:21] #751 closed

[2020-10-30 15:31] #753 closed

[2020-11-05 19:26] marcandre opened #761 "AST for keyword arguments"
It just dawned on me that the AST for `foo(a: 42)` should probably be different than for `foo({a: 42})` in 3.0+, since they mean different things. Even in 2.7 they aren't completely the same (the first one issues a warning).

I imagine that replacing the type `:hash` with `:keyargs` or similar might work?

[code]

We'll need a legacy switch for this; RuboCop for example will probably not care much

[2020-11-05 19:31] palkan commented on #761
We should probably ping @mbj :) But yeah, Unparser relies on node types, so, it must be aware of it.

[2020-11-05 22:01] mbj commented on #761
Yes, unparser has the main constraint to *never* look at source maps "ever". Also unparser does have a logic to emit kwargs over hash literals. And this logic would break in 3.0.

Hence I support this change.

@marcandre Are you using unparser? If so: For what?

[2020-11-05 22:19] marcandre commented on #761
I've not had that chance yet. I do like the idea of the gem though, call me a virtual fan 😆.

[2020-11-05 22:28] mbj commented on #761
Hah, thx. So lets exploit the fan status:

I asked as unparser needs more testing, I get weird cases reported, like https://github.com/mbj/unparser/issues/189, and wish to find them all. If you wanted please install unparser and run `bundle exec unparser .` it should find and round trip (semantically under AST equivalency) all ruby files. Than reduce and report all reported errors.

[2020-11-17 00:38] iliabylich opened #762 "ruby/ruby@f5bb911"
https://github.com/ruby/ruby/commit/f5bb9115a7f69c32089b9b970933c3507fb9f82b

[2020-11-17 13:21] palkan opened #763 "Single-line pattern matching fails to parse"
Here is the reproduction:

[code]

The previous version (with `in`) gives us:

[code]

As far as I understand, the problem is that `tASSOC` transitions to `expr_arg` while `kIN` leads us to `expr_value` (so the right-hand side is treated as `expr_arg`, not as a new expression).

I tried to tweak the lexer but failed to fix the problem in an appropriate time 😞

[2020-11-17 13:29] iliabylich commented on #763
Good catch. `tNL` is not emitted, and so `expr` of `1 in a` is not reduced into `stmt` and `top_stmt`. Adding `;` after `1 in a` helps, but of course it should be fixed.

I wonder if there are other issues cause by this missing `tNL`. In Ruby `tNL` and `tSEMI` is a separator of statements, and so if we don't emit it things can easily break

[2020-11-23 17:36] iliabylich commented on #763
ok, finally got some time to debug this issue.

The error comes from the fact that lexer "buffers" tokens. It can read multiple tokens during a single `advance` call, store all of them into a queue and emit one by one later, on the next `#advance` call.

In general it's a great feature, but in Ruby parser modifies lexer's state, and so between `lexer.advance` calls there can be an external (and un

[2020-11-23 17:38] iliabylich commented on #763
adding `raise 'err' if @token_queue.any?` to `Lexer#emit` breaks 185 tests, so I'll fix this and start looking at other cases

[2020-11-23 18:18] #763 closed

[2020-11-23 18:56] #754 closed

[2020-11-23 21:05] iliabylich opened #766 "do not emit empty method arguments"
Currently the rule "all nodes have at least `expression_l`" works for all nodes except `args`:

[code]

We should emit `nil` in this case. Also, we should add some checks to the test suite to make sure that no other nodes act as dummy placeholders.

[2020-11-23 21:16] iliabylich opened #767 "Always emit body of a method as `begin` (but nil for empty body)"
Currently we emit empty method as

[code]

Method with a single statement as

[code]

Method with multiple statements as

[code]

Ideally we should stick to the first and the last formats. If the body is empty we can't emit empty `begin` because there are no source maps to put in.

@marcandre It should also affect `class/module/sclass/if/case` and others, right? And in general all nodes that may c

[2020-11-23 21:46] iliabylich commented on #761
Oof, we need to find a good name.

`kwargs` doesn't really fit semantics of this new node (it conflicts with method arguments)

Is everyone ok with the name `keyargs`?

How about `kwparams`? That's exactly what this hash is about: it's a parameter (that is passed to a method call), not an argument (that is taken by a method)

[2020-11-23 21:49] iliabylich commented on #761
Agree, it affects stable `parser/ruby27`.

Also, this is possible, right?

[code]

Should we wrap both pairs into a new node?

[2020-11-23 22:46] marcandre commented on #761
It could be good too, because of the context it would be obvious I think. I think it might my preference actually, but `keyargs`, `kwparams` are also fine.

Not sure I get the question. For me this was simply swapping `:hash` for `:kwargs` (or other), inside format would stay the same. I'd definitely keep the children intact. So your example would be:

[code]

[2020-11-23 22:54] iliabylich commented on #761
🤦 right, it's too late here. I mixed parameters and arguments in my head.

Ok, let's call it `kwargs`, I'll send a PR tomorrow.

[2020-11-23 23:16] marcandre commented on #767
You mean first and last formats I hope 😅

I think we could have a `begin` without source map, but `nil` is ok too.

Yes, in theory it should be all nodes with "bodies". I have second thoughts though. It doesn't work well at all for `if` in particular. Having `cnd ? 0 : 1` generate `(if (lvar :cnd) (int 0) (int 1)` is way nicer than `(if (lvar :cnd) (begin (int 0)) (begin (int 1))`.

We probably wo

[2020-11-23 23:16] #762 closed

[2020-11-23 23:26] iliabylich commented on #767
Correct 🤦

Uh oh, you are right. So only `def/defs/class/module/sclass` - these guys seem to be obvious. But then should the rule be something like "we need to wrap if *usually* there are multiple statements"? Are we able to define what's usual and what's not?

Eh, that's a great counter-example, now I'm not that positive about it as it feels way to fragile. Someone can have different expectations

[2020-11-23 23:39] marcandre commented on #766
What do you propose for `def m(); end`?

[2020-11-23 23:41] marcandre commented on #767
Yep, probably best to let it rest.

[2020-11-23 23:41] iliabylich commented on #766
`s(:args)` with
+ `begin = pos of (`
+ `end = pos = )`
+ `expr = ( to )`
+ `children = []`

That's what we have right now

[2020-11-23 23:42] marcandre commented on #766
I am strongly against producing a different AST (irrespective of locations) for the "same" ruby code.

[2020-11-23 23:47] #767 closed

[2020-11-23 23:50] iliabylich commented on #766
Another example that is somewhat similar (and hopefully can convince you 😄 ) is a class definition without specifying explicit superclass (i.e. implicit `< Object` for `class Foo; end`). We also turn it into `nil`, but it's kinda obvious that all classes are implicitly inherited from `Object`.

I'm not super opinionated about it, you definitely know better how to *use* parser and thus which format

[2020-11-24 00:02] marcandre commented on #766
You are right that they are usually the same, but not always:

[code]

In theory, even with `< ::Object`, you could still redefine the global constant `Object` (talk about shooting yourself in the foot though 😆).

So they are not 100% semantically equivalent.

There are other examples like this, e.g. `lambda { ... }` vs `-> { }`. They typically mean the same thing, but aren't 100% the same so we (

[2020-11-24 00:02] mbj commented on #766
I agree on that grounds. Different AST should ideally imply different execution semantics.

[2020-11-24 00:13] marcandre commented on #766
If I'm not mistaken, by the same argument `%()` should have the same AST as `''`, which is another case requested by @mbj. I agree that the resulting AST should be `(str '')` (and not `(dstr)`).

[2020-11-24 00:17] mbj commented on #766
Another way to say it: Lets avoid turning the AST into the source map. Which means that we possibly want to improve source maps to get a rid of dstr on multi line strings?

[2020-11-24 00:19] iliabylich commented on #766
ok ok, I agree. I guess I just overestimated the rule of having source maps on all nodes over usability. Closing, thanks for convincing me.

[2020-11-24 00:19] #766 closed

[2020-11-24 11:29] iliabylich commented on #752
I was able to get warnings with the following code:

[code]

However, it
1. depends on the Ruby warning message format (that can change anytime and I'm not even sure if it's consistent across older Rubies and alternative Ruby implementations)
2. breaks on reformatting (i.e. on replacing `;` with newline)

I'm going to close it and keep MRI warning. If someone has thoughts on implementing it withou

[2020-11-24 11:29] #752 closed

[2020-11-24 12:01] iliabylich commented on #761
also arguments of the following nodes are affects:

1. `yield` (`yield(a: 1)` vs `yield({ a: 1 })`)
2. `index` (`self[a: 1]` vs `self[{ a: 1 }]`)
3. and (obvious exception to all setters) `indexasgn` (`self.[]= 42, a: 1` vs `self.[]= 42, { a: 1 }`)

arrays are not affected:
[code]

binary operators don't accept a hash without braces as an argument (that's a syntax error)

Are there any other const

[2020-11-24 15:46] jeremyevans commented on #761
@iliabylich Correct that `yield` and `[]` can take keyword arguments, and arrays treat bare keywords as hash.

The indexasgn operator (`foo[x] = bar`) doesn't take bare keywords (that's a syntax error).  You have to call the operator as method, as in the example you gave.  The same is going to be true of the binary operators, you can only pass keywords when calling them as methods.

It is possible

[2020-11-24 15:54] iliabylich commented on #761
@jeremyevans Thanks.

Are you talking about calling them using `.send`? If so it's irrelevant to this issue.

[2020-11-24 16:08] jeremyevans commented on #761
You can call binary operators as methods just as you can call the indexasgn operator as a method, without `send`:

[code]

[2020-11-24 16:12] iliabylich commented on #761
Right, but `parser` emits all binary operators as method calls (using a `send` node), so they will be handled together in the same branch. Thanks again

[2020-11-29 16:07] #761 closed

[2020-12-02 00:28] mbj opened #771 "Reduce dstr complexity on equivalent semantics but different AST:"

[2020-12-02 00:38] mbj opened #772 "Reduce dstr complexity on equivalent semantics but different AST."
As discussed in other issues here, I'd like to make `parser` emit less "noise" on dynamic strings.

Lets discuss some of the cases that make it hard for me to maintain unparser. The first case is a class of strings that express the same semantics but the AST is unique for squiggly heredocs:

[code]

Both dynamic strings express the same runtime behavior. But the AST structure returned by `parser`

[2020-12-02 00:43] mbj commented on #771
Dunno why github created this duplicate of #772. Sorry for the noise. I definitively did not submit twice. I suspect some interesting odd condition inside githubs architecture.

[2020-12-02 00:43] #771 closed

[2020-12-02 17:08] mbj commented on #772
@marcandre, @iliabylich what do you think about this proposal. I'd be happy to PR if you agreed that `s(:str, "")` nodes inside `dstr` have no real value unless they actually point to literal strings.

[2020-12-02 17:12] iliabylich commented on #772
So to sum up: the ticket is about removing dummy `s(:str, "")` nodes that are implicitly removed from the source on heredoc dedenting, right?

👍  I agree, they have no source maps and no values. Feel free to send a PR, if not I'll do it in a few days

[2020-12-02 17:13] marcandre commented on #772
Sounds good to me too 👍

[2020-12-09 17:44] #772 closed

[2020-12-09 19:56] mbj commented on #772
@iliabylich thanks, sorry I couldn't get to it by myself.

[2020-12-13 11:29] iliabylich opened #775 "ruby/ruby@88f3ce1"
https://github.com/ruby/ruby/commit/88f3ce12d32ffbef983b0950743c20253ea2d0c6

[2020-12-13 12:27] iliabylich commented on #775
I guess I have to rename `in_match` node:

[code]

Honestly I have absolutely no idea how to name them. @marcandre @mbj @palkan Any thoughts? `match_pattern/match_pattern_with_error`?

[2020-12-13 17:04] marcandre commented on #775
How about `match_pattern` for `=>`  and `match_pattern_p` (as in predicate) for `in`? I'd say the simplest name could be the raising version, as it is the same as `case-in`.

[2020-12-13 17:10] iliabylich commented on #775
Oh, that's a great name. Thanks, I'll use it (unless someone else comes with a better proposal 😄 )

[2020-12-14 10:55] iliabylich opened #776 "ruby/ruby@dc1cc33"
https://github.com/ruby/ruby/commit/dc1cc33d691faacccd2c12ce3ca75b24cc89dbf9

[2020-12-14 10:57] iliabylich commented on #776
also https://github.com/ruby/ruby/commit/070a990bcb81ed371fc60e3922f5329b1020aa44

[2020-12-14 11:17] iliabylich commented on #776
also https://github.com/ruby/ruby/commit/332317472779554f991ffa5bad74c1255828cc21

[2020-12-14 16:31] palkan commented on #775
Another idea: `in_match` and `assoc_match`. I'm not sure AST should reflect the underlying behavior (I mean, `bool`).

[2020-12-14 17:48] marcandre commented on #775
Good question. I'm not sure of the answer. Maybe behavior is actually more important than how they're written. If the behavior was not different, we wouldn't need a different type. Or if (god forbid 😅) there's one day a new way to write one or the other, say `~~` === `in`, it should use the same AST.

[2020-12-14 17:59] palkan commented on #775
Similarly, `true/false` could become `truthy/nil` in the future, so, making `bool` a bit confusing.

And I think a parser should care more about the _language_ and not the _implementation_. And the language has no knowledge of the possible return values.

[2020-12-16 14:27] iliabylich commented on #775
I'm going to go with `match_pattern`/`match_pattern_p`. Yes, currently `in` works as a predicate, `=>` throws an error, but I have a bad feeling that it's not a final version and that it can be changed someday. It's been announced that pattern matching is (mostly) stable, but it's a feature that is used by only a small percentage of users, and so yeah, I expect changes to be made in the near futur

[2020-12-16 16:21] iliabylich commented on #776
ok, so as I understand this is a new magic comment that works as a mutable flag on a parser. Yes, new comment value overrides what's set before:

[code]

Moreover, it's local to syntax scopes:

[code]

1. `shareable_constant_value: none`
    The simplest one in terms of implementation: it doesn't affect anything. Well, it resets the value.
2. `shareable_constant_value: literal`
    Once set, all c

[2020-12-16 17:12] marcandre commented on #776
Looks correct to me.

And indeed, there's no mention in `NEWS` and no doc 😅. I can't find a doc for other magic comments like `frozen_string_literal`. I'm going to add some doc for this.

[2020-12-16 18:27] marcandre commented on #776
FWIW, I believe that checks should not be made at parse time: https://bugs.ruby-lang.org/issues/17397

[2020-12-16 22:46] #775 closed

[2020-12-20 22:30] marcandre commented on #776
Confirmed: check will be at runtime 🎉
This can be closed.

[2020-12-21 13:00] iliabylich commented on #776
@marcandre Thanks a lot, you are a hero! I'll close it once https://github.com/ruby/ruby/pull/3950 is merged

[2020-12-23 10:35] iliabylich commented on #776
Closing, syntax error was removed in https://github.com/ruby/ruby/commit/7a094146e6ef38453a7e475450d90a9c83ea2277

[2020-12-23 10:35] #776 closed

[2020-12-23 21:53] palkan opened #780 "Using assoc pattern matching as expr"
Found an incompatibility between MRI and Parser:

[code]

While Parser allows this (using master):

[code]

[2020-12-24 14:07] iliabylich commented on #780
Parser doesn't handle void value expressions - https://github.com/whitequark/parser#void-value-expressions. Or are you talking about the warning about experimental feature?

[2020-12-24 14:15] palkan commented on #780
Oh, got it. I think, I will ignore them, too 🙂

Nope, I was referring to the void expression error.

[2020-12-24 14:15] #780 closed

[2021-01-04 12:31] iliabylich opened #783 "ruby/ruby@35c3a24"
ruby/ruby@35c3a24

[2021-01-12 14:57] rubys opened #784 "recovering from parse errors when running under Opal"
Preface: I don't know if this is a use case that parser is interested in supporting, or if it will accept pull requests to enable running under Opal, but it can't hurt to ask.  Here's a test case, including the first monkey patch.

[code]

To reproduce, place the above in a file named `test.opal`, and run `opal test.opal`.

The first problem, for which the workaround is included above, happens whe

[2021-01-12 15:33] marcandre commented on #784
This is going to be @iliabylich's and @whitequark's call. I did briefly entertain the thought of making my [node pattern debugger](http://nodepattern.heroku.com/) client-side only 😅

I don't know what warning Opal is producing, but Opal should be changed, not the semantics of the code. Freezing data is important in general (e.g. so that `buffer.lines << 'extra line'` is not allowed) and mandatory

[2021-01-12 15:34] iliabylich commented on #784
Correct, and this is why Opal has the following patch - https://github.com/opal/opal/blob/master/lib/opal/parser/patch.rb#L32-L40

Right, this code was changed in `parser-3.0.0.0`, but I guess Opal doesn't need to apply any additional changes.

This `.freeze` call was added to make instances of `Buffer` share-able across multiple ractors. AST nodes contain `Source::Range`s, ranges refer to buffer.

[2021-01-12 15:43] iliabylich commented on #784
Oh, I believe it's very doable with Opal, it can compile racc- and ragel-generated code (it can even compile `parser`). Only immutable strings and probably the lack of some new Ruby APIs that you use could cause troubles, but overall `Opal.use_gem` and `require 'rubocop/node-compiler'` should work out of the box.

[2021-01-12 15:47] marcandre commented on #784
Cool, I'll add checking `rubocop-ast` Opal compatibilty on my ever-growing to-do list :-)

FWIW, `split("\n")` seems faster than `lines.map(&:chomp!)` (which is what was suggested here, not calling `chomp`)

[code]

[2021-01-12 15:48] iliabylich commented on #784
Right, but `split` doesn't handle `\r\n` (I believe that's the reason):

[code]

[2021-01-12 15:51] marcandre commented on #784
Oh, right...

[2021-01-12 16:01] rubys commented on #784
`"a\r\nb".split(/\r?\n/)` produces the right answer, but may not be performant.

[2021-01-12 16:11] marcandre commented on #784
Yeah, I double checked but it isn't

[2021-01-12 18:38] rubys commented on #784
Here is what I was suggesting:

[code]

I actually think the result is *more* readable, and probably even performs better, though I doubt that performance is critical on an error path like this one.

There is one difference in behavior, however.  The current code will have extra spaces after the highlighting, my proposed version does not.  That's probably an improvement, but if the spaces are nece

[2021-01-12 18:45] iliabylich commented on #784
Yes, I like it too. It does mutate strings, but error rendering is not a part of the default path.

Could you send a PR please?

[2021-01-12 18:59] rubys commented on #784
It is prettier but buggy.  I'll work on a version that works, and submit a pull request.

By the way, it doesn't mutate strings, which is why Opal should be able to handle the modified version.

[code]

[2021-01-12 19:02] iliabylich commented on #784
Oh, that was I typo, I literally missed the word "not" 😄 . Right, it doesn't mutate strings.

[2021-01-13 00:28] rubys opened #785 "highlight line should handle case where size == 0"
Reproduction instructions:

[code]

Note the blank line where there should be either a caret or a tilde indicating the spot of the error.

The code in question is in [Parser::Diagnostic::render_line](https://github.com/whitequark/parser/blob/6337d7bf676f66d80e43bd9d33dc17659f8af7f3/lib/parser/diagnostic.rb#L124-L128).

I'd submit a pull request, but it isn't clear to me whether the code should be

[2021-01-13 00:45] rubys commented on #784
Update: I found an unrelated issue (https://github.com/whitequark/parser/issues/785) and am pursuing a different patch for the use of mutable strings in `render_line`.  With the patch described below along with [patch.rb](https://github.com/opal/opal/blob/master/lib/opal/parser/patch.rb), I am able to recover from parse errors.

While it is rather straightforward to convert a single range into a h

[2021-01-13 00:45] #784 closed

[2021-01-13 17:11] iliabylich commented on #785
`$end` is a special token that has `begin = end = EOF`, this is why it has zero source range.

Some other languages also don't render it:
[code]

but some languages do:
[code]

I think it's ok to change it. A few  options:

1. we could emit `$eof` token with a EOF...EOF+1 range, but I can't estimate implications of this change. Potentially it can break libraries that depend on `parser`.
2. we coul

[2021-01-13 23:57] rubys commented on #785
I actually don't believe that any additional token is needed.  At the moment, `render_line` is called with the following values:

[code]

Given this information, all that needs to be decided is:

 * what character to use.  either caret and tilde seem to be reasonable choices
 * what position to place this character.  For this input, either column 5 or column 6 (counting the first character as one)

[2021-01-14 11:10] palkan commented on #785
Nope 🙂

[2021-01-14 11:15] iliabylich commented on #785
@rubys Yes, but then how can you know **when** this custom rule should be applied? If we apply it to all zero-length ranges we can easily miss some bugs for other diagnostic messages. Same for `EOF...EOF` ranges in general. This additional logic should be applied **only** to `unexpected token $eof` error.

I'd use caret.

Agree, so for `foo++` we should get
[code]

[2021-03-12 00:31] eugeneotto opened #789 "Escaped backslash at end of line causes newline to be removed in heredocs"
Here is a small script that demonstrates the behavior:

[code]

This is the script's output:

[code]

This is ruby-parse's output:

[code]

[2021-03-12 00:35] eugeneotto commented on #789
This does not appear to be an issue with stabby heredocs (`<<-TXT`).

[2021-03-12 00:41] iliabylich commented on #789
@eugeneotto Thanks for reporting it.

The bug is definitely somewhere in https://github.com/whitequark/parser/blob/master/lib/parser/lexer/dedenter.rb. Looks like blindly splitting by `"\\\n"` is a wrong strategy, because `"\\"` part can go after another `"\\"` and so then it's just a single `"\"` character in the output.

I'll try to find some time to fix it. Or feel free to send a PR if you have

[2021-03-24 07:39] koic opened #790 "ruby/ruby@2186347"
https://github.com/ruby/ruby/commit/21863470d965b8cc299b1f82417c70d5d26f8ab2

[2021-04-20 01:34] bkuhlmann opened #795 "Fix Parser::SyntaxError error with endless method for object equality"
## Overview

Discovered when attempting to write an endless method for object equality that I'd get a syntax error. Here's a snippet for illustration:

[code]

In this case, I'm using [Reek](https://github.com/troessner/reek) to illustrate the stack dump in case it's helpful:

<details>
  <summary>Reek Stack Dump</summary>

[code]
</details>

## Steps to Recreate

You can recreate this issue quick

[2021-04-20 10:03] #795 closed

[2021-04-20 11:08] iliabylich commented on #783
Doesn't need a backport:
[code]

[2021-04-20 11:08] #783 closed

[2021-04-20 11:36] #790 closed

[2021-04-20 12:40] bkuhlmann commented on #795
Thanks! :bow:

[2021-05-12 17:30] iliabylich opened #799 "ruby/ruby@31794d2"
https://github.com/ruby/ruby/commit/31794d2e733e081e4e221f27aff6380393981681

[2021-05-13 08:03] iliabylich opened #800 "ruby/ruby@11ae581"
https://github.com/ruby/ruby/commit/11ae581a4a7f5d5f5ec6378872eab8f25381b1b9

[2021-05-13 08:03] iliabylich commented on #800
also https://github.com/ruby/ruby/commit/110f242ef9b495037f59e4972ee102a8b8b372d5

[2021-05-14 08:50] #799 closed

[2021-05-19 22:30] poloka opened #802 "Receiving unexpected token kIF_MOD"
I will need to do some more investigating but going from the latest 2.7.x to this 3.0.x I am running into an error noting `unexpected token kIF_MOD`.  I will do more digging to reproduce and supply an example but figured I throw this out here in case someone else has seen it and had a suggestion before I spent a lot of time.
[code]

[2021-05-20 00:14] iliabylich commented on #802
Could you post some example that gives this error? I think you can get it somewhere in `lib/flatten_jbuilder/normalizer.rb:62` 😄

`kIF_MOD` token is what is emitted for the `if` keyword in code constructions like `foo if bar`. There were no changes to this logic for years, so I suppose you pass invalid Ruby code to `parser`

[2021-05-20 14:09] poloka commented on #802
@iliabylich Interesting, if this code hasn't changed for years something in the sequencing has.  Like I mentioned, the 2.x version of the parser works without any issues but once update to the 3.x it fails with the noted error.  And thanks for the direction.  I am going to find a way to reproduce today and post my findings.

[2021-05-20 20:08] poloka commented on #802
Since my issue looks most likely to be un related to parser, I'm going to close this for now.  I've got to do some more research into unparser to see how its logic in combination with using this project has caused me issues.

[2021-05-20 20:08] #802 closed

[2021-05-20 21:12] mbj commented on #802
@poloka you also should only pass  the "modern ast format" to unparser, unparser is incompatible with the backwards compatible parser defaults.

[2021-05-28 04:24] lulalala opened #803 "Rubydoc missing characeters"
I was reading through the documentation on Rubydoc

[2021-06-03 07:48] iliabylich opened #804 "ruby/ruby@37eb5e7"
https://github.com/ruby/ruby/commit/37eb5e74395f148782f7d67b5218fb2e66b113d7

[2021-06-03 07:48] iliabylich commented on #804
also https://github.com/ruby/ruby/commit/9f3888d6a3387773c8707b7971ce64c60df33d36

[2021-07-08 13:51] marcandre opened #806 "Documentation not updated"
The docs at https://whitequark.github.io/parser/ are 7 years old, but still linked from the README

[2021-07-10 03:52] pocke opened #809 "EOF characters should be allowed as heredoc delimiter"
# Problem

`^D`, `^Z`, and `\0` should be allowed as heredoc delimiter if it is surrounded with quotes, but isn't.

For example:

[code]

[code]

[code]

[2021-07-10 09:06] pocke commented on #809
By the way, I found other bugs during `grep c_any` in lexer.rl.
Both of the following are accepted by CRuby, but `ruby-parse` raises an error unexpectedly.

* `/^D/`
* `?^D`

Note that `^D` means `0x04`.

Maybe there are other bugs related to `c_any` char class in lexer.rl but didn't investigate it deeply.

ref: #808

[2021-07-16 03:25] koic opened #812 "ruby/ruby@fa87f72"
https://github.com/ruby/ruby/commit/fa87f72e1e84e2b55516be188f00434a683b924c

[2021-07-16 08:35] #812 closed

[2021-08-01 10:16] mvz opened #814 "Beginless ranges and line breaks"
This code seems to be parsed incorrectly:

[code]

Calling `bar` returns `..2`, but Parser parser this as:
[code]

I would expect this to be parser identically to
[code]

This version is parsed by Parser as:
[code]

[2021-08-01 10:20] iliabylich commented on #814
Yes, looks like a bug, `tDOT2` is emitted instead of `tBDOT2` and it's reduced to a normal range

[2021-08-19 10:13] iliabylich opened #815 "ruby/ruby@ecb6d6a"
https://github.com/ruby/ruby/commit/ecb6d6a4ef058b5598a7633c3921eeab08ce11c6

[2021-08-20 10:24] #815 closed

[2021-09-11 15:52] iliabylich opened #817 "ruby/ruby@c60dbcd"
https://github.com/ruby/ruby/commit/c60dbcd1c55cd77a24c41d5e1a9555622be8b2b8

[2021-09-21 12:48] #817 closed

[2021-09-24 11:52] mvz commented on #789
I'm working on a pull request for a related problem that seems to fix this issue as well.

[2021-09-24 14:23] iliabylich commented on #789
Fixed in https://github.com/whitequark/parser/pull/819:

[code]

@eugeneotto Do you need a release? If not it will be released with the next version of Ruby (or once someone asks for release)

[2021-09-24 14:23] #789 closed

[2021-09-25 03:01] eugeneotto commented on #789
Thank you @iliabylich and @mvz! I can wait for the next version of Ruby, but do appreciate the offer 👍

[2021-10-31 10:00] koic opened #823 "ruby/ruby@13a9597"
https://github.com/ruby/ruby/commit/13a9597c7ca83fced5738e9345660ae6aef87eb7

[2021-10-31 10:59] iliabylich opened #824 "ruby/ruby@1b59ad5"
https://github.com/ruby/ruby/commit/1b59ad57ae2fa4cfccaab97f22f943333080ea0c

[2021-10-31 20:09] awcanv commented on #823
Keyb[dtb killeed h[d spy a flo. To facha k

On Sun, Oct 31, 2021, 3:00 AM Koichi ITO ***@***.***> wrote:

[2021-11-04 08:37] hmdne opened #825 "multi-level mlhs treated as single level"
This bug was found in opal/opal#1703

[code]

This also happens in all legacy modes. This works correctly for `((x,y),)` and for `((x,y),z)`

[2021-11-04 09:53] iliabylich commented on #825
Thanks for reporting, yes, looks like a bug

[code]

[2021-11-04 11:31] hmdne commented on #825
There's another issue that I encountered and may be a similar problem:

[code]

Yet:

[code]

[2021-11-18 23:51] iliabylich opened #826 "ruby/ruby@4adb012"
https://github.com/ruby/ruby/commit/4adb012926f8bd6011168327d8832cf19976de40

[2021-11-19 14:44] #804 closed

[2021-11-19 16:11] #800 closed

[2021-11-19 16:12] iliabylich commented on #824
There's nothing to backport, we do exactly the same thing.

[2021-11-19 16:12] #824 closed

[2021-11-19 16:21] iliabylich commented on #826
Looks like this commit requires changes that don't match our current AST format.

I don't want to introduce a new AST node, what's going to happen if we make name of the `blockarg` Node nullable? That'd break everything, right?

/cc @marcandre @koic @mbj @palkan @pocke any thoughts? Initially I had an idea that it's possible to make it nullable behind a compatibility flag and emit `s(:blockarg, :a

[2021-11-19 23:20] mbj commented on #826
Yes, but while the semantics of the AST did not really change, this is a case our AST representation should change if we wanted to be able to replicate the lvar scope from the AST (unparsers domain).

So I'm fine with making a breaking change to the AST format, making the name nullable and teach unparser that. Would not be the first time.

[2021-11-19 23:24] mbj commented on #826
If we did this:

this breaks code that uses the lvar scope:

[code]

Correctly describing the lvar scope at any time is one of the duties of the AST, hence: IMO we have to accept a breaking change to the AST if ruby did so.

[2021-11-20 14:20] marcandre commented on #826
As I've stated before, it is ok if previously unwritable Ruby code produces previously unobtainable AST, as long as all previously writable code keeps producing the same AST. Ideally, the number of children of existing AST types does not decrease, but even that shouldn't be considered a compatibility rule.

So no compatibility flag required here, as there was never a different AST produced for `de

[2021-11-20 14:48] marcandre commented on #826
Alternative would be to have the `block-pass` be something like `(block-pass (unnamed-block))`. This could make upgrading the dependents of `parser` a bit easier (since some may assume that `block-pass` always have a single `Node` child), but that new node would have to have an empty location which is something that `parser` has been reticent to do.

For Rubocop: either would require extremely min

[2021-11-23 10:45] palkan commented on #826
I'm not using `blockarg` explicitly anywhere, so making it nullable shouldn't hurt.
However, adding a compatibility flag (at least for the transition period) makes sense.

Is there a typo? Shouldn't it be `true`?

Also, what about using `s(:blockarg, :_)` for that?

[2021-11-23 13:41] iliabylich commented on #826
Thanks everyone for your feedback.

I think what @marcandre says makes a lot of sense.

`parser` for Ruby < 3.1 will not be affected by making `blockarg` nullable.
`parser` for Ruby >= 3.1 will be affected, but only if new syntax is used.

So if you don't use new syntax you don't need to adapt your code. If you use it - you need to adapt, but it's also required for new node types in absolutely the

[2021-11-26 16:05] koic opened #830 "`error: end pattern with unmatched parenthesis: /(/` occurs when using Ruby 3.1 parser"
An error occurs when parsing `/\(/` regular expression with Ruby 3.1 parser.

## Reproduction context

[code]

The same error occurs in the stable Ruby versions. (e.g. Ruby 3.0.3)

## Expected behavior (using Ruby 3.0 parser)

No errors.

[code]

## Actual behavior (using Ruby 3.1 parser)

`error: end pattern with unmatched parenthesis: /(/` is raised.

[code]

[2021-11-26 16:08] iliabylich commented on #830
oof, thanks a bug in https://github.com/whitequark/parser/commit/24d2f682c56319266602a3b3115e087fd81d667e.

right, there are still "escape sequences" that should be treated without escaping (i.e. as a sequence of independent characters).

I'll take a look tomorrow.

[2021-11-29 12:04] #830 closed

[2021-11-29 15:29] #823 closed

[2021-11-29 16:01] #826 closed

[2021-12-01 09:12] hmdne commented on #825
Ref: #550

[2021-12-08 11:49] hmdne opened #835 "Regression: Squiggly heredoc Unicode difference"
Caught this one with an Opal test failure

[code]

I bisected this issue and it's caused by 61bf873c6194aef53e8cfdda85eb20d1283fa717

[2021-12-08 11:57] iliabylich commented on #835
Thanks for reporting. Yes, that's definitely a bug.

From the first glance it looks like the bug comes from the missing `.force_encoding(original_encoding)` call on a single-line string. Would like you like to send a PR? If not it's absolutely ok, I'll fix it myself in a few hours.

[2021-12-08 12:07] hmdne commented on #835
PR sent

[2021-12-08 12:18] #835 closed

[2021-12-14 23:30] iliabylich opened #837 "ruby/ruby@aa7c4c3"
https://github.com/ruby/ruby/commit/aa7c4c37d7752af4897567dec1b0745873b0457a

[2021-12-29 16:43] iliabylich commented on #837
This commit is a bit problematic to backport. I'm working on it, but it will take some time. Unfortunately, it blocks `3.1.0.0` release.

[2021-12-31 00:31] iliabylich opened #838 "ruby/ruby@f53dfab"
https://github.com/ruby/ruby/commit/f53dfab95c30e222f67e610234f63d3e9189234d

[2022-01-02 23:49] #837 closed

[2022-01-11 12:39] iliabylich opened #842 "ruby/ruby@b633c9a"
https://github.com/ruby/ruby/commit/b633c9ac1cc06610c09aaeba1faa2bf3da7d2be0

[2022-01-11 14:40] #842 closed

[2022-02-15 11:53] iliabylich opened #845 "ruby/ruby@c0651b4"
https://github.com/ruby/ruby/commit/c0651b4ae1426f8ad9322a320d22035223c77537

[2022-02-15 11:53] iliabylich commented on #845
Also https://github.com/ruby/ruby/commit/e6b537e605381b6f1c9518adbeb6813c5e579df7

[2022-04-22 09:19] iliabylich opened #851 "ruby/ruby@3ddf6ad"
https://github.com/ruby/ruby/commit/3ddf6ad4d2f6dae4caa00b8c407768c7062099a0

[2022-05-12 18:52] UltimateGeek opened #852 "array bounds error when using rubocop with parser 3.1"
Using rubocop 1.12.1, and parser 3.1.2.0 it crashes:

[code]

I locked the version of parser down to 3.0.x, and it no longer crashed.

Task definition in my Rakefile:

[code]

[2022-05-12 22:36] iliabylich commented on #852
Could you provide source code that makes it crash? A minimal example if possible. Otherwise it' hard to say what's wrong, the backtrace contains only 3 lines from `parser` that don't do anything suspicious,

[2022-05-13 14:14] csabahenk commented on #323
Hi @whitequark, the workarond you suggest in https://github.com/whitequark/parser/issues/323#issuecomment-253606403 is  not entirely correct (with current Parser at least).

Instead of this:

[code]

I think this is the right one:

[code]

[2022-05-13 16:26] daBee opened #853 "Ruby 3.x Single Line Method Definitions Throwing Errors?"
I've run into an error in another gem that uses `Parser`.  Ruby 3.x introduces some new structures for single line methods.  These definitions have no terminus `end`, which I think is confusing syntax parsing.  It's all explained here:

https://github.com/eapache/starscope/issues/192

[2022-05-13 16:34] iliabylich commented on #853
There's nothing to fix in `parser`. I've attached a comment in https://github.com/eapache/starscope/issues/192

[2022-05-31 13:58] ko1 opened #854 "bad UTF-8 string literal with double quote raises Parser::SyntaxError"
Is it intentional?

[code]

[code]

[2022-05-31 14:08] ko1 commented on #854
https://github.com/whitequark/parser#invalid-characters-inside-comments-and-literals
"including the expanded escape sequences" matches this case?

[2022-05-31 14:21] ko1 commented on #854
Thank you so much for very quick response!

[2022-05-31 14:21] #854 closed

[2022-05-31 14:28] iliabylich commented on #852
Feel free to reopen if there'a specific code snippet that causes this error.

[2022-05-31 14:28] #852 closed

[2022-06-04 14:13] RazrFalcon opened #855 "Crashes during escaped Unicode surrogate pairs parsing"
[code]

I would assume that U+D800...U+DFFF should be ignored.

[2022-06-04 14:15] RazrFalcon opened #856 "Empty curly Unicode escape is not an error"
[code]

[2022-06-04 15:35] iliabylich commented on #855
I can't reproduce it locally:

[code]

Is it related to an old version of Ruby? Could you try it on a version of Ruby that is [still supported (i.e. at least 2.7)](https://www.ruby-lang.org/en/downloads/branches/)

My hunch is that old Ruby has old Unicode support that doesn't know about these codepoints.

[2022-06-04 15:36] iliabylich commented on #856
Just like in https://github.com/whitequark/parser/issues/855 I can't reproduce your error:

[code]

Please, try at least Ruby 2.7, older versions are not supported.

[2022-06-04 15:37] RazrFalcon commented on #855
This is the default Ruby on macos. I'm not if you do support it.

[2022-06-04 15:45] iliabylich commented on #855
No, Ruby 2.7 is deprecated [since 2022-04-12](https://www.ruby-lang.org/en/downloads/branches/). We do run tests for `2.6.10` [on CI](https://github.com/whitequark/parser/blob/master/.github/workflows/test.yml#L20), and at least this version works well. You can use rbenv/RVM or whatever is popular these days to install a newer version of Ruby.

I'm closing it, but feel free to reopen it if the err

[2022-06-04 15:46] iliabylich commented on #856
Similar to #855

[2022-06-04 16:15] RazrFalcon commented on #855
Am I still doing something wrong?

[code]

[2022-06-04 16:18] RazrFalcon commented on #855
Same, but using current master:

[code]

[2022-06-04 16:36] iliabylich commented on #855
Sorry, bash escaping issue, I should've checked this code in a separate file. My bad.

[code]

This is a bug and it should be fixed, reopening.

The error comes from [this line](https://github.com/whitequark/parser/blob/master/lib/parser/lexer.rl#L698), `codepoint` is `"D800".to_i(16) == 55296` and so Ruby gives an error on converting a codepoint to a character:

[code]

I'm pretty sure we need to

[2022-06-04 16:41] iliabylich commented on #856
This is a real bug, too:

[code]

[2022-06-04 16:43] RazrFalcon commented on #855
Sure, no problem. I was running it in Fish and didn't even though about shell escaping differences.

[2022-06-07 10:42] iliabylich opened #857 "ruby/ruby@ec35422"
https://github.com/ruby/ruby/commit/ec3542229b29ec93062e9d90e877ea29d3c19472

[2022-06-08 09:20] adam429 opened #858 "Different behavior code parser to identical AST tree (array map)"
If you run code1 and code2 in ruby, it get different result.

But when parser to AST tree, the code1 AST tree is identical to code 2 AST tree.

[code]

[2022-06-08 12:32] iliabylich commented on #858
Yes, you probably want to "modernize" an AST builder:

[code]

Or (more specifically) enable a single flag:

[code]

I'd strongly recommend enabling all of them unless you have a huge codebase that relies on the "old" format of the AST.

[2022-06-08 12:32] #858 closed

[2022-06-08 14:59] iliabylich commented on #858
I agree, but that would be a breaking change that current versioning system doesn't support.

Do you see a way to automatically enable "modern" mode and keep it compatible? Adding another class (`ModernRubyXY`?) or an extra option to a `Parser` class doesn't change the whole picture, existing users don't pass any extra options or flags anyway.

Also, compatibility flags is the only way to keep AST

[2022-06-08 16:21] marcandre commented on #858
FWIW, RuboCop made specific choices on the switches; we have two turned on (`emit_forward_arg` and `emit_match_pattern`), everything else is off.

The `rubocop-ast` gem, which is a layer on top of `parser` and adds things like the node pattern is compatible with all combinations of switches.

[2022-06-08 16:24] marcandre commented on #858
My personal opinion is that some of those switches are really "in retrospect, we made a mistake and we're fixing it with this switch", others are "there's a theoretical difference between these, but not a practical one" (I'm thinking of lambda, which is counter productive to turn on for linting tools like `rubocop`), and some are in between (like `emit_proc0`) that really depends on what the tool

[2022-06-08 16:54] marcandre commented on #858
I should have mentioned, but `rubocop` would break if a user somehow where to upgrade `parser` but not `rubocop`, as gem requirement is `>= some_version`.

[2022-06-08 17:56] palkan commented on #858
I'm not sure preventing such mistakes worth a breaking change. Instead, we can make it clearer in the documentation and, maybe, add a simpler API to _modernize_. We do not expect developers to start using Parser without looking at the Readme first, right?

So, right now we have:

Load Parser (see the [backwards compatibility](https://github.com/whitequark/parser/issues/858#backwards-compatibility)

[2022-06-29 10:02] iliabylich opened #859 "ruby/ruby@685efac"
https://github.com/ruby/ruby/commit/685efac05983dee44ce2d96c24f2fcb96a0aebe2

[2022-06-30 08:44] iliabylich opened #860 "ruby/ruby@982cda9"
https://github.com/ruby/ruby/commit/982cda9a3e908c7ab49632c46f4b1e3c0219f9f2

[2022-06-30 08:50] koic opened #861 "An error occurs when using an one-liner (`in`) pattern matching"
This is a valid syntax from Ruby 3.1.

## Ruby 3.0

Both operands are hash literal:

[code]

## Ruby 3.1

Ditto:

[code]

But the parser gem raises the following error:

[code]

cf. https://github.com/rubocop/rubocop/issues/10773

[2022-07-06 07:50] iliabylich opened #862 "ruby/ruby@eaeb130"
https://github.com/ruby/ruby/commit/eaeb130b11fefe91aaf61f294ea32af76dada74f

[2022-07-11 16:26] iliabylich opened #863 "restore mfa to rubygems.org"
I've lost access to rubygems.org and I've been asked to create this issue for visibility to restore it.

I'll close it by myself once it's resolved, sorry for sending spam to whoever is subscribed to this repo 😄

[2022-07-14 14:22] #863 closed

[2022-08-02 18:46] #861 closed

[2022-08-13 14:47] liijunwei opened #865 "Broken link in README"
[Insane](http://whitequark.org/blog/2013/04/01/ruby-hacking-guide-ch-11-finite-state-lexer/) Ruby lexer rewritten from scratch in Ragel.

[2022-08-19 09:09] iliabylich opened #866 "ruby/ruby@3541f32"
https://github.com/ruby/ruby/commit/3541f32951fecdfea76ef6de028d50ba58cb07b9

[2022-08-26 08:24] iliabylich opened #868 "ruby/ruby@13d3133"
https://github.com/ruby/ruby/commit/13d31331c87f6fc0a8d43135be67090cd4c810c3

[2022-09-11 12:33] iliabylich opened #869 "ruby/ruby@db0e0da"
https://github.com/ruby/ruby/commit/db0e0dad1171456253ebd899e7e878823923d3d8

[2022-09-27 18:48] lacostenycoder opened #870 "parser/current is loading parser/ruby25, which recognizes2.5.9-compliant syntax, but you are running 2.5.8."
This type of issue seems to be recurring. Can this be fixed?

[2022-09-27 21:33] iliabylich commented on #870
It's not a recurring issue, this warning is there on purpose. The warning also includes a link to [this section](https://github.com/whitequark/parser#compatibility-with-ruby-mri) which describes it.

Basically Ruby doesn't follow semantic versioning in it's grammar, there can be changes in a patch version.

However `parser` maintains only latest major versions, i.e. for 2.5 that is `2.5.9`, which

[2022-09-27 21:33] #870 closed

[2022-10-13 17:13] eregon opened #871 "The generated Parser::Lexer#advance method is too big for JIT compilers"
I have been investigating why `parser` is so slow on TruffleRuby.
I had a suspicion it's a too big generated method and indeed that's now clearly the case from this analysis: https://github.com/oracle/truffleruby/issues/2290#issuecomment-1277796067
This has been found before, and notably I found https://github.com/whitequark/parser/issues/524 from a quick search.

To summarize, the `Parser::Lexer#

[2022-10-14 12:21] eregon commented on #871
Maybe we could experiment by doing that as postprocessing (e.g. using `parser` :D) or tweaking Ragel.
Specifically we could wrap every
[code]
in a lambda like
[code]
And possibly only do so when there is more than some threshold of code for a semantic action.
It's likely not as efficient as manually grouping bigger semantic actions in methods, as calling a lambda passes the frame etc, but OTOH it'

[2022-10-14 13:58] iliabylich commented on #871
Does anyone know why? Maybe that's a bug of Ragel? EDIT: I've found https://github.com/whitequark/parser/pull/248#issuecomment-173191333

I don't know, last time I checked it (~2y ago) it worked but I had similar number of LOCs.

No.

True, but it will also make it slightly slower on MRI, right?

Not sure. A long time ago I made [this](https://github.com/opal/c_lexer) - it's a port of the lexer to

[2022-10-14 14:19] eregon commented on #871
It could, we'd have to measure it to know. Probably not much if it's extracted methods.

We could also potentially generate two lexer files, especially with the automated lambda approach in https://github.com/whitequark/parser/issues/871#issuecomment-1278933926 that'd make more sense. So we'd use the current state on CRuby but the "lambda-ified" versions for TruffleRuby, JRuby, etc.
If we use anot

[2022-10-14 14:22] kddnewton commented on #871
The _parser_ side of things in the new project is pretty far off, but the _lexer_ side of things is actually quite a bit closer. Maybe it's worth investigating using the shared library just for the lexing bit?

[2022-10-14 14:27] iliabylich commented on #871
No, I think this won't work. In MRI parser tells lexer what to do in multiple places, i.e. you can't tokenize without performing reduce actions in the parser 😄 . What that means is that the state of the parser is tightly coupled with the state of the lexer, and any other lexer (with different internal state) won't match the parser (and other way around), and so only **this** (or very similar) lexe

[2022-10-17 08:47] faraaz-deepsource opened #872 "Undefined method '>' for nil:NilClass"
I have been getting this exception from the parser, while I am parsing the source code. Unfortunately I am not able to determine on which code this happens because I don't have access to the code that `ProcessedSource#from_file` is running on. However it seems to be related to `numparams`. Could it be similar to #616 or #186?

[code]

I have tried running it on different permutations of numparams

[2022-10-17 11:12] iliabylich commented on #872
What is the version of that `parser` that you use? You backtrace doesn't match `ruby31.rb` in the master branch.

I'm pretty sure it is a similar issue. Once I know what is your version I think it should be easy to find the smallest reproducible example.

[2022-10-17 11:24] faraaz-deepsource commented on #872
@iliabylich its v3.0.2

[2022-10-17 11:27] faraaz-deepsource commented on #872
Here's the backtrace from cloud console
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/113512303/196165559-7be6e365-4106-4a83-b45e-e1a152bd4b89.png">

[2022-10-18 09:36] faraaz-deepsource commented on #872
What about #742 ? That seems to be giving a similar error (I apologize if it's not I'm not too familiar with this codebase) but your change for it was to [check if it's not nil first](https://github.com/whitequark/parser/pull/725/files#diff-82c64c23f5bd4e5afe1bc77d2baf50f7254f5702ae6eb855bdac5c044ad35b04).

Would that work for this issue? Also, I noticed the latest `parser` version has different l

[2022-10-18 09:48] iliabylich commented on #872
No, that's a different issue.

No, like I mentioned above it's related to two internal stack having a different size. Swallowing an error is not a solution here.

Oh, right, I changed max numparam stack to also contain information from the context stack, so I think it should be a bit more reliable on master. You could try it. And just FYI: `parser` always moves forward in terms of versions, and so

[2022-10-20 18:39] iliabylich commented on #851
There's nothing to backport.

[2022-10-20 18:39] #851 closed

[2022-10-20 19:01] marcandre commented on #838
I agree about `lvar` being bad.

It's a bit tricky. On one hand it would be nice to have a very similar form to what exists. On the other hand, there is no splatting being done, i.e. no coercing via `to_hash` or similar will ever take place, contrary to `*args` / `**opts`.

That's why I'm thinking of having `s(:forwarded-restarg)` and `s(:forwarded-kwrestarg)` instead of `s(:splat, s(:lvar ...))`

[2022-10-21 00:15] palkan commented on #838
I like it.

But we also have: `def foo(&) = bar(&)`, which currently re-uses the `blockarg` and `block-pass` nodes respectively. Maybe, we should follow this pattern for `*` and `**` 🤔

[2022-10-26 16:56] #857 closed

[2022-10-26 17:30] #838 closed

[2022-10-26 17:42] #859 closed

[2022-10-26 17:52] #860 closed

[2022-10-26 18:29] #862 closed

[2022-10-26 18:48] #868 closed

[2022-10-26 19:00] #869 closed

[2022-10-30 15:25] janbiedermann commented on #871
This issue applies to opal likewise, when run the compiler is run in node. V8 cannot optimize, because the method is to big.

[2022-11-09 16:07] fer9305 opened #884 "Parser::CurrentRuby#parse converts .'s to &.'s"
👋 parser newbie here

Is there a way to call the parse method with an expression and convert every .'s to use safe operator? I tried looking at the docs but couldn't find anything, or are we expected to `gsub` the expression to replace it ourselves?

Like:

[code]

[2022-11-09 18:37] iliabylich commented on #884
No, it's not possible because `send` and `csend` are semantically different nodes.

What are you trying to do? Depending on what you want to get there are multiple options:

1. If you need to rewrite an AST (and do something later with it without touching your source code) there's  a [Parser::AST::Processor](https://www.rubydoc.info/gems/parser/3.1.2.1/Parser/AST/Processor)
2. If you need to chang

[2022-11-15 16:36] fer9305 commented on #884
I think the usage of [Parser::Source::TreeRewriter](https://www.rubydoc.info/gems/parser/3.1.2.1/Parser/Source/TreeRewriter) is what I'm looking for.

Basically I need to change source code from this:

`foo.bar == 15`

over to:

`foo&.bar == 15`

Any suggestions how can I detect the `.` here? I think I could use replace to change it over to `&.` but I'm not sure how to detect it

[2022-11-15 17:29] fer9305 commented on #884
Ok based on the [docs example](https://www.rubydoc.info/gems/parser/Parser/TreeRewriter#insert_before-instance_method) I could detect the `send` node but now I can't replace the '.' 😓

[code]

This is what I got in the `node`'s `location`
[code]

I think I'd need to change the ranges around the selector's range and try somehow to replace the `dot` ?

[2022-11-15 18:38] marcandre commented on #884
The easiest might be to write a custom `rubocop` Cop that would autocorrect what you want into something else.

I would recommend asking your followup questions on StackOverflow or similar and reserve issues for actual bug reports.

Good luck

[2022-11-15 19:12] iliabylich commented on #884
Yes, that's a good idea as well. Rubocop has a [great documentation](https://docs.rubocop.org/rubocop/development.html#autocorrect) for its autocorrect functionality.

If you don't have (and don't want to have) Rubocop you can still do it manually by calling `replace` in your subclass with a proper `range` argument. One of the `parser`'s main goals is to emit correct and complete locations of lite

[2022-11-15 19:12] #884 closed

[2022-11-18 11:37] iliabylich opened #885 "ruby/ruby@ddd62fa"
https://github.com/ruby/ruby/commit/ddd62fadaf91418cd259593285bc59358fb0b166

[2022-11-23 12:02] eregon commented on #871
On that subject, https://sillycross.github.io/2022/11/22/2022-11-22/ makes a good case for C compilers not being to optimize well big switch/case statements.

Regarding `c_lexer` I didn't try it yet, but I suspect if we execute it on GraalVM LLVM like other C extensions we'll also just have a too big C function to compile. We actually had the same problem with Ripper, which is a huge C function as

[2022-11-23 12:13] iliabylich commented on #871
[lib-ruby-parser](https://github.com/lib-ruby-parser/lib-ruby-parser) also uses Bison and its main function consists of 8513 LOC and 775 case-switch branches but it's very performant (~ 600K LOC/s), so I'm pretty sure it can be potentially optimised. Could you test it please? Or is it incompatible with TruffleRuby in terms of C APIs?

Anyway, I don't see any other solution, so I guess it's worth t

[2022-11-23 12:41] eregon commented on #871
BTW, I noticed in Ripper, the lexing function seems to be `parser_yylex` and that's only 707 lines long:
https://github.com/oracle/truffleruby/blob/c9c717bf822deb4d5592eeedc05d1842bf72b88d/src/main/c/ripper/ripper.c#L16309-L17016
That's about 10x smaller than Ragel-generated lexers, which is quite an impressive difference.

I tried `c_lexer` on TruffleRuby (with these [fixes](https://github.com/op

[2022-11-23 12:47] iliabylich commented on #871
I don't think it's an easy task. The library is written in Rust, C bindings are a wrapper around Rust lib (and it's pre-compiled for major platforms in Releases section), Ruby bindings are a wrapper around C bindings, so... I don't think it's an easy task.

Many actions in lexer depend on local variables that are a part of this giant switch, so it's possible only in a small subset of trivial actio

[2022-11-29 13:08] iliabylich opened #888 "ruby/ruby@4fc668a"
https://github.com/ruby/ruby/commit/4fc668a4f3b9b67cc7566096ab55cab34c67c158